// never mind this
.ontwerp.notitie {
	display: block;
	
	p {
		display: block;
		width: 100%;
		margin-top: 24px;
		font-family: $etica_light;
		color: $wit;
		font-size: 60px;
		line-height: .9em;
		text-align: center;
	
		+ p {
			display: block;
			width: 200px;
			margin: 0 auto;
			padding: 2px 3px;
			font-size: 24px;
			background-color: rgba(0, 0, 0, .4);
			@include border-radius(3px);
		}
	}
}


