
/* - - menu - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.slidemenu {
	opacity: 0;
	//@include font-etica();
	background: $wit;
	border: 1px solid $lichtgrijs;
	box-shadow: 0 5px 20px rgba(0,0,0,0.1);
	width: 250px;
	position: fixed;
	pointer-events: none; // voorkom dat onzichtbare menu de share-knoppen in de weg zit
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	transition-duration: 300ms;
	top: 60px;
	right: 29px;

	ul {
		position: relative;
		margin: 0;
		padding: 10px;

		&:after, &:before {
			bottom: 100%;
			left: 85%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: transparent;
			border-bottom-color: $wit;
			border-width: 15px;
			margin-left: -15px;
		}

		&:before {
			border-color: transparent;
			border-bottom-color: $wit;
			border-width: 15px;
			margin-left: -15px;
		}

		li {
			list-style: none;
			padding: 5px 0;
			&:first-child {
				padding-bottom: 10px;
			}
			&.name {
				padding-top: 10px;
				border-top: 1px solid $lichtergrijs;
				color: $grijzer;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			a {
				color: $lichtzwart;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.slidemenu-reveal {
	opacity: 1;
	pointer-events: auto;
	z-index: 11;
}
