/* - - _proto.byline.scss  - - - - - - - - - - - - - - - - - - - - - - - - -


	Bylines op artikelpagina's


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */






.byline {
	position: relative;
	margin: 21px 0;
	font-family: $etica-book;

	@include breakpoint(tablet) {
		height: 48px;
		margin: 21px 0 32px;
	}

	// container voor avatar en auteursna(a)m(en)
	.auteurs {
		display: inline-block;
		float: left;
		padding: 0 6px 0 0;
		line-height: 24px;

		@include breakpoint(tablet) {
			line-height: 48px;
		}
	}

	// avatar in een rondje
	img {
		display: inline-table;
		float: left;
		width: 24px;
		height: 24px;
		margin: 0 0 0 -3px;
		border-radius: 24px;

		@include breakpoint(tablet) {
			width: 48px;
			height: 48px;
			margin: -3px 12px 0 -12px;
			border-radius: 48px;
		}
	}

	// lijst met auteursna(a)m(en)
	ul {
		display: inline-table;
		font-size: 13px;
		line-height: 24px;
	
		@include breakpoint(iphone-zes) {
			font-size: 14px;
		}
	
		@include breakpoint(iphone-zesplus) {
			font-size: 15px;
		}

		@include breakpoint(tablet) {
			font-size: 16px;
			line-height: 48px;
		}
	
		li {
			list-style-type: none;
			display: inline;
		
			&:before {
				content: ', ';
			}
			
			&:last-child:before {
				content: ' en '
			}

			&:first-child:before { // deze moet onderaan staan!
				content: none;
			}
		}
	}
	
	// publicatiedatum
	.datum {
		display: inline-table;
		line-height: 24px;

		@include breakpoint(tablet) {
			line-height: 48px;
		}
	}
	
	.auteurs + .datum:before {
		content: " op ";
	}
}


