/* - - _proto.tekst.scss - - - - - - - - - - - - - - - - - - - - - - - - -


	De tekst op artikelpagina's


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



.tekst {
	margin: 24px 15px 0 18px;
	padding: 0 0 120px;

	@include breakpoint(tablet) {
		margin: 24px 56px 0 72px;
	}
}


// tussenkopjes op artikelpagina's
h3 {
	margin: 27px 0 0;
	font-family: $etica_regular;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 1.15em;
	color: $nrc-rood;

	@include breakpoint(iphone-zes) {
		margin: 30px 0 0;
		font-size: 15px;
	}

	@include breakpoint(iphone-zesplus) {
		margin: 32px 0 0;
		font-size: 15px;
	}

	@include breakpoint(tablet) {
		margin: 36px 0 6px;
		font-size: 16px;
	}
}

h3 + p {
	margin: 6px 0 0;
}

p {
	margin: 12px 0;
	font-size: 15px;
	line-height: 1.6em;

	@include breakpoint(tablet) {
		margin: 18px 0;
		font-size: 18px;
		line-height: 1.5em;
	}
}


p.intro {
	margin: 0 0 18px;
	font-size: 18px;
	line-height: 1.45em;	

	@include breakpoint(tablet) {
		margin: 36px 0 18px;
		font-size: 22px;
		line-height: 1.5em;	
	}
}


p.noot {
	margin: 32px 0 18px;
	font-family: $etica-book;
	font-size: 12px;
	line-height: 1.4em;
	color: $bijnagrijs;

	+ .noot {
		margin: -3px 0 18px;
	}

	@include breakpoint(tablet) {
		font-size: 13px;

		+ .noot {
			margin: -6px 0 18px;
		}
	}

	br {
		display: none;

		@include breakpoint(tablet) {
			display: block;
		}
	}
}


