/* - - _proto.streamer.scss  - - - - - - - - - - - - - - - - - - - - - - - -


	Streamers op artikelpagina's


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */






.streamer {
	display: block;
	margin: 24px 24px;
	font-family: $geh-thin;
	font-size: 16px;
	line-height: 1.5em;
	color: $grijzer;

	b {
		font-family: $geh_semibold;
	}

	@include breakpoint(iphone-zes) {
		font-size: 17px;
	}

	@include breakpoint(iphone-zesplus) {
		font-size: 18px;
	}

	@include breakpoint(tablet) {
		float: right;
		width: 280px;
		margin: 4px 0 24px 30px;
		text-align: right;
		font-size: 23px;
		line-height: 1.7em;
	}
}


