/* - - _proto.inzet.scss - - - - - - - - - - - - - - - - - - - - - - - - - -


	Inzetjes op artikelpagina's


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */






.inzet {
	margin: 32px 0;
	padding: 24px 24px 18px;
	background-color: $donkerwit;
	@include border-radius;

	@include breakpoint(tablet) {
		margin: 36px 0;
		padding: 32px 36px 24px;
	}

	h3 {
		margin: 0 0 7px;
		color: $donkergrijs;
	}
	
	p {
		font-size: 13px;
		line-height: 1.65em;

		@include breakpoint(tablet) {
			font-size: 16px;
		}
	}
	
	p:last-child {
		margin-bottom: 0;
	}
}


