/*
	
    - - - _proto.header.scss - - - - - - - - - - - - - - - - - - - - - - - -

*/




article header.etiket {
	width: 308px;

	@include breakpoint(iphone-zes) {
		width: 363px;
	}

	@include breakpoint(iphone-zesplus) {
		width: 402px;
	}

	@include breakpoint(tablet) {
		width: 756px; 
	}
}


header.etiket {
	position: fixed;
	z-index: 200;
	top: 0;
	width: 100%;
	height: 48px;

	@include breakpoint(tablet) {
		height: 60px;
	}

	.kast,
	.plank {
		position: relative;
		width: 308px;
		margin: 0 auto;

		@include breakpoint(iphone-zes) {
			width: 363px;
		}
	
		@include breakpoint(iphone-zesplus) {
			width: 402px;
		}
	
		@include breakpoint(tablet) {
			width: 756px; 
		}
	}

	.kast {
		height: 32px;
		background-color: rgba($zwart, .92);

		@include breakpoint(tablet) {
			height: 45px;
		}

		.logo img { // origineel: ?px x ?px
			position: absolute;
			z-index: 10;
			width: 107px;
			height: 20px;
			bottom: 5px;
			left: -15px;
			
			@include breakpoint(tablet) {
				width: 134px;
				height: 24px;
				bottom: 9px;
				left: -21px;
			}
		}
	}

	.plank {
		position: relative;
		height: 48px;
		margin: 0 auto;
		border-bottom: 1px solid rgba($wit, .85);
		background-color: rgba($zwart, .7);
	
		@include breakpoint(tablet) {
			height: 60px;
		}

		.logo img { // origineel: 178px x 36px
			position: absolute;
			z-index: 10;
			width: 107px;
			height: 22px;
			top: 13px;
			left: 12px;
			
			@include breakpoint(tablet) {
				width: 134px;
				height: 26px;
				top: 18px;
				left: 12px;
			}
		}
	
		time {
			position: absolute;
			display: block;
			top: 18px;
			left: 132px;
			font-family: $geh-thin;
			font-size: 18px;
			color: #fff;

			@include breakpoint(tablet) {
				position: relative;
				top: 20px;
				left: auto;
				font-size: 21px;
				text-align: center;
			}
			
			a {
				color: #fff;
				border: none;
			}
		}

		.jaartal {
			display: none;

			@include breakpoint(iphone-zes) {
				display: inline;
			}
		}

		.dagnaam {
			display: none;

			@include breakpoint(tablet) {
				display: inline;
			}
		}
	}
}


nav {
	position: absolute;
	width: 96px;
	height: 48px;
	right: 0;
	top: 0;

	@include breakpoint(tablet) {
		width: 120px;
		height: 60px;
	}
}


.a.hamburger {
	position: absolute;
	width: 12px;
	height: 12px;
	top: 15px;
	right: 18px;

	img {
		width: 15px;
		height: 15px;
	}

	@include breakpoint(tablet) {
		top: 21px;
		right: 30px;

		img {
			width: 18px;
			height: 18px;
		}
	}
}


.is.a.person {
	display: none;
	position: absolute;
	width: 28px;
	height: 28px;
	top: 10px;
	right: 54px;

	@include breakpoint(tablet) {
		top: 15px;
		right: 72px;
	}

	img { // wellicht ten overvloede
		width: 100%;
		height: 100%;
	}
}


