/* - - _proto.columns.scss - - - - - - - - - - - - - - - - - - - - - - - - -


	Columns


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */






article.column {
	header img {
		display: inline-table;
		width: 24px;
		height: 24px;
		margin: 0 0 0 -3px;
		border-radius: 24px;

		@include breakpoint(tablet) {
			width: 120px;
			height: 120px;
			margin: -56px 0 15px -56px;
			border-radius: 120px;
		}
	}

	h1 {
		font-family: $geh-thin;
	}

	h4,
	h4 + h4 {
		margin: 0 0 0 36px;
		text-shadow: none;
		display: inline;
		
	}

	h4 + h4 {
		@include breakpoint(tablet) {
			display: block;
			margin: -15px 0 0 0;
		}	
	}

	.streamer {
		float: right;
		width: 40%;
		text-align: right;

		@include breakpoint(tablet) {
			width: 280px;
		}

		p {
			margin: 12px 0;
			font-size: 16px;
			line-height: 2em;
			color: $nrc-rood;
	
			@include breakpoint(iphone-zes) {
				font-size: 17px;
			}
		
			@include breakpoint(iphone-zesplus) {
				font-size: 18px;
			}
		
			@include breakpoint(tablet) {
				margin: 18px 0 48px;
				font-size: 34px;
				line-height: 1.7em;
			}
		}
	}
}