/* grid */
/* - - kleuren  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - resets en defaults - - - - - - - - - - - - - - - - - - - - - - - - */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section, img {
  display: block; }

nav ul {
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 100%;
  background: transparent; }

a:hover, a:active {
  outline: none; }

ins {
  color: black;
  text-decoration: none;
  background-color: #ffff99; }

mark {
  color: black;
  font-weight: 700;
  font-style: italic;
  background-color: #ffff99; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-spacing: 0;
  border-collapse: collapse; }

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ededed; }

input, select {
  vertical-align: middle; }

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* - - LFT Etica  - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: "LFT_Etica_Extrabold";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Extrabold.eot);
  src: url(../fonts/etica/LFT_Etica_Extrabold.eot#iefix) format("embedded-opentype"), url(../fonts/etica/LFT_Etica_Extrabold.svg#LFT_Etica_Extrabold) format("svg"), url(../fonts/etica/LFT_Etica_Extrabold.woff) format("woff"), url(../fonts/etica/LFT_Etica_Extrabold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Extrabold";
    src: url(../fonts/etica/LFT_Etica_Extrabold.svg#LFT_Etica_Extrabold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Bold";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Bold.eot);
  src: url(../fonts/etica/LFT_Etica_Bold.eot#iefix) format("embedded-opentype"), url(../fonts/etica/LFT_Etica_Bold.svg#LFT_Etica_Bold) format("svg"), url(../fonts/etica/LFT_Etica_Bold.woff) format("woff"), url(../fonts/etica/LFT_Etica_Bold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Bold";
    src: url(../fonts/etica/LFT_Etica_Bold.svg#LFT_Etica_Bold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Reg";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Reg.eot);
  src: url(../fonts/etica/LFT_Etica_Reg.eot#iefix) format("embedded-opentype"), url(../fonts/etica/LFT_Etica_Reg.svg#LFT_Etica_Reg) format("svg"), url(../fonts/etica/LFT_Etica_Reg.woff) format("woff"), url(../fonts/etica/LFT_Etica_Reg.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Reg";
    src: url(../fonts/etica/LFT_Etica_Reg.svg#LFT_Etica_Reg) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Light";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Light.eot);
  src: url(../fonts/etica/LFT_Etica_Light.eot#iefix) format("embedded-opentype"), url(../fonts/etica/LFT_Etica_Light.svg#LFT_Etica_Light) format("svg"), url(../fonts/etica/LFT_Etica_Light.woff) format("woff"), url(../fonts/etica/LFT_Etica_Light.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Light";
    src: url(../fonts/etica/LFT_Etica_Light.svg#LFT_Etica_Light) format("svg"); } }
/* uitzondering voor de veelgebruikte Semibold en Book, laden via combined.svg zodat minder requests in Chrome */
@font-face {
  font-family: "LFT_Etica_Semibold";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Semibold.eot);
  src: url(../fonts/etica/LFT_Etica_Semibold.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#LFT_Etica_Semibold) format("svg"), url(../fonts/etica/LFT_Etica_Semibold.woff) format("woff"), url(../fonts/etica/LFT_Etica_Semibold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Semibold";
    src: url(../fonts/combined.svg#LFT_Etica_Semibold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Book";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Book.eot);
  src: url(../fonts/etica/LFT_Etica_Book.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#LFT_Etica_Book) format("svg"), url(../fonts/etica/LFT_Etica_Book.woff) format("woff"), url(../fonts/etica/LFT_Etica_Book.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Book";
    src: url(../fonts/combined.svg#LFT_Etica_Book) format("svg"); } }
/* - - Guardian Egyptian  - - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: "GuardianEgyp-Black-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Black-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Black-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Black-Web.svg#GuardianEgyp-Black-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Black-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Black-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Black-Web";
    src: url(../fonts/guardian/GuardianEgyp-Black-Web.svg#GuardianEgyp-Black-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Bold-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Bold-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Bold-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Bold-Web.svg#GuardianEgyp-Bold-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Bold-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Bold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Bold-Web";
    src: url(../fonts/guardian/GuardianEgyp-Bold-Web.svg#GuardianEgyp-Bold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Semibold-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Semibold-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Semibold-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Semibold-Web.svg#GuardianEgyp-Semibold-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Semibold-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Semibold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Semibold-Web";
    src: url(../fonts/guardian/GuardianEgyp-Semibold-Web.svg#GuardianEgyp-Semibold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Regular-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Regular-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Regular-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Regular-Web.svg#GuardianEgyp-Regular-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Regular-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Regular-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Regular-Web";
    src: url(../fonts/guardian/GuardianEgyp-Regular-Web.svg#GuardianEgyp-Regular-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Light-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Light-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Light-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Light-Web.svg#GuardianEgyp-Light-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Light-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Light-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Light-Web";
    src: url(../fonts/guardian/GuardianEgyp-Light-Web.svg#GuardianEgyp-Light-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Thin-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Thin-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Thin-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Thin-Web.svg#GuardianEgyp-Thin-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Thin-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Thin-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Thin-Web";
    src: url(../fonts/guardian/GuardianEgyp-Thin-Web.svg#GuardianEgyp-Thin-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Hairline-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Hairline-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Hairline-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Hairline-Web.svg#GuardianEgyp-Hairline-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Hairline-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Hairline-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Hairline-Web";
    src: url(../fonts/guardian/GuardianEgyp-Hairline-Web.svg#GuardianEgyp-Hairline-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-SemiboldIt-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.svg#GuardianEgyp-SemiboldIt-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-SemiboldIt-Web";
    src: url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.svg#GuardianEgyp-SemiboldIt-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Black-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianTextEgyp-Black-Web.eot);
  src: url(../fonts/guardian/GuardianTextEgyp-Black-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianTextEgyp-Black-Web.svg#GuardianTextEgyp-Black-Web) format("svg"), url(../fonts/guardian/GuardianTextEgyp-Black-Web.woff) format("woff"), url(../fonts/guardian/GuardianTextEgyp-Black-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Black-Web";
    src: url(../fonts/guardian/GuardianTextEgyp-Black-Web.svg#GuardianTextEgyp-Black-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Bold-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianTextEgyp-Bold-Web.eot);
  src: url(../fonts/guardian/GuardianTextEgyp-Bold-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianTextEgyp-Bold-Web.svg#GuardianTextEgyp-Bold-Web) format("svg"), url(../fonts/guardian/GuardianTextEgyp-Bold-Web.woff) format("woff"), url(../fonts/guardian/GuardianTextEgyp-Bold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Bold-Web";
    src: url(../fonts/guardian/GuardianTextEgyp-Bold-Web.svg#GuardianTextEgyp-Bold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Medium-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianTextEgyp-Medium-Web.eot);
  src: url(../fonts/guardian/GuardianTextEgyp-Medium-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianTextEgyp-Medium-Web.svg#GuardianTextEgyp-Medium-Web) format("svg"), url(../fonts/guardian/GuardianTextEgyp-Medium-Web.woff) format("woff"), url(../fonts/guardian/GuardianTextEgyp-Medium-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Medium-Web";
    src: url(../fonts/guardian/GuardianTextEgyp-Medium-Web.svg#GuardianTextEgyp-Medium-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Regular-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianTextEgyp-Regular-Web.eot);
  src: url(../fonts/guardian/GuardianTextEgyp-Regular-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianTextEgyp-Regular-Web.svg#GuardianTextEgyp-Regular-Web) format("svg"), url(../fonts/guardian/GuardianTextEgyp-Regular-Web.woff) format("woff"), url(../fonts/guardian/GuardianTextEgyp-Regular-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Regular-Web";
    src: url(../fonts/guardian/GuardianTextEgyp-Regular-Web.svg#GuardianTextEgyp-Regular-Web) format("svg"); } }
/* uitzondering voor de veelgebruikte GuardianEgyp-Medium-Web, laden via combined.svg zodat minder requests in Chrome */
@font-face {
  font-family: "GuardianEgyp-Medium-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Medium-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Medium-Web.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#GuardianEgyp-Medium-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Medium-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Medium-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Medium-Web";
    src: url(../fonts/combined.svg#GuardianEgyp-Medium-Web) format("svg"); } }
/* - - typografie - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*
$font-title:	 		$geh_light, Georgia, "Times New Roman", serif;

$font-headline-sans: 	$geh_medium, Georgia, "Times New Roman", serif;

$font-serif: 			$geh_regular, Georgia, "Times New Roman", serif;

$font-sans: 			$etica_book, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$font-sans-headline:	$etica_semibold, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$font-sans-alt: 		"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;

$font-fixed: 			Courier, monospace;
*/
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

/* links */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
  a:link {
    border-bottom: 1px solid #ccccff;
    color: #0000cc; }
  a:visited {
    border-bottom: 1px solid #ccccff;
    color: #000066; }
  a:hover {
    border-bottom: 1px solid #6666ff; }
  a:active {
    border-bottom: 1px solid #fedddf;
    color: #d30910; }

/*
	
    - - - _proto.header.scss - - - - - - - - - - - - - - - - - - - - - - - -

*/
article header.etiket {
  width: 308px; }
  @media (min-width: 375px) {
    article header.etiket {
      width: 363px; } }
  @media (min-width: 414px) {
    article header.etiket {
      width: 402px; } }
  @media (min-width: 767px) {
    article header.etiket {
      width: 756px; } }

header.etiket {
  position: fixed;
  z-index: 200;
  top: 0;
  width: 100%;
  height: 48px; }
  @media (min-width: 767px) {
    header.etiket {
      height: 60px; } }
  header.etiket .kast,
  header.etiket .plank {
    position: relative;
    width: 308px;
    margin: 0 auto; }
    @media (min-width: 375px) {
      header.etiket .kast,
      header.etiket .plank {
        width: 363px; } }
    @media (min-width: 414px) {
      header.etiket .kast,
      header.etiket .plank {
        width: 402px; } }
    @media (min-width: 767px) {
      header.etiket .kast,
      header.etiket .plank {
        width: 756px; } }
    @media (min-width: 1024px) {
      header.etiket .kast,
      header.etiket .plank {
        width: 1014px; } }
  header.etiket .kast {
    height: 32px;
    background-color: rgba(0, 0, 0, 0.92); }
    @media (min-width: 767px) {
      header.etiket .kast {
        height: 45px; } }
    header.etiket .kast .logo img {
      position: absolute;
      z-index: 10;
      width: 107px;
      height: 20px;
      bottom: 5px;
      left: -15px; }
      @media (min-width: 767px) {
        header.etiket .kast .logo img {
          width: 134px;
          height: 24px;
          bottom: 9px;
          left: -21px; } }
  header.etiket .plank {
    position: relative;
    height: 48px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    background-color: rgba(0, 0, 0, 0.7); }
    @media (min-width: 767px) {
      header.etiket .plank {
        height: 60px; } }
    header.etiket .plank .logo img {
      position: absolute;
      z-index: 10;
      width: 107px;
      height: 22px;
      top: 13px;
      left: 12px; }
      @media (min-width: 767px) {
        header.etiket .plank .logo img {
          width: 134px;
          height: 26px;
          top: 18px;
          left: 12px; } }
    header.etiket .plank time {
      position: absolute;
      display: block;
      top: 18px;
      left: 132px;
      font-family: "GuardianEgyp-Thin-Web";
      font-size: 18px;
      color: #fff; }
      @media (min-width: 767px) {
        header.etiket .plank time {
          position: relative;
          top: 20px;
          left: auto;
          font-size: 21px;
          text-align: center; } }
      header.etiket .plank time a {
        color: #fff;
        border: none; }
    header.etiket .plank .jaartal {
      display: none; }
      @media (min-width: 375px) {
        header.etiket .plank .jaartal {
          display: inline; } }
    header.etiket .plank .dagnaam {
      display: none; }
      @media (min-width: 767px) {
        header.etiket .plank .dagnaam {
          display: inline; } }

nav {
  position: absolute;
  width: 96px;
  height: 48px;
  right: 0;
  top: 0; }
  @media (min-width: 767px) {
    nav {
      width: 120px;
      height: 60px; } }

.is.a.hamburger {
  position: absolute;
  display: block;
  cursor: pointer;
  width: 12px;
  height: 12px;
  top: 15px;
  right: 18px; }
  .is.a.hamburger img {
    width: 15px;
    height: 15px; }
  .is.a.hamburger:hover, .is.a.hamburger:active {
    border: none; }
  @media (min-width: 767px) {
    .is.a.hamburger {
      top: 12px;
      right: 18px;
      width: 36px;
      height: 36px; }
      .is.a.hamburger img {
        width: 24px;
        height: 24px;
        margin: 3px auto; } }

.is.a.person {
  display: none;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 10px;
  right: 54px; }
  @media (min-width: 767px) {
    .is.a.person {
      top: 15px;
      right: 72px; } }
  .is.a.person img {
    width: 100%;
    height: 100%; }

/* - - menu - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.slidemenu {
  opacity: 0;
  background: white;
  border: 1px solid #cccccc;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  width: 250px;
  position: fixed;
  pointer-events: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  transition-duration: 300ms;
  top: 60px;
  right: 29px; }
  .slidemenu ul {
    position: relative;
    margin: 0;
    padding: 10px; }
    .slidemenu ul:after, .slidemenu ul:before {
      bottom: 100%;
      left: 85%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .slidemenu ul:after {
      border-color: transparent;
      border-bottom-color: white;
      border-width: 15px;
      margin-left: -15px; }
    .slidemenu ul:before {
      border-color: transparent;
      border-bottom-color: white;
      border-width: 15px;
      margin-left: -15px; }
    .slidemenu ul li {
      list-style: none;
      padding: 5px 0; }
      .slidemenu ul li:first-child {
        padding-bottom: 10px; }
      .slidemenu ul li.name {
        padding-top: 10px;
        border-top: 1px solid gainsboro;
        color: #666666;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .slidemenu ul li a {
        color: #333333; }
        .slidemenu ul li a:hover {
          text-decoration: none; }

.slidemenu-reveal {
  opacity: 1;
  pointer-events: auto;
  z-index: 11; }

.ontwerp.notitie {
  display: none; }

body {
  font-family: "Guardian Text Egyptian Web";
  font-weight: 400;
  font-style: normal;
  background: white; }

main {
  margin: -21px auto 0;
  padding: 0 3px 3px;
  background: white; }
  @media (min-width: 375px) {
    main {
      width: 369px; } }
  @media (min-width: 414px) {
    main {
      width: 408px; } }
  @media (min-width: 767px) {
    main {
      width: 762px;
      padding: 3px; } }
  @media (min-width: 1024px) {
    main {
      width: 1020px;
      padding: 3px 2px; } }

.rij {
  width: 308px;
  margin: 0 auto; }
  @media (min-width: 375px) {
    .rij {
      width: 375px; } }
  @media (min-width: 414px) {
    .rij {
      width: 414px; } }
  @media (min-width: 767px) {
    .rij {
      clear: both;
      width: 762px; } }
  @media (min-width: 1024px) {
    .rij {
      width: 1020px; } }

@media (min-width: 767px) {
  .halve.rij {
    height: 124px; } }
@media (min-width: 1024px) {
  .halve.rij {
    height: 167px; } }

.blok {
  display: inline-block;
  position: relative;
  width: 308px;
  height: 308px;
  margin: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  background-color: #b4b3a4;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media (min-width: 375px) {
    .blok {
      width: 363px;
      height: 363px;
      margin: 3px; } }
  @media (min-width: 414px) {
    .blok {
      width: 402px;
      height: 402px; } }
  @media (min-width: 767px) {
    .blok {
      float: left;
      width: 248px;
      height: 248px; } }
  @media (min-width: 1024px) {
    .blok {
      width: 334px;
      height: 334px; } }
  .blok.weten {
    background-color: #b4b3a4; }
  .blok.sport {
    background-color: #ed1d24; }
  .blok.tech {
    background-color: #b4b3a4; }
  .blok.wetenchap {
    background-color: #cdcf19; }
  .blok.denken {
    background-color: #00abb2; }
  .blok.doen {
    background-color: #cdcf19; }
  .blok.doen.recensie {
    background-color: #774387; }
  .blok.vandaag {
    background-color: #ed1d24; }
  .blok.carriere {
    background-color: #ba1c8e; }
  .blok.offline {
    background-color: #b4b3a4; }

.blok a {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box; }

.blok.plaatje a,
.blok.marcel a,
.blok.margriet-oostveen a,
.blok.simone a,
.blok.wilfried a {
  background: -moz-linear-gradient(30deg, rgba(0, 0, 0, 0.25) 2%, rgba(0, 0, 0, 0.25) 40%, transparent 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(2%, rgba(0, 0, 0, 0.25)), color-stop(40%, rgba(0, 0, 0, 0.25)), color-stop(100%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(30deg, rgba(0, 0, 0, 0.25) 2%, rgba(0, 0, 0, 0.25) 40%, transparent 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(30deg, rgba(0, 0, 0, 0.25) 2%, rgba(0, 0, 0, 0.25) 40%, transparent 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(30deg, rgba(0, 0, 0, 0.25) 2%, rgba(0, 0, 0, 0.25) 40%, transparent 100%);
  /* IE10+ */
  background: linear-gradient(30deg, rgba(0, 0, 0, 0.25) 2%, rgba(0, 0, 0, 0.25) 40%, transparent 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .blok.plaatje a h4,
  .blok.marcel a h4,
  .blok.margriet-oostveen a h4,
  .blok.simone a h4,
  .blok.wilfried a h4 {
    text-shadow: 1px 1px 6px rgba(76, 76, 76, 0.45); }
  .blok.plaatje a h2,
  .blok.marcel a h2,
  .blok.margriet-oostveen a h2,
  .blok.simone a h2,
  .blok.wilfried a h2 {
    text-shadow: 2px 2px 9px rgba(76, 76, 76, 0.6); }

.rij.met.doos .doos {
  display: inline-block;
  width: 308px;
  height: 308px;
  margin: 0 6px 0 0; }
  @media (min-width: 375px) {
    .rij.met.doos .doos {
      width: 363px;
      height: 362px;
      margin: 0 6px 0 0; } }
  @media (min-width: 414px) {
    .rij.met.doos .doos {
      width: 402px;
      height: 402px; } }
  @media (min-width: 767px) {
    .rij.met.doos .doos {
      float: left;
      width: 248px;
      height: 248px; } }
  @media (min-width: 1024px) {
    .rij.met.doos .doos {
      width: 334px;
      height: 334px; } }

.cover .blok:first-child {
  height: 462px; }
  @media (min-width: 375px) {
    .cover .blok:first-child {
      width: 363px;
      height: 454px; } }
  @media (min-width: 414px) {
    .cover .blok:first-child {
      width: 402px;
      height: 502px; } }
  @media (min-width: 767px) {
    .cover .blok:first-child {
      width: 502px;
      height: 502px; } }
  @media (min-width: 1024px) {
    .cover .blok:first-child {
      width: 674px;
      height: 674px; } }

/* brede blokken  - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.binnenkant .blok:first-child,
.kortlang .blok:last-child,
.rij.met.grote:nth-child(odd):not(.doos) .blok:first-child,
.rij.met.grote:nth-child(even):not(.doos) .blok:last-child {
  width: 308px;
  height: 308px; }
  @media (min-width: 375px) {
    .binnenkant .blok:first-child,
    .kortlang .blok:last-child,
    .rij.met.grote:nth-child(odd):not(.doos) .blok:first-child,
    .rij.met.grote:nth-child(even):not(.doos) .blok:last-child {
      width: 363px;
      height: 363px; } }
  @media (min-width: 414px) {
    .binnenkant .blok:first-child,
    .kortlang .blok:last-child,
    .rij.met.grote:nth-child(odd):not(.doos) .blok:first-child,
    .rij.met.grote:nth-child(even):not(.doos) .blok:last-child {
      width: 402px;
      height: 402px; } }
  @media (min-width: 767px) {
    .binnenkant .blok:first-child,
    .kortlang .blok:last-child,
    .rij.met.grote:nth-child(odd):not(.doos) .blok:first-child,
    .rij.met.grote:nth-child(even):not(.doos) .blok:last-child {
      width: 502px;
      height: 248px; } }
  @media (min-width: 1024px) {
    .binnenkant .blok:first-child,
    .kortlang .blok:last-child,
    .rij.met.grote:nth-child(odd):not(.doos) .blok:first-child,
    .rij.met.grote:nth-child(even):not(.doos) .blok:last-child {
      width: 674px;
      height: 334px; } }

.rij.met.doos .doos .blok,
.halve.rij .blok {
  height: 154px;
  margin: 0 3px 3px; }
  .rij.met.doos .doos .blok:last-child,
  .halve.rij .blok:last-child {
    margin: 0 3px; }
  @media (min-width: 375px) {
    .rij.met.doos .doos .blok,
    .halve.rij .blok {
      height: 178px; } }
  @media (min-width: 414px) {
    .rij.met.doos .doos .blok,
    .halve.rij .blok {
      height: 198px; } }
  @media (min-width: 767px) {
    .rij.met.doos .doos .blok,
    .halve.rij .blok {
      height: 121px;
      margin: 3px; }
      .rij.met.doos .doos .blok:last-child,
      .halve.rij .blok:last-child {
        margin: 3px; } }
  @media (min-width: 1024px) {
    .rij.met.doos .doos .blok,
    .halve.rij .blok {
      height: 164px; } }

/* hoge blokken */
@media (min-width: 767px) {
  .binnenkant .blok:nth-child(2) {
    float: right;
    height: 502px;
    width: 248px; } }
@media (min-width: 1024px) {
  .binnenkant .blok:nth-child(2) {
    height: 674px;
    width: 334px; } }

.in-beeld .blok {
  height: 385px; }
  @media (min-width: 375px) {
    .in-beeld .blok {
      width: 363px;
      height: 454px; } }
  @media (min-width: 414px) {
    .in-beeld .blok {
      width: 402px;
      height: 502px; } }
  @media (min-width: 767px) {
    .in-beeld .blok {
      width: 756px;
      height: 372px; } }
  @media (min-width: 1024px) {
    .in-beeld .blok {
      width: 1014px;
      height: 501px; } }

.in-beeld h2:before {
  content: "In Beeld: "; }

.blok header {
  position: absolute;
  z-index: 10;
  bottom: 15px;
  margin: 0 18px;
  color: white; }
  @media (min-width: 767px) {
    .blok header {
      bottom: 12px; } }
  @media (min-width: 1024px) {
    .blok header {
      bottom: 21px;
      margin: 0 48px 0 27px; } }
@media (min-width: 767px) {
  .blok.half header {
    bottom: 15px; } }
@media (min-width: 1024px) {
  .blok.half header {
    bottom: 21px; } }
.blok h4 {
  display: block;
  margin: 0 0 4px;
  font-size: 12px;
  line-height: 1.2em;
  font-family: "LFT_Etica_Book";
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(76, 76, 76, 0.15); }
  @media (min-width: 375px) {
    .blok h4 {
      font-size: 14px; } }
  @media (min-width: 1024px) {
    .blok h4 {
      margin: 0 0 4px;
      font-size: 15px; } }
@media (min-width: 767px) {
  .blok.half h4 {
    font-size: 12px; } }
@media (min-width: 1024px) {
  .blok.half h4 {
    font-size: 14px;
    line-height: 1.8em; } }
.blok h2 {
  font-family: "Guardian Egyptian Web";
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 1.15em;
  text-shadow: 2px 2px 4px rgba(76, 76, 76, 0.15); }
  @media (min-width: 375px) {
    .blok h2 {
      font-size: 27px; } }
  @media (min-width: 414px) {
    .blok h2 {
      font-size: 32px; } }
  @media (min-width: 767px) {
    .blok h2 {
      font-size: 27px; } }
  @media (min-width: 1024px) {
    .blok h2 {
      font-size: 32px; } }
@media (min-width: 767px) {
  .blok.half h2 {
    font-size: 18px; } }
@media (min-width: 1024px) {
  .blok.half h2 {
    font-size: 24px; } }

@media (min-width: 767px) {
  .cover .blok:first-child header,
  .in-beeld .blok header {
    bottom: 15px; } }

@media (min-width: 767px) {
  .cover .blok:first-child h2 {
    font-size: 48px; } }
@media (min-width: 1024px) {
  .cover .blok:first-child h2 {
    font-size: 56px; } }

/* vaste rubrieken  - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.blok.marcel {
  background-image: url(../../mensen/marcel.jpg); }

.blok.margriet-oostveen {
  background-image: url(../../mensen/margriet.jpg); }

.blok.simone {
  background-image: url(../../mensen/simone.jpg); }

.blok.wilfried {
  background-image: url(../../mensen/wilfried.jpg); }

.recensie figure {
  position: absolute;
  overflow: hidden;
  width: 80px;
  height: 80px;
  top: 12px;
  left: 18px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  background-clip: padding-box; }
  .recensie figure img {
    width: auto;
    height: 100%; }
.recensie header {
  position: absolute;
  top: 15px;
  left: 100px; }
.recensie h4.score {
  position: absolute;
  bottom: -6px;
  left: 0;
  font-size: 24px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.4);
  text-shadow: none; }
  .recensie h4.score b {
    color: white; }
  @media (min-width: 767px) {
    .recensie h4.score {
      bottom: -18px; } }

.blok.ns-hartkloppingen {
  background-color: #d2d1c5;
  background-image: url(../../img/hartkloppingen.20.png);
  background-repeat: no-repeat; }
