/* grid */


@import 'partials/_screen.kleuren.scss';
@import 'partials/_screen.reset.scss';
@import 'partials/_screen.breakpoints.scss';
@import 'partials/_screen.vormen.scss';

@import 'partials/_screen.typografie.etica.scss';
@import 'partials/_screen.typografie.guardian.scss';
@import 'partials/_screen.typografie.scss';

@import '_kolibrie.header.scss';
@import '_kolibrie.menu.scss';

 .ontwerp.notitie { display: none; };
 //@import '_debug.scss';

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


// tablet-landscape
$blok: 334px;
$goot: 6px; 	// tussen blokken
$rand: 5px; 	// aan de eh... rand dus

// tablet
$blok: 248px;
$goot: 6px;
$rand: 6px;

// iphone6+
$blok: 402px;
$goot: 6px;
$rand: 6px;

// iphone6
$blok: 363px;
$goot: 6px;
$rand: 6px;

// mobile
$blok: 308px;
$goot: 6px;
$rand: 6px;



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

body {
	@include font-serif;
	background: $wit;
}


main {
	margin: -21px auto 0;
	padding: 0 3px 3px;
	background: $wit;

	@include breakpoint(iphone-zes) {
		width: 369px;
		//background: pink;
	}

	@include breakpoint(iphone-zesplus) {
		width: 408px;
		//background: yellow;
	}
	
	@include breakpoint(tablet) {
		width: 762px;
		padding: 3px;
	}

	@include breakpoint(tablet-landscape) {
		width: 1020px;
		padding: 3px 2px;
	}
}


.rij {
	width: $blok;
	margin: 0 auto;

	@include breakpoint(iphone-zes) {
		width: 375px;
	}

	@include breakpoint(iphone-zesplus) {
		width: 414px;
	}
		
	@include breakpoint(tablet) {
		clear: both;
		width: 762px;
		//height: 254px; // $blok + $goot
	}
	
	@include breakpoint(tablet-landscape) {
		width: 1020px;
		//height: 340px; // $blok + $goot
	}
}


// bevat bijv. drie recensies of drie blokken zonder plaatje
.halve.rij { // $blok/2 + $goot/2
	@include breakpoint(iphone-zes) {
		//height: 178px;
	}

	@include breakpoint(iphone-zesplus) {
		//height: 198px;
	}

	@include breakpoint(tablet) {
		height: 124px;
	}

	@include breakpoint(tablet-landscape) {
		height: 167px;
	}
}


.blok {
	display: inline-block;
	position: relative;
	width: $blok;
	height: $blok;
	margin: $goot/2;
	@include border-radius(3px);
	background-color: $next-donkergrijs;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	@include breakpoint(iphone-zes) {
		width: 363px;
		height: 363px;
		margin: 3px;
	}

	@include breakpoint(iphone-zesplus) {
		width: 402px;
		height: 402px;
	}

	@include breakpoint(tablet) {
		float: left;
		width: 248px;
		height: 248px;
	}

	@include breakpoint(tablet-landscape) {
		width: 334px;
		height: 334px;
	}


	&.weten {
		background-color: $next-weten-donkergrijs;
		//background-color: rgb(180,179,164); /* Old browsers */
		//background: -moz-linear-gradient(30deg,  rgba(180,179,164,1) 0%, rgba(210,209,197,1) 100%); /* FF3.6+ */
		//background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(180,179,164,1)), color-stop(100%,rgba(210,209,197,1))); /* Chrome,Safari4+ */
		//background: -webkit-linear-gradient(30deg,  rgba(180,179,164,1) 0%,rgba(210,209,197,1) 100%); /* Chrome10+,Safari5.1+ */
		//background: -o-linear-gradient(30deg,  rgba(180,179,164,1) 0%,rgba(210,209,197,1) 100%); /* Opera 11.10+ */
		//background: -ms-linear-gradient(30deg,  rgba(180,179,164,1) 0%,rgba(210,209,197,1) 100%); /* IE10+ */
		//background: linear-gradient(30deg,  rgba(180,179,164,1) 0%,rgba(210,209,197,1) 100%); /* W3C */
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4b3a4', endColorstr='#d2d1c5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	
	&.sport {
		background-color: $next-weten-rood;
	}
	&.tech {
		background-color: $next-weten-donkergrijs;
		//background-color: rgb(180,179,164); /* Old browsers */
		//background: -moz-linear-gradient(30deg,  rgba(180,179,164,1) 0%, rgba(210,209,197,1) 100%); /* FF3.6+ */
		//background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(180,179,164,1)), color-stop(100%,rgba(210,209,197,1))); /* Chrome,Safari4+ */
		//background: -webkit-linear-gradient(30deg,  rgba(180,179,164,1) 0%,rgba(210,209,197,1) 100%); /* Chrome10+,Safari5.1+ */
		//background: -o-linear-gradient(30deg,  rgba(180,179,164,1) 0%,rgba(210,209,197,1) 100%); /* Opera 11.10+ */
		//background: -ms-linear-gradient(30deg,  rgba(180,179,164,1) 0%,rgba(210,209,197,1) 100%); /* IE10+ */
		//background: linear-gradient(30deg,  rgba(180,179,164,1) 0%,rgba(210,209,197,1) 100%); /* W3C */
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4b3a4', endColorstr='#d2d1c5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	&.wetenchap {
		background-color: $next-weten-geelgroen;
	}
	
	&.denken {
		background-color: $next-denken-groen;
	}
	&.doen {
		background-color: $next-doen-geelgroen;
	}
	&.doen.recensie {
		background-color: $next-doen-donkerpaars;	
	}
	
	&.vandaag {
		background-color: $next-weten-rood;
	}

	&.carriere {
		background-color: $next-carriere-paars;
	}
	
	&.offline {
		background-color: $next-weten-donkergrijs;
	}
}


.blok a {
	display: block;
	width: 100%;
	height: 100%;
	border: none;	
	@include border-radius(3px);
}
// als er een plaatje is gebruiken we een gradient en text-shadow om de tekst beter leesbaar te maken
.blok.plaatje a,
.blok.marcel a,
.blok.margriet-oostveen a,
.blok.simone a,
.blok.wilfried a {
	background: -moz-linear-gradient(30deg,  rgba(0,0,0,0.25) 2%, rgba(0,0,0,0.25) 40%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(2%,rgba(0,0,0,0.25)), color-stop(40%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(30deg,  rgba(0,0,0,0.25) 2%,rgba(0,0,0,0.25) 40%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(30deg,  rgba(0,0,0,0.25) 2%,rgba(0,0,0,0.25) 40%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(30deg,  rgba(0,0,0,0.25) 2%,rgba(0,0,0,0.25) 40%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(30deg,  rgba(0,0,0,0.25) 2%,rgba(0,0,0,0.25) 40%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	h4 {
		text-shadow: 1px 1px 6px rgba($donkergrijs, .45);
	}
	
	h2 {
		text-shadow: 2px 2px 9px rgba($donkergrijs, .6);
	}
}


// in een doos bewaar je twee halve blokken
.rij.met.doos .doos {  // ach man, je bent zelf een doos
	display: inline-block;
	width: $blok;
	height: $blok;
	margin: 0 $goot 0 0;

	@include breakpoint(iphone-zes) {
		width: 363px;
		height: 362px;
		margin: 0 6px 0 0;
	}

	@include breakpoint(iphone-zesplus) {
		width: 402px;
		height: 402px;
	}
	
	@include breakpoint(tablet) {
		float: left;
		width: 248px;
		height: 248px;
	}

	@include breakpoint(tablet-landscape) {
		width: 334px;
		height: 334px;
	}
}


// het eerste blok in de rij "cover" is het grote blok met het beeld van de voorpagina
.cover .blok:first-child {
	height: $blok * 1.5;

	@include breakpoint(iphone-zes) {
		width: 363px; 
		height: 454px; // height: $blok * 1.25
	}

	@include breakpoint(iphone-zesplus) {
		width: 402px;
		height: 502px; // height: $blok * 1.25
	}

	@include breakpoint(tablet) {
		width: 502px; // width: $blok + $goot + $blok
		height: 502px; 
	}

	@include breakpoint(tablet-landscape) {
		width: 674px; // width: $blok + $goot + $blok
		height: 674px;
	}
}



/* brede blokken  - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.binnenkant .blok:first-child, 									// eerste blok in de rij met next-checkt
.kortlang .blok:last-child, 									// laatste=tweede blok in de rij met de column
.rij.met.grote:nth-child(odd):not(.doos) .blok:first-child, 	// tweede blok in deze oneven rijen is groot
.rij.met.grote:nth-child(even):not(.doos) .blok:last-child,		// tweede blok in deze even rijen is groot
//.rij.met.grote.doos:nth-child(odd) .blok:last-child,
//.rij.met.grote.doos:nth-child(even) .blok:first-child
{
	width: $blok;
	height: $blok;

	@include breakpoint(iphone-zes) {
		width: 363px; 
		height: 363px;
	}

	@include breakpoint(iphone-zesplus) {
		width: 402px;
		height: 402px;
	}

	@include breakpoint(tablet) {
		width: 502px;
		height: 248px;
	}

	@include breakpoint(tablet-landscape) {
		width: 674px;
		height: 334px;
	}
}


.rij.met.doos .doos .blok,
//.rij.met.grote.doos:nth-child(odd) .doos .blok,
//.rij.met.grote.doos:nth-child(even) .doos .blok,
.halve.rij .blok {
	height: $blok/2;
	margin: 0 3px 3px;
	
	&:last-child {
		margin: 0 3px;
	}

	@include breakpoint(iphone-zes) {
		height: 178px;
	}

	@include breakpoint(iphone-zesplus) {
		height: 198px;
	}
		
	@include breakpoint(tablet) {
		height: 121px;
		margin: 3px;
		
		&:last-child {
			margin: 3px;
		}
	}
	
	@include breakpoint(tablet-landscape) {
		height: 164px;	
	}
}


/* hoge blokken */
// het tweede postje in het template met de next-checkt
.binnenkant .blok:nth-child(2) {		
	@include breakpoint(tablet) {
		float: right;
		height: 502px;
		width: 248px;
	}

	@include breakpoint(tablet-landscape) {
		height: 674px;
		width: 334px;
	}
}


// de rij .in-beeld heeft maar één postje
.in-beeld .blok {
	height: $blok * 1.25;

	@include breakpoint(iphone-zes) {
		width: 363px; 
		height: 454px; // height: $blok * 1.25
	}

	@include breakpoint(iphone-zesplus) {
		width: 402px;
		height: 502px; // height: $blok * 1.25
	}

	@include breakpoint(tablet) {
		width: 756px; // $blok + $goot + $blok + $goot + $blok
		height: 372px; // $blok * 1,5
	}	

	@include breakpoint(tablet-landscape) {
		width: 1014px; // $blok + $goot + $blok + $goot + $blok
		height: 501px; // $blok * 1,5
	}
}

.in-beeld h2:before {
	content: "In Beeld: ";
}


.blok {
	header {
		position: absolute;
		z-index: 10;
		bottom: 15px;
		margin: 0 18px;
		color: $wit;

		@include breakpoint(tablet) {
			bottom: 12px;
		}
	
		@include breakpoint(tablet-landscape) {
			bottom: 21px;
			margin: 0 48px 0 27px;
		}
	}

	// halve postjes
	&.half header {
		@include breakpoint(tablet) {
			bottom: 15px;
		}

		@include breakpoint(tablet-landscape) {
			bottom: 21px;
		}
	}

	// rubriek of trefwoord
	h4 {
		display: block;
		margin: 0 0 4px;
		font-size: 12px;
		line-height: 1.2em;
		font-family: $etica_book;
		text-transform: uppercase;
		text-shadow: 2px 2px 4px rgba($donkergrijs, .15);
	
		@include breakpoint(iphone-zes) {
			font-size: 14px;
		}
	
		@include breakpoint(tablet-landscape) {
			margin: 0 0 4px;
			font-size: 15px;
		}
	}
	// halve postjes
	&.half h4 {
			@include breakpoint(tablet) {
			font-size: 12px; 
		}

		@include breakpoint(tablet-landscape) {
			font-size: 14px; 
			line-height: 1.8em;
		}
	}

	// titels op homepage
	h2 {
		@include font-headline;
		font-size: 24px;
		line-height: 1.15em;
		text-shadow: 2px 2px 4px rgba($donkergrijs, .15);
	
		@include breakpoint(iphone-zes) {
			font-size: 27px;
		}
	
		@include breakpoint(iphone-zesplus) {
			font-size: 32px;
		}

		@include breakpoint(tablet) {
			font-size: 27px; 
		}
	
		@include breakpoint(tablet-landscape) {
			font-size: 32px; 
		}
	}
	// halve postjes
	&.half h2 {
		@include breakpoint(tablet) {
			font-size: 18px;
		}

		@include breakpoint(tablet-landscape) {
			font-size: 24px;
		}
	}
}

// openingspost en in-beeld
.cover .blok:first-child header,
.in-beeld .blok header {
	@include breakpoint(tablet) {
		bottom: 15px;
	}
}

// openingspost en in-beeld hebben grotere titels
.cover .blok:first-child h2,
//.in-beeld .blok h2
{
	@include breakpoint(tablet) {
		font-size: 48px;
	}

	@include breakpoint(tablet-landscape) {
		font-size: 56px;
	}
}



/* vaste rubrieken  - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.blok.marcel {
	background-image: url(../../mensen/marcel.jpg);
}

.blok.margriet-oostveen {
	background-image: url(../../mensen/margriet.jpg);
}

.blok.simone {
	background-image: url(../../mensen/simone.jpg);
}

.blok.wilfried {
	background-image: url(../../mensen/wilfried.jpg);
}



// om even en beetje op te ruimen, later nog wat veranderen
.recensie {
	figure {
		position: absolute;
		overflow: hidden;
		width: 80px;
		height: 80px;
		top: 12px;
		left: 18px;
		//border: 3px solid #fff;
		@include border-radius(80px);
	
		img {
			width: auto;
			height: 100%;
		}
	}
	
	header {
		position: absolute;
		top: 15px;
		left: 100px;
	}
	
	h4.score {
		position: absolute;
		bottom: -6px;
		left: 0;
		font-size: 24px;
		letter-spacing: 2px;
		color: rgba($wit, .4);
		text-shadow: none;
		
		b {
			color: rgba($wit, 1);
		}

		@include breakpoint(tablet) {
			bottom: -18px;
		}
	}
}


.blok.ns-hartkloppingen {
	background-color: $next-weten-grijs;
	// later een .svg van maken van deze afbeelding
	background-image: url(../../img/hartkloppingen.20.png);
	background-repeat: no-repeat;
}


