/* - - optimum.post.scss - - - - - - - - - - - - - - - - - - - - - - - - - -


   Premium, maar dan beter uitgevoerd!


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


	@import 'partials/_screen.breakpoints.scss'; 			// vars en mixins
	@import 'partials/_screen.kleuren.scss';				// vars
	@import 'partials/_screen.vormen.scss';					// vars

	@import 'partials/_screen.typografie.etica.scss'; 		// vars, mixins en declaraties
	@import 'partials/_screen.typografie.guardian.scss';	// vars, mixins en declaraties
	@import 'partials/_screen.typografie.scss'; 			// vars, mixins en declaraties


// -------------------------------------------------------------------------



article {
	position: relative;

	width: 308px;
	margin: 0 auto 6px;
	background: $wit;

	@include breakpoint(iphone-zes) {
		width: 363px;
	}

	@include breakpoint(iphone-zesplus) {
		width: 402px;
	}

	@include breakpoint(tablet) {
		width: 756px;
	}

	header {
		margin: 72px 0 0;

		div {
			margin: 0 18px;
		}

		@include breakpoint(tablet) {
			margin: 90px 0 0;

			div {
				margin: 0 48px 0 72px;
			}
		}
	}

	h1 { // titels bovenaan postpagina's
		@include font-headline;
		font-size: 30px;
		line-height: 1.15em;
	
		@include breakpoint(iphone-zes) {
			font-size: 32px;
		}
	
		@include breakpoint(iphone-zesplus) {
			font-size: 36px;
		}
	
		@include breakpoint(tablet) {
			font-size: 52px;
			line-height: 1.07em;
		}
	}
}


// standaard is een vierkante featured image
article.foto,
article.video {
	h1 {
		text-shadow: 2px 2px 4px rgba($bijnazwart, .5);
	}

	h4 {
		text-shadow: 2px 2px 3px rgba($bijnazwart, .6);
	}
	
	figure {
		width: 320px;
		height: 228px;
	
		img {
			top: 0;
			left: 0;
		}
	
		@include breakpoint(iphone-zes) {
			width: 363px;
			height: 363px;
		}
	
		@include breakpoint(iphone-zesplus) {
			width: 402px;
			height: 402px;
		}
	
		@include breakpoint(tablet) {
			xmargin-top: -60px;
			width: 756px;
			height: 756px;
	
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	header {
		position: relative;
		margin: 0;
		
		div {
			position: absolute;
			z-index: 10;
			bottom: 12px;
			margin: 0 18px;
			color: $wit;
		
			@include breakpoint(tablet) {
				bottom: 24px;
				margin: 0 48px 0 81px;
			}
		}
	}
}

// foto-artikelen hebben een liggende featured image
article.foto {
	figure {
		@include breakpoint(iphone-zes) {
			width: 363px;
			height: 252px;
			
			img {
				top: -20%;
				left: 0;
			}
		}
	
		@include breakpoint(iphone-zesplus) {
			width: 402px;
			height: 274px;
			
			img {
				top: -20%;
				left: 0;
			}
		}

		@include breakpoint(tablet) {
			width: 756px;
			height: 354px; // deze hoogte klopt nu nog alleen met de voorbeeldfoto in het proto
		}
	}
}


