/* - - optimum.post.scss - - - - - - - - - - - - - - - - - - - - - - - - - -


   Premium, maar dan beter uitgevoerd!


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - kleuren  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - LFT Etica  - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: "LFT_Etica_Extrabold";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Extrabold.eot);
  src: url(../fonts/etica/LFT_Etica_Extrabold.eot#iefix) format("embedded-opentype"), url(../fonts/etica/LFT_Etica_Extrabold.svg#LFT_Etica_Extrabold) format("svg"), url(../fonts/etica/LFT_Etica_Extrabold.woff) format("woff"), url(../fonts/etica/LFT_Etica_Extrabold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Extrabold";
    src: url(../fonts/etica/LFT_Etica_Extrabold.svg#LFT_Etica_Extrabold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Bold";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Bold.eot);
  src: url(../fonts/etica/LFT_Etica_Bold.eot#iefix) format("embedded-opentype"), url(../fonts/etica/LFT_Etica_Bold.svg#LFT_Etica_Bold) format("svg"), url(../fonts/etica/LFT_Etica_Bold.woff) format("woff"), url(../fonts/etica/LFT_Etica_Bold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Bold";
    src: url(../fonts/etica/LFT_Etica_Bold.svg#LFT_Etica_Bold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Reg";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Reg.eot);
  src: url(../fonts/etica/LFT_Etica_Reg.eot#iefix) format("embedded-opentype"), url(../fonts/etica/LFT_Etica_Reg.svg#LFT_Etica_Reg) format("svg"), url(../fonts/etica/LFT_Etica_Reg.woff) format("woff"), url(../fonts/etica/LFT_Etica_Reg.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Reg";
    src: url(../fonts/etica/LFT_Etica_Reg.svg#LFT_Etica_Reg) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Light";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Light.eot);
  src: url(../fonts/etica/LFT_Etica_Light.eot#iefix) format("embedded-opentype"), url(../fonts/etica/LFT_Etica_Light.svg#LFT_Etica_Light) format("svg"), url(../fonts/etica/LFT_Etica_Light.woff) format("woff"), url(../fonts/etica/LFT_Etica_Light.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Light";
    src: url(../fonts/etica/LFT_Etica_Light.svg#LFT_Etica_Light) format("svg"); } }
/* uitzondering voor de veelgebruikte Semibold en Book, laden via combined.svg zodat minder requests in Chrome */
@font-face {
  font-family: "LFT_Etica_Semibold";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Semibold.eot);
  src: url(../fonts/etica/LFT_Etica_Semibold.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#LFT_Etica_Semibold) format("svg"), url(../fonts/etica/LFT_Etica_Semibold.woff) format("woff"), url(../fonts/etica/LFT_Etica_Semibold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Semibold";
    src: url(../fonts/combined.svg#LFT_Etica_Semibold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Book";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Book.eot);
  src: url(../fonts/etica/LFT_Etica_Book.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#LFT_Etica_Book) format("svg"), url(../fonts/etica/LFT_Etica_Book.woff) format("woff"), url(../fonts/etica/LFT_Etica_Book.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Book";
    src: url(../fonts/combined.svg#LFT_Etica_Book) format("svg"); } }
/* - - Guardian Egyptian  - - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: "GuardianEgyp-Black-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Black-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Black-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Black-Web.svg#GuardianEgyp-Black-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Black-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Black-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Black-Web";
    src: url(../fonts/guardian/GuardianEgyp-Black-Web.svg#GuardianEgyp-Black-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Bold-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Bold-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Bold-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Bold-Web.svg#GuardianEgyp-Bold-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Bold-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Bold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Bold-Web";
    src: url(../fonts/guardian/GuardianEgyp-Bold-Web.svg#GuardianEgyp-Bold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Semibold-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Semibold-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Semibold-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Semibold-Web.svg#GuardianEgyp-Semibold-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Semibold-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Semibold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Semibold-Web";
    src: url(../fonts/guardian/GuardianEgyp-Semibold-Web.svg#GuardianEgyp-Semibold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Regular-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Regular-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Regular-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Regular-Web.svg#GuardianEgyp-Regular-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Regular-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Regular-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Regular-Web";
    src: url(../fonts/guardian/GuardianEgyp-Regular-Web.svg#GuardianEgyp-Regular-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Light-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Light-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Light-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Light-Web.svg#GuardianEgyp-Light-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Light-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Light-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Light-Web";
    src: url(../fonts/guardian/GuardianEgyp-Light-Web.svg#GuardianEgyp-Light-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Thin-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Thin-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Thin-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Thin-Web.svg#GuardianEgyp-Thin-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Thin-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Thin-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Thin-Web";
    src: url(../fonts/guardian/GuardianEgyp-Thin-Web.svg#GuardianEgyp-Thin-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Hairline-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Hairline-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Hairline-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Hairline-Web.svg#GuardianEgyp-Hairline-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Hairline-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Hairline-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Hairline-Web";
    src: url(../fonts/guardian/GuardianEgyp-Hairline-Web.svg#GuardianEgyp-Hairline-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-SemiboldIt-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.svg#GuardianEgyp-SemiboldIt-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-SemiboldIt-Web";
    src: url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.svg#GuardianEgyp-SemiboldIt-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Black-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianTextEgyp-Black-Web.eot);
  src: url(../fonts/guardian/GuardianTextEgyp-Black-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianTextEgyp-Black-Web.svg#GuardianTextEgyp-Black-Web) format("svg"), url(../fonts/guardian/GuardianTextEgyp-Black-Web.woff) format("woff"), url(../fonts/guardian/GuardianTextEgyp-Black-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Black-Web";
    src: url(../fonts/guardian/GuardianTextEgyp-Black-Web.svg#GuardianTextEgyp-Black-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Bold-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianTextEgyp-Bold-Web.eot);
  src: url(../fonts/guardian/GuardianTextEgyp-Bold-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianTextEgyp-Bold-Web.svg#GuardianTextEgyp-Bold-Web) format("svg"), url(../fonts/guardian/GuardianTextEgyp-Bold-Web.woff) format("woff"), url(../fonts/guardian/GuardianTextEgyp-Bold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Bold-Web";
    src: url(../fonts/guardian/GuardianTextEgyp-Bold-Web.svg#GuardianTextEgyp-Bold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Medium-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianTextEgyp-Medium-Web.eot);
  src: url(../fonts/guardian/GuardianTextEgyp-Medium-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianTextEgyp-Medium-Web.svg#GuardianTextEgyp-Medium-Web) format("svg"), url(../fonts/guardian/GuardianTextEgyp-Medium-Web.woff) format("woff"), url(../fonts/guardian/GuardianTextEgyp-Medium-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Medium-Web";
    src: url(../fonts/guardian/GuardianTextEgyp-Medium-Web.svg#GuardianTextEgyp-Medium-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Regular-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianTextEgyp-Regular-Web.eot);
  src: url(../fonts/guardian/GuardianTextEgyp-Regular-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianTextEgyp-Regular-Web.svg#GuardianTextEgyp-Regular-Web) format("svg"), url(../fonts/guardian/GuardianTextEgyp-Regular-Web.woff) format("woff"), url(../fonts/guardian/GuardianTextEgyp-Regular-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Regular-Web";
    src: url(../fonts/guardian/GuardianTextEgyp-Regular-Web.svg#GuardianTextEgyp-Regular-Web) format("svg"); } }
/* uitzondering voor de veelgebruikte GuardianEgyp-Medium-Web, laden via combined.svg zodat minder requests in Chrome */
@font-face {
  font-family: "GuardianEgyp-Medium-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Medium-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Medium-Web.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#GuardianEgyp-Medium-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Medium-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Medium-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Medium-Web";
    src: url(../fonts/combined.svg#GuardianEgyp-Medium-Web) format("svg"); } }
/* - - typografie - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*
$font-title:	 		$geh_light, Georgia, "Times New Roman", serif;

$font-headline-sans: 	$geh_medium, Georgia, "Times New Roman", serif;

$font-serif: 			$geh_regular, Georgia, "Times New Roman", serif;

$font-sans: 			$etica_book, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$font-sans-headline:	$etica_semibold, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$font-sans-alt: 		"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;

$font-fixed: 			Courier, monospace;
*/
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

/* links */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
  a:link {
    border-bottom: 1px solid #ccccff;
    color: #0000cc; }
  a:visited {
    border-bottom: 1px solid #ccccff;
    color: #000066; }
  a:hover {
    border-bottom: 1px solid #6666ff; }
  a:active {
    border-bottom: 1px solid #fedddf;
    color: #d30910; }

article {
  position: relative;
  width: 308px;
  margin: 0 auto 6px;
  background: white; }
  @media (min-width: 375px) {
    article {
      width: 363px; } }
  @media (min-width: 414px) {
    article {
      width: 402px; } }
  @media (min-width: 767px) {
    article {
      width: 756px; } }
  article header {
    margin: 72px 0 0; }
    article header div {
      margin: 0 18px; }
    @media (min-width: 767px) {
      article header {
        margin: 90px 0 0; }
        article header div {
          margin: 0 48px 0 72px; } }
  article h1 {
    font-family: "Guardian Egyptian Web";
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    line-height: 1.15em; }
    @media (min-width: 375px) {
      article h1 {
        font-size: 32px; } }
    @media (min-width: 414px) {
      article h1 {
        font-size: 36px; } }
    @media (min-width: 767px) {
      article h1 {
        font-size: 52px;
        line-height: 1.07em; } }

article.foto h1,
article.video h1 {
  text-shadow: 2px 2px 4px rgba(25, 25, 25, 0.5); }
article.foto h4,
article.video h4 {
  text-shadow: 2px 2px 3px rgba(25, 25, 25, 0.6); }
article.foto figure,
article.video figure {
  width: 320px;
  height: 228px; }
  article.foto figure img,
  article.video figure img {
    top: 0;
    left: 0; }
  @media (min-width: 375px) {
    article.foto figure,
    article.video figure {
      width: 363px;
      height: 363px; } }
  @media (min-width: 414px) {
    article.foto figure,
    article.video figure {
      width: 402px;
      height: 402px; } }
  @media (min-width: 767px) {
    article.foto figure,
    article.video figure {
      xmargin-top: -60px;
      width: 756px;
      height: 756px; }
      article.foto figure img,
      article.video figure img {
        width: 100%;
        height: auto; } }
article.foto header,
article.video header {
  position: relative;
  margin: 0; }
  article.foto header div,
  article.video header div {
    position: absolute;
    z-index: 10;
    bottom: 12px;
    margin: 0 18px;
    color: white; }
    @media (min-width: 767px) {
      article.foto header div,
      article.video header div {
        bottom: 24px;
        margin: 0 48px 0 81px; } }

@media (min-width: 375px) {
  article.foto figure {
    width: 363px;
    height: 252px; }
    article.foto figure img {
      top: -20%;
      left: 0; } }
@media (min-width: 414px) {
  article.foto figure {
    width: 402px;
    height: 274px; }
    article.foto figure img {
      top: -20%;
      left: 0; } }
@media (min-width: 767px) {
  article.foto figure {
    width: 756px;
    height: 354px; } }
