/* - - screens.scss - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


   op je schouder!


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - kleuren  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - resets en defaults - - - - - - - - - - - - - - - - - - - - - - - - */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section, img {
  display: block; }

nav ul {
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 100%;
  background: transparent; }

a:hover, a:active {
  outline: none; }

ins {
  color: black;
  text-decoration: none;
  background-color: #ffff99; }

mark {
  color: black;
  font-weight: 700;
  font-style: italic;
  background-color: #ffff99; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-spacing: 0;
  border-collapse: collapse; }

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ededed; }

input, select {
  vertical-align: middle; }

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* - - LFT Etica  - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: "LFT_Etica_Extrabold";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Extrabold.eot);
  src: url(../fonts/etica/LFT_Etica_Extrabold.eot#iefix) format("embedded-opentype"), url(../fonts/etica/LFT_Etica_Extrabold.svg#LFT_Etica_Extrabold) format("svg"), url(../fonts/etica/LFT_Etica_Extrabold.woff) format("woff"), url(../fonts/etica/LFT_Etica_Extrabold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Extrabold";
    src: url(../fonts/etica/LFT_Etica_Extrabold.svg#LFT_Etica_Extrabold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Bold";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Bold.eot);
  src: url(../fonts/etica/LFT_Etica_Bold.eot#iefix) format("embedded-opentype"), url(../fonts/etica/LFT_Etica_Bold.svg#LFT_Etica_Bold) format("svg"), url(../fonts/etica/LFT_Etica_Bold.woff) format("woff"), url(../fonts/etica/LFT_Etica_Bold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Bold";
    src: url(../fonts/etica/LFT_Etica_Bold.svg#LFT_Etica_Bold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Reg";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Reg.eot);
  src: url(../fonts/etica/LFT_Etica_Reg.eot#iefix) format("embedded-opentype"), url(../fonts/etica/LFT_Etica_Reg.svg#LFT_Etica_Reg) format("svg"), url(../fonts/etica/LFT_Etica_Reg.woff) format("woff"), url(../fonts/etica/LFT_Etica_Reg.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Reg";
    src: url(../fonts/etica/LFT_Etica_Reg.svg#LFT_Etica_Reg) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Light";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Light.eot);
  src: url(../fonts/etica/LFT_Etica_Light.eot#iefix) format("embedded-opentype"), url(../fonts/etica/LFT_Etica_Light.svg#LFT_Etica_Light) format("svg"), url(../fonts/etica/LFT_Etica_Light.woff) format("woff"), url(../fonts/etica/LFT_Etica_Light.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Light";
    src: url(../fonts/etica/LFT_Etica_Light.svg#LFT_Etica_Light) format("svg"); } }
/* uitzondering voor de veelgebruikte Semibold en Book, laden via combined.svg zodat minder requests in Chrome */
@font-face {
  font-family: "LFT_Etica_Semibold";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Semibold.eot);
  src: url(../fonts/etica/LFT_Etica_Semibold.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#LFT_Etica_Semibold) format("svg"), url(../fonts/etica/LFT_Etica_Semibold.woff) format("woff"), url(../fonts/etica/LFT_Etica_Semibold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Semibold";
    src: url(../fonts/combined.svg#LFT_Etica_Semibold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Book";
  font-stretch: normal;
  src: url(../fonts/etica/LFT_Etica_Book.eot);
  src: url(../fonts/etica/LFT_Etica_Book.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#LFT_Etica_Book) format("svg"), url(../fonts/etica/LFT_Etica_Book.woff) format("woff"), url(../fonts/etica/LFT_Etica_Book.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Book";
    src: url(../fonts/combined.svg#LFT_Etica_Book) format("svg"); } }
/* - - Guardian Egyptian  - - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: "GuardianEgyp-Black-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Black-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Black-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Black-Web.svg#GuardianEgyp-Black-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Black-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Black-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Black-Web";
    src: url(../fonts/guardian/GuardianEgyp-Black-Web.svg#GuardianEgyp-Black-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Bold-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Bold-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Bold-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Bold-Web.svg#GuardianEgyp-Bold-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Bold-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Bold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Bold-Web";
    src: url(../fonts/guardian/GuardianEgyp-Bold-Web.svg#GuardianEgyp-Bold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Semibold-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Semibold-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Semibold-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Semibold-Web.svg#GuardianEgyp-Semibold-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Semibold-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Semibold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Semibold-Web";
    src: url(../fonts/guardian/GuardianEgyp-Semibold-Web.svg#GuardianEgyp-Semibold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Regular-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Regular-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Regular-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Regular-Web.svg#GuardianEgyp-Regular-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Regular-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Regular-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Regular-Web";
    src: url(../fonts/guardian/GuardianEgyp-Regular-Web.svg#GuardianEgyp-Regular-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Light-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Light-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Light-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Light-Web.svg#GuardianEgyp-Light-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Light-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Light-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Light-Web";
    src: url(../fonts/guardian/GuardianEgyp-Light-Web.svg#GuardianEgyp-Light-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Thin-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Thin-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Thin-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Thin-Web.svg#GuardianEgyp-Thin-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Thin-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Thin-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Thin-Web";
    src: url(../fonts/guardian/GuardianEgyp-Thin-Web.svg#GuardianEgyp-Thin-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Hairline-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Hairline-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Hairline-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-Hairline-Web.svg#GuardianEgyp-Hairline-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Hairline-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Hairline-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Hairline-Web";
    src: url(../fonts/guardian/GuardianEgyp-Hairline-Web.svg#GuardianEgyp-Hairline-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-SemiboldIt-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.svg#GuardianEgyp-SemiboldIt-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-SemiboldIt-Web";
    src: url(../fonts/guardian/GuardianEgyp-SemiboldIt-Web.svg#GuardianEgyp-SemiboldIt-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Black-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianTextEgyp-Black-Web.eot);
  src: url(../fonts/guardian/GuardianTextEgyp-Black-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianTextEgyp-Black-Web.svg#GuardianTextEgyp-Black-Web) format("svg"), url(../fonts/guardian/GuardianTextEgyp-Black-Web.woff) format("woff"), url(../fonts/guardian/GuardianTextEgyp-Black-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Black-Web";
    src: url(../fonts/guardian/GuardianTextEgyp-Black-Web.svg#GuardianTextEgyp-Black-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Bold-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianTextEgyp-Bold-Web.eot);
  src: url(../fonts/guardian/GuardianTextEgyp-Bold-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianTextEgyp-Bold-Web.svg#GuardianTextEgyp-Bold-Web) format("svg"), url(../fonts/guardian/GuardianTextEgyp-Bold-Web.woff) format("woff"), url(../fonts/guardian/GuardianTextEgyp-Bold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Bold-Web";
    src: url(../fonts/guardian/GuardianTextEgyp-Bold-Web.svg#GuardianTextEgyp-Bold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Medium-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianTextEgyp-Medium-Web.eot);
  src: url(../fonts/guardian/GuardianTextEgyp-Medium-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianTextEgyp-Medium-Web.svg#GuardianTextEgyp-Medium-Web) format("svg"), url(../fonts/guardian/GuardianTextEgyp-Medium-Web.woff) format("woff"), url(../fonts/guardian/GuardianTextEgyp-Medium-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Medium-Web";
    src: url(../fonts/guardian/GuardianTextEgyp-Medium-Web.svg#GuardianTextEgyp-Medium-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Regular-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianTextEgyp-Regular-Web.eot);
  src: url(../fonts/guardian/GuardianTextEgyp-Regular-Web.eot#iefix) format("embedded-opentype"), url(../fonts/guardian/GuardianTextEgyp-Regular-Web.svg#GuardianTextEgyp-Regular-Web) format("svg"), url(../fonts/guardian/GuardianTextEgyp-Regular-Web.woff) format("woff"), url(../fonts/guardian/GuardianTextEgyp-Regular-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Regular-Web";
    src: url(../fonts/guardian/GuardianTextEgyp-Regular-Web.svg#GuardianTextEgyp-Regular-Web) format("svg"); } }
/* uitzondering voor de veelgebruikte GuardianEgyp-Medium-Web, laden via combined.svg zodat minder requests in Chrome */
@font-face {
  font-family: "GuardianEgyp-Medium-Web";
  font-stretch: normal;
  src: url(../fonts/guardian/GuardianEgyp-Medium-Web.eot);
  src: url(../fonts/guardian/GuardianEgyp-Medium-Web.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#GuardianEgyp-Medium-Web) format("svg"), url(../fonts/guardian/GuardianEgyp-Medium-Web.woff) format("woff"), url(../fonts/guardian/GuardianEgyp-Medium-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Medium-Web";
    src: url(../fonts/combined.svg#GuardianEgyp-Medium-Web) format("svg"); } }
/* - - American Typewriter  - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: "AmericanTypewriter-Bold";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter-Bold.eot);
  src: url(../fonts/typewriter/AmericanTypewriter-Bold.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter-Bold.svg#AmericanTypewriter-Bold) format("svg"), url(../fonts/typewriter/AmericanTypewriter-Bold.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter-Bold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter-Bold";
    src: url(../fonts/typewriter/AmericanTypewriter-Bold.svg#AmericanTypewriter-Bold) format("svg"); } }
@font-face {
  font-family: "AmericanTypewriter";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter.eot);
  src: url(../fonts/typewriter/AmericanTypewriter.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter.svg#AmericanTypewriter) format("svg"), url(../fonts/typewriter/AmericanTypewriter.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter";
    src: url(../fonts/typewriter/AmericanTypewriter.svg#AmericanTypewriter) format("svg"); } }
@font-face {
  font-family: "AmericanTypewriter-Light";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter-Light.eot);
  src: url(../fonts/typewriter/AmericanTypewriter-Light.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter-Light.svg#AmericanTypewriter-Light) format("svg"), url(../fonts/typewriter/AmericanTypewriter-Light.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter-Light.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter-Light";
    src: url(../fonts/typewriter/AmericanTypewriter-Light.svg#AmericanTypewriter-Light) format("svg"); } }
@font-face {
  font-family: "AmericanTypewriter-CondensedBold";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter-CondensedBold.eot);
  src: url(../fonts/typewriter/AmericanTypewriter-CondensedBold.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter-CondensedBold.svg#AmericanTypewriter-CondensedBold) format("svg"), url(../fonts/typewriter/AmericanTypewriter-CondensedBold.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter-CondensedBold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter-CondensedBold";
    src: url(../fonts/typewriter/AmericanTypewriter-CondensedBold.svg#AmericanTypewriter-CondensedBold) format("svg"); } }
@font-face {
  font-family: "AmericanTypewriter-Condensed";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter-Condensed.eot);
  src: url(../fonts/typewriter/AmericanTypewriter-Condensed.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter-Condensed.svg#AmericanTypewriter-Condensed) format("svg"), url(../fonts/typewriter/AmericanTypewriter-Condensed.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter-Condensed.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter-Condensed";
    src: url(../fonts/typewriter/AmericanTypewriter-Condensed.svg#AmericanTypewriter-Condensed) format("svg"); } }
@font-face {
  font-family: "AmericanTypewriter-CondensedLight";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter-CondensedLight.eot);
  src: url(../fonts/typewriter/AmericanTypewriter-CondensedLight.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter-CondensedLight.svg#AmericanTypewriter-CondensedLight) format("svg"), url(../fonts/typewriter/AmericanTypewriter-CondensedLight.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter-CondensedLight.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter-CondensedLight";
    src: url(../fonts/typewriter/AmericanTypewriter-CondensedLight.svg#AmericanTypewriter-CondensedLight) format("svg"); } }
/* - - typografie - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*
$font-title:	 		$geh_light, Georgia, "Times New Roman", serif;

$font-headline-sans: 	$geh_medium, Georgia, "Times New Roman", serif;

$font-serif: 			$geh_regular, Georgia, "Times New Roman", serif;

$font-sans: 			$etica_book, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$font-sans-headline:	$etica_semibold, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$font-sans-alt: 		"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;

$font-fixed: 			Courier, monospace;
*/
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

/* links */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
  a:link {
    border-bottom: 1px solid #ccccff;
    color: #0000cc; }
  a:visited {
    border-bottom: 1px solid #ccccff;
    color: #000066; }
  a:hover {
    border-bottom: 1px solid #6666ff; }
  a:active {
    border-bottom: 1px solid #fedddf;
    color: #d30910; }

body {
  background: #eee;
  font-family: "Guardian Text Egyptian Web";
  font-weight: 400;
  font-style: normal; }

header.masthead {
  height: 60px;
  border: 1px solid #ccc;
  background: #fff; }
  header.masthead .logo img {
    width: 134px;
    height: 27px;
    margin: 17px auto 0; }
  header.masthead .a.hamburger {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 21px;
    left: 12px; }
    header.masthead .a.hamburger img {
      width: 21px;
      height: 21px; }
  header.masthead .is.a.person {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 16px;
    right: 12px; }
    header.masthead .is.a.person img {
      width: 32px;
      height: 32px; }

main {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 6px; }

.post {
  position: relative;
  display: inline-table;
  min-height: 150px;
  height: auto;
  width: 100%;
  margin: 3px 0;
  background: #fff; }
  .post figure {
    width: 100%;
    overflow: hidden; }
  .post header {
    position: absolute;
    z-index: 10;
    bottom: 12px;
    margin: 0 18px; }
  .post h1 {
    font-family: "Guardian Egyptian Web";
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    line-height: .95em; }
  .post h2,
  .post h3 {
    font-family: "Guardian Egyptian Web";
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 1.15em; }
  .post h3,
  .post h4 {
    xdisplay: inline; }
  .post h2 + p {
    margin: 4px 0 0; }
  .post p {
    font-size: 14px;
    line-height: 1.2em; }
  .post figure {
    position: relative;
    width: 320px;
    height: 320px;
    overflow: hidden; }
    .post figure img {
      position: absolute;
      width: auto;
      height: 320px;
      right: 0px; }
  .post h2 {
    display: inline-table;
    margin: 0 0 3px; }
  .post h4 {
    display: inline;
    font-size: 14px;
    line-height: 1.2em;
    font-family: "GuardianEgyp-Semibold-Web"; }
  .post h4 + p {
    display: inline; }

.post.beeld {
  height: 320px; }
  .post.beeld img {
    width: 100%;
    height: 320px; }
  .post.beeld.donker header {
    color: #fff; }

.post.coververhaal {
  height: 400px; }
  .post.coververhaal figure {
    height: 400px; }
    .post.coververhaal figure img {
      width: 100%;
      height: 400px; }
  .post.coververhaal h1 + p {
    margin: 6px 0 0; }

.post.column h2 {
  display: inline;
  font-family: "Guardian Text Egyptian Web";
  font-weight: 400;
  font-style: normal; }
.post.column h3 {
  display: inline; }
.post.column h3:after {
  content: ".";
  font-size: 36px;
  color: #d30910; }

.post.nextcheckt h2 {
  display: inline-block;
  margin: 0 0 0 72px;
  font-family: "Guardian Text Egyptian Web";
  font-weight: 400;
  font-style: normal; }
.post.nextcheckt h3 {
  position: absolute;
  content: ".";
  display: block;
  width: 66px;
  height: 150px;
  bottom: -12px;
  left: -18px;
  padding: 0 0 0 6px;
  font-family: "Guardian Text Egyptian Web";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: .9em;
  color: #fff;
  background: #d30910; }
  .post.nextcheckt h3 b {
    display: inline-table;
    margin: 21px 0 0;
    font-family: "Guardian Egyptian Web";
    font-weight: 600;
    font-style: normal;
    text-transform: lowercase; }
    .post.nextcheckt h3 b:after {
      content: "."; }
.post.nextcheckt h4 {
  position: absolute;
  z-index: -10;
  display: block;
  top: -12px;
  right: -9px;
  padding: 3px 9px;
  border: 4px solid rgba(211, 9, 16, 0.15);
  font-family: "AmericanTypewriter-Bold";
  font-size: 24px;
  line-height: 1em;
  color: rgba(211, 9, 16, 0.15);
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  transform: rotate(12deg);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box; }

/* In sommige artikelen de kop highlighten voor vom en leesbaarheid - - - */
.post.highlight header {
  line-height: 1.15;
  padding: 2px 0;
  width: 300px; }
  .post.highlight header span {
    display: inline;
    padding: 6px 9px;
    color: #fff;
    background-color: #191919;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
  .post.highlight header h3 {
    margin: 0 0 12px;
    font-family: "Guardian Text Egyptian Web";
    font-weight: 400;
    font-style: normal; }

/* uitzonderingen - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.post.thuissporten {
  background: #ebf0d2; }

.post.boerzoektvrouw img {
  width: 780px;
  height: auto; }

.post.thuissporten img {
  width: 160px;
  height: auto; }
