/* - - screens.scss - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


   op je schouder!


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



@import 'partials/_screen.breakpoints.scss'; 			// vars en mixins
@import 'partials/_screen.vormen.scss'; 				// vars
@import 'partials/_screen.kleuren.scss';				// vars
@import 'partials/_screen.reset.scss'; 					// declaraties

@import 'partials/_screen.typografie.etica.scss'; 		// vars, mixins en declaraties
@import 'partials/_screen.typografie.guardian.scss'; 	// vars, mixins en declaraties
@import 'partials/_screen.typografie.typewriter.scss'; 	// vars, mixins en declaraties
@import 'partials/_screen.typografie.scss'; 			// vars, mixins en declaraties



// -------------------------------------------------------------------------


body {
	background: #eee;
	@include font-serif;
}


header.masthead { // de eerste header staat bovenaan het scherm
	height: 60px;
	border: 1px solid #ccc;
	background: #fff;

	.logo img {
		width: 134px; // 178
		height: 27px; // 36
		margin: 17px auto 0;
	}
	
	.a.hamburger {
		position: absolute;
		width: 21px;
		height: 21px;
		top: 21px;
		left: 12px;

		img {
			width: 21px;
			height: 21px;
		}
	}
	
	.is.a.person {
		position: absolute;
		width: 32px;
		height: 32px;
		top: 16px;
		right: 12px;

		img {
			width: 32px;
			height: 32px;
		}
	}
}

main {
	max-width: 320px; // niet mobile-first maar iPhone-first
	margin: 0 auto;
	padding: 0 6px;
}

.post {
	position: relative;
	display: inline-table;
	min-height: 150px;
	height: auto;
	width: 100%;
	margin: 3px 0;
	background: #fff;

	figure {
		width: 100%;
		overflow: hidden;
	}

	header {
		position: absolute;
		z-index: 10;
		bottom: 12px;
		margin: 0 18px;		
	}

	h1 {
		@include font-headline;
		font-size: 36px;
		line-height: .95em;
	}


	h2,
	h3 {
		@include font-headline;
		font-size: 24px;
		line-height: 1.15em;
	}

	h3,
	h4 {
		xdisplay: inline;
	}

	h2 + p {
		margin: 4px 0 0;
	}

	p {
		font-size: 14px;
		line-height: 1.2em;
	}

	// alleen nu even snel...
	figure {
		position: relative;
		width: 320px;
		height: 320px;
		overflow: hidden;
	
		img {
			position: absolute;
			width: auto;
			height: 320px;
			right: 0px
		}
	}

	h2 {
		display: inline-table;
		margin: 0 0 3px;
	}
	
	h4 {
		display: inline;
		font-size: 14px;
		line-height: 1.2em;
		font-family: $geh_semibold;
	}
	
	h4 + p {
		display: inline;
	}

}


// standaard-maat voor postjes met beeld
.post.beeld {
	height: 320px;

	img {
		width: 100%;
		height: 320px;
	}

	&.donker header {
		color: #fff;
	}
}


// maar het coververhaal is nog wat hoger
.post.coververhaal {
	height: 400px;

	figure {
		height: 400px;
	
		img {
			width: 100%;
			height: 400px;
		}
	}

	h1 + p {
		margin: 6px 0 0;
	}
}


.post.column {
	h2 {
		display: inline;
		@include font-serif;
	}

	h3 {
		display: inline;
	}
	
	h3:after {
		content: ".";
		font-size: 36px;
		color: #d30910;
	}
}


.post.nextcheckt {
	h2 {
		display: inline-block;
		margin: 0 0 0 72px;
		@include font-serif;
	}
	
	h3 {
		position: absolute;
		content: ".";
		display: block;
		width: 66px;
		height: 150px; // zo hoog als het blokje
		bottom: -12px;
		left: -18px;
		padding: 0 0 0 6px;
		@include font-serif;
		font-size: 18px;
		line-height: .9em;
		color: #fff;
		background: #d30910;
	
		b {
			display: inline-table;
			margin: 21px 0 0;
			@include font-headline;
			text-transform: lowercase;
			
			&:after {
				content: ".";
			}
		}
	}
	
	h4 {
		position: absolute;
		z-index: -10;
		display: block;
		top: -12px;
		right: -9px;
		padding: 3px 9px;
		border: 4px solid rgba(#d30910, .15);
		font-family: $typewriter_bold;
		font-size: 24px;
		line-height: 1em;
		color: rgba(#d30910, .15);
		@include rotate(12deg);
		@include border-radius(3px);
	}
}


.post.weten {
	//
}


.post.denken {
	//
}


.post.doen {
	//
}


/* In sommige artikelen de kop highlighten voor vom en leesbaarheid - - - */
// http://css-tricks.com/multi-line-padded-text/
.post.highlight { 
	header{
		line-height: 1.15; 
		padding: 2px 0; 
		width: 300px;
	
		span { 
			display: inline;
			padding: 6px 9px;
			color: #fff; 
			background-color: $bijnazwart;
			-webkit-box-decoration-break: clone;
			box-decoration-break: clone;
		}
		
		h3 {
			margin: 0 0 12px;
			@include font-serif;
		}
	}
}



/* uitzonderingen - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.post.thuissporten {
	background: #ebf0d2;
}


.post.boerzoektvrouw {
	img {
		width: 780px;
		height: auto;
	}
}

.post.thuissporten {
	img {
		width: 160px;
		height: auto;
	}
}