figure {
	position: absolute;
	overflow: hidden;
	width: 80px;
	height: 80px;
	top: 12px;
	left: 12px;
	border: 3px solid #fff;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
	background-clip: padding-box;
}

figure img {
	width: auto;
	height: 100%;
}