
/* - - LFT Etica  - - - - - - - - - - - - - - - - - - - - - - - - - - - - */




// Etica
$etica_extrabold: 		'LFT_Etica_Extrabold';
$etica_extraboldit: 	'LFT_Etica_ExtraboldItalic';

$etica_bold: 			'LFT_Etica_Bold';
$etica_boldit: 			'LFT_Etica_BoldItalic';

$etica_semibold: 		'LFT_Etica_Semibold';
$etica_semiboldit:		'LFT_Etica_SemiboldItalic';

$etica_regular: 		'LFT_Etica_Reg';
$etica_regularit: 		'LFT_Etica_Italic';

$etica_book: 			'LFT_Etica_Book';
$etica_bookit: 			'LFT_Etica_BookItalic';

$etica_light: 			'LFT_Etica_Light';
$etica_lightit: 		'LFT_Etica_LightItalic';


// Etica Display
$eticadisplay_heavy: 	'LFT_EticaDisplay_Heavy';
$eticadisplay_heavyit: 	'LFT_EticaDisplay_HeavyItalic';

$eticadisplay_thin: 	'LFT_EticaDisplay_Thin';
$eticadisplay_thinit: 	'LFT_EticaDisplay_ThinItalic';


// Waar staan de bestanden?
$etica_path: 			'../../../fonts/etica/';




// Fonts declareren, makkelijker kunnen we het niet maken
// 	- forceer ook svg voor betere rendering/layout in Chrome op Windows
// 	  zie http://stackoverflow.com/questions/15422770/font-face-svg-not-working-properly-in-chrome
@each $font-face in $etica_extrabold, $etica_bold, $etica_regular, $etica_light {
	@font-face {
		font-family: $font-face;
		font-stretch: normal;
		src: url(#{$etica-path}#{$font-face}.eot);
		src: url(#{$etica-path}#{$font-face}.eot#iefix) format('embedded-opentype'),
		     url(#{$etica-path}#{$font-face}.svg##{$font-face}) format('svg'),
		     url(#{$etica-path}#{$font-face}.woff) format('woff'),
		     url(#{$etica-path}#{$font-face}.ttf) format('truetype');
	}
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		@font-face {
			font-family: $font-face;
			src: url(#{$etica-path}#{$font-face}.svg##{$font-face}) format('svg');
		}
	}
}

/* uitzondering voor de veelgebruikte Semibold en Book, laden via combined.svg zodat minder requests in Chrome */
@each $font-face in $etica_semibold, $etica_book {
	@font-face {
		font-family: $font-face;
		font-stretch: normal;
		src: url(#{$etica-path}#{$font-face}.eot);
		src: url(#{$etica-path}#{$font-face}.eot#iefix) format('embedded-opentype'),
		     url(../fonts/combined.svg##{$font-face}) format('svg'),
		     url(#{$etica-path}#{$font-face}.woff) format('woff'),
		     url(#{$etica-path}#{$font-face}.ttf) format('truetype');
	}
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		@font-face {
			font-family: $font-face;
			src: url(../fonts/combined.svg##{$font-face}) format('svg');
		}
	}
}


