
// - - liefde - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.liefde.is.delen {
	margin: 0 3px;
	padding: 12px 0 0;
	white-space: nowrap;
	font-family: $font-sans;
	font-size: 14px;

	@include breakpoint(tablet) {
		margin: 0 24px 0 0;
	}

	ul {
		overflow: hidden;
		margin: 0;
		text-align: right;
	}

	li {
		list-style-type: none;
		display: inline-block;
		overflow: hidden;
		width: 42px;
		margin: 0 18px 0 0;
		font-size: 13px;
		line-height: 27px;

		@include breakpoint(tablet) {
			width: 60px;
			margin: 0 24px 0 0;
			font-size: 15px;
			line-height: 30px;
		}
		
		a {
			cursor: pointer;
			border: none;
			color: $grijs;
		}

		svg {
			position: relative;
			display: inline-table;
			width: 18px;
			height: 18px;
			fill: $grijs;
		
			@include breakpoint(tablet) {
				width: 24px;
				height: 24px;
			}
		}


		&.facebook a {
			color: $facebook-kleur;

			svg {
				margin: 0 -1px -4px 0;
				fill: $facebook-kleur;

				@include breakpoint(tablet) {
					margin: 0 -1px -6px 0;
				}
			}

			&:hover {
				color: $facebook-donker;
			
				svg {
					fill: $facebook-donker;
				}
			}
		}


		&.googleplus a {
			color: $googleplus-kleur;

			svg {
				margin: 0 2px -4px 0;
				fill: $googleplus-kleur;

				@include breakpoint(tablet) {
					margin: 0 2px -11px 0;
				}
			}

			&:hover {
				color: $googleplus-donker;
			
				svg {
					fill: $googleplus-donker;
				}
			}
		}

		&.whatsapp a {
			color: $whatsapp-kleur;

			svg {
				margin: 0 3px -4px 0;
				fill: $whatsapp-kleur;
				
				@include breakpoint(tablet) {
					margin: 0 2px -6px 0;
				}
			}

			&:hover {
				color: $whatsapp-donker;
			
				svg {
					fill: $whatsapp-donker;
				}
			}
		}

		&.twitter a {
			color: $twitter-kleur;

			svg {
				margin: 0 2px -4px 0;
				fill: $twitter-kleur;

				@include breakpoint(tablet) {
					margin: 0 2px -6px 0;
				}
			}

			&:hover {
				color: $twitter-donker;
			
				svg {
					fill: $twitter-donker;
				}
			}
		}
	}
}


