/* - - resets en defaults - - - - - - - - - - - - - - - - - - - - - - - - */
// gebaseerd op html5doctor.com/html-5-reset-stylesheet/
// en op http://www.1stwebdesigner.com/design/snippets-html5-boilerplate/



html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
	background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section, img {
	display: block; }

nav ul {
	list-style: none; }

a {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-size: 100%;
	background: transparent; }
a:hover, a:active {
	outline: none; }

ins {
	color: $zwart;
	text-decoration: none;
	background-color: $ins-geel; }

mark {
	color: $zwart;
	font-weight: 700;
	font-style: italic;
	background-color: $ins-geel; }

del {
	text-decoration: line-through; }

abbr[title], dfn[title] {
	border-bottom: 1px dotted $zwart;
	cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
	border-spacing: 0;
	border-collapse: collapse; }

hr {
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
	border: 0;
	border-top: 1px solid $donkerwit; }

input, select {
	vertical-align: middle; }

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] {
	vertical-align: text-bottom; }
input[type="checkbox"] {
	vertical-align: bottom; *vertical-align: baseline; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
	cursor: pointer; }



