
// - - vormen - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */




@mixin blur($radius: 6px) {
	-webkit-filter: blur($radius);
	-moz-filter: blur($radius);
	-o-filter: blur($radius);
	-ms-filter: blur($radius);
	filter: blur($radius);
}



@mixin border-radius($radius: 6px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: ($radius);
	border-radius: $radius;
	background-clip: padding-box; // stops bgcolor from leaking outside the border
}



@mixin box-shadow($posx: 0px, $posy: 0px, $blurradius: 12px, $color: $inkt-wit) {
	-moz-box-shadow: $posx $posy $blurradius $color;
	-webkit-box-shadow: $posx $posy $blurradius $color;
	box-shadow: $posx $posy $blurradius $color;
}



@mixin rotate($degrees: 12deg) {
	-webkit-transform: rotate($degrees);
	-moz-transform: rotate($degrees);
	-ms-transform: rotate($degrees);
	-o-transform: rotate($degrees);
	transform: rotate($degrees);
	//-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=#{-1*sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
	//filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=#{-1*sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
}



@mixin skew($skewx: 42deg, $skewy: 30deg) {
	-webkit-transform: skew($skewx, $skewy);
	-moz-transform: skew($skewx, $skewy);
	-o-transform: skew($skewx, $skewy);
	-ms-transform: skew($skewx, $skewy);
	transform: skew($skewx, $skewy);
}



@mixin sharing-schildje($kleur, $kleur-licht: lighten($kleur, 25%), $kleur-donker: darken($kleur, 10%)) {
	border: 1px solid $kleur;
	background: $kleur;
	background: -webkit-gradient(linear, left top, right bottom, from($kleur-licht), to($kleur));
	background: -o-linear-gradient(top, $kleur-licht, $kleur);
	background: -moz-linear-gradient(left top, $kleur-licht, $kleur);

	.count {
		border-bottom: 1px solid $kleur;
		color: $kleur-donker; }
}



