
/* - - American Typewriter  - - - - - - - - - - - - - - - - - - - - - - - */




// American Typewriter
$typewriter_bold: 				'AmericanTypewriter-Bold';
$typewriter_regular: 			'AmericanTypewriter';
$typewriter_light: 				'AmericanTypewriter-Light';



// American Typewriter Condensed
$typewriter_condensed_bold: 	'AmericanTypewriter-CondensedBold';
$typewriter_condensed_regular: 	'AmericanTypewriter-Condensed';
$typewriter_condensed_light: 	'AmericanTypewriter-CondensedLight';



// Waar staan de bestanden?
$typewriter_path: 				'../fonts/typewriter/';




// Fonts declareren, makkelijker kunnen we het niet maken
// 	- forceer ook svg voor betere rendering/layout in Chrome op Windows
// 	  zie http://stackoverflow.com/questions/15422770/font-face-svg-not-working-properly-in-chrome
@each $font-face in $typewriter_bold, $typewriter_regular, $typewriter_light, $typewriter_condensed_bold, $typewriter_condensed_regular, $typewriter_condensed_light {
	@font-face {
		font-family: $font-face;
		font-stretch: normal;
		src: url(#{$typewriter-path}#{$font-face}.eot);
		src: url(#{$typewriter-path}#{$font-face}.eot#iefix) format('embedded-opentype'),
		     url(#{$typewriter-path}#{$font-face}.svg##{$font-face}) format('svg'),
		     url(#{$typewriter-path}#{$font-face}.woff) format('woff'),
		     url(#{$typewriter-path}#{$font-face}.ttf) format('truetype');
	}
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		@font-face {
			font-family: $font-face;
			src: url(#{$typewriter-path}#{$font-face}.svg##{$font-face}) format('svg');
		}
	}
}


