
// - - tweets - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */




@mixin blockquote($kleur: $inkt-donkerwit) {
	position: relative;
	background: $kleur;
	margin: 0 0 0 24px;
	padding: 18px 24px;
	@include border-radius;

	&:before { // aka piefje
		content: " ";
		display: block;
		position: absolute;
		overflow: hidden;
		z-index: 1;
		width: 18px;
		height: 48px;
		top: 11px;
		left: -6px;
		background: $kleur;
		@include skew(21deg, -6deg);
		@include border-radius;
	}
}



// -------------------------------------------------------------------------



/* aanhalingstekens om (block)quotes */
q {
	quotes: '“' '”' '‘' '’';

	&:before {
		content: '“';
		content: open-quote; }
	&:after {
		content: '”';
		content: close-quote; }

	q:before {
		content: '‘';
		content: open-quote; }
	q:after {
		content: '’';
		content: close-quote; }
}

blockquote {
	q:before {
		content: '‘';
		content: open-quote; }
	q:after {
		content: '’';
		content: close-quote; }
	q q:before {
		content: '“';
		content: open-quote; }
	q q:after {
		content: '”';
		content: close-quote; }
}


/* blockquotes */
blockquote {
	@include blockquote;

	p:first-child {
		margin-top: 0; }
	p:last-child {
		margin-bottom: 0; }

	footer { // cite mag niet meer van de html5-politie
		color: $inkt-grijs; }
}


/* tweets */
blockquote.tweet {
	@include font-sans-large;
	@include blockquote($twitter-lichter);

	div {
		margin: 0;
		padding: 0;
		background: $twitter-lichter;
		@include border-radius(8px);

		div {
			padding: 0 0 3px;
			background: transparent;
			@include border-radius(0px); }
	}

	p {
		margin: 0; }

	a {
		border: none;

		&:link,
		&:visited {
			text-decoration: none; }
		&:hover,
		&:active {
			text-decoration: underline; }

		&.avatar {
			display: none; }
	}

	.name {
		display: block;
		font-size: 13px;
		color: $inkt-grijs;

		.username {
			font-weight: bold; }

		a {
			font-size: 15px;
			line-height: 15px;
			color: $inkt-zwart; }
	 }

	img.ava {
		width: 48px;
		height: 48px; }

	.text {
		display: block; }

	@include breakpoint(tablet) {
		div {
			margin: -3px 0;
			padding: 0 0 0 72px; }

		a.avatar {
			display: block;
			border: none;
			position: absolute;
			top: 21px;
			left: 21px;

			img {
				width: 48px;
				height: 48px;
				margin: 0; }
		}
	}
}



/* smsjes */
blockquote.sms {
	@include font-sans-large;
	@include blockquote($sms-lichter);

	.name {
		display: block;
		font-size: 15px;
		font-weight: bold;
		color: $inkt-zwart;
	 }
}



// -------------------------------------------------------------------------

//
//
// deze later ook nog even sassen:
//
//


/* twittercards, spaar ze allemaal! - - - - - - - - - - - - - - - - - - - */
blockquote.tweet .twittercard {
	display: block;
	margin: 12px -18px 0 -88px;
	padding: 18px 0 0;
	border-top: 4px dotted $inkt-wit;
	border-radius: 0 }

blockquote.tweet .twittercard a:link,
blockquote.tweet .twittercard a:visited,
blockquote.tweet .twittercard a:hover,
blockquote.tweet .twittercard a:active {
	color: $inkt-donkergrijs;
	text-decoration: none }

/* snippets */
blockquote.tweet .twittercard .snippet {
	display: block;
	padding: 0 40px 0 88px;
	font-size: 13px;
	line-height: 18px }

blockquote.tweet .twittercard .snippet h4 {
	text-transform: uppercase;
	font-weight: bold }
blockquote.tweet .twittercard .snippet h4 + img {
	margin-top: 6px }
blockquote.tweet .twittercard .snippet img + p {
	margin-top: -3px }


/* plaatjes */
blockquote.tweet .twittercard img {
	padding: 0 40px 12px 88px;
	max-width: 424px; /* even breed als de embeddable objects */ }
.live blockquote.tweet .twittercard img,
.weblog blockquote.tweet .twittercard img {
	max-width: 360px; /* in (live)blogs is minder ruimte */ }

blockquote.tweet .twittercard .snippet img {
	padding: 0 }


 /* video's e.d komen wat vreemd binnen en breken uit hun span */
blockquote.tweet .placeholder div {
	background: $twitter-lichter;
	padding-left: 88px }

blockquote.tweet .cookieprompt {
	padding-right: 52px }

blockquote.tweet .status {
	margin: 0;
	padding: 0 24px 0 0;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	color: $inkt-bijnagrijs;
	background: url($asset-merel) no-repeat right -2px }
blockquote.tweet .status a:link,
blockquote.tweet .status a:visited {
	color: $inkt-bijnagrijs }



