<!DOCTYPE html>
<html lang="nl-NL">
	<head>
		<meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>grid</title>

		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
 <meta name="apple-mobile-web-app-title" content="nrc.next">

		<link rel="stylesheet" href="//static.nrc.nl/fonts/guardian/headline/fonts.css">
		<link rel="stylesheet" href="//static.nrc.nl/fonts/guardian/web/fonts.css">
		<link rel="stylesheet" href="css/grid.css">

		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
	</head>

	<body>
<!--
		<header class="etiket">
			<div class="plank">
				<div class="logo">
					<a href="grid.html">
						<img src="/img/logo.nrcnext.wit.svg" alt="nrc.next">
					</a>
				</div>
				
				<time>
					<a href="/next/van/8/oktober/2014">
						<span class="dagnaam">woensdag</span> 8 oktober <span class="jaartal">2014</span></time>
					</a>
				</time>
				
				<nav>
					<a class="this is a hamburger" id="slidemenu">
						<img src="/img/ikoon.menu.wit.svg" alt="pick your potion">				
					</a>
					
					<ul>
							{% if not authenticated %}
						<li><a href="http://login.nrc.nl/login">Inloggen</a></li>
							{% else %}
						<li><a href="/account">Account</a></li>
						<li><a id="menu_aanvullen" class="aanvullen" href="#">Tegoed aanvullen</a></li>
						<li><a id="menu_logout" class="aanvullen" href="/account/logout">Uitloggen</a></li>
						{% endif %}
					</ul>
					
					<a class="this is a person">
						<img src="/img/dummy.user.svg" alt="friendly face">
					</a>

					<a class="loupe" href="http://zoeken.nrc.nl">
						<img src="/img/ikoon.loep.svg" alt="find inner peace">
					</a>
				</nav>
			</div>
		</header>
-->

		<div class="header">
			<header class="etiket" id="masthead">
				<div class="plank">				
					<div class="logo">
						<a href="grid.html">
							<img src="/img/logo.nrcnext.wit.svg" alt="nrc.next">
						</a>
					</div>
			
					<time>
						<a href="http://kattenbak.nrc.nl/next/van/2014/oktober/27/kolibrie">
							<span class="weeknaam">maandag</span> 27 oktober 2014
						</a>
					</time>
			
					<nav>						
						<a class="this is a hamburger" id="slidemenu">
							<img src="img/ikoon.menu.wit.svg" alt="pick your potion">				
						</a>

						<!--
						<a class="this is a person" id="slidemenu">
							<img src="/img/dummy.user.svg" alt="friendly face">
						</a>						
						<a class="loupe" href="http://zoeken.nrc.nl">
							<img src="/static/img/ikoon.loep.svg">
						</a>
						-->
					</nav>
				</div>
			</header>
			
			<div class="slidemenu">
				<ul>
					<li>
						<a href="http://login.nrc.nl/login?service=http://kattenbak.nrc.nl/next/van/2014/oktober/27/kolibrie">Inloggen</a>
					</li>
				</ul>
			</div>
		</div>

		<main>
			<div class="rij cover">
				<div class="blok weten plaatje" style="background-image: url(pulp/beeld/astronaut.gif);">
					<a href="jeweetzelf_1.html">
							<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
						
						<div class="ontwerp notitie">
							<p>1</p>
							<p>cover</p>
						</div>
					</a>
				</div>			
			
				<div class="blok denken plaatje" style="background-image: url(pulp/beeld/schot.jpg);">
					<a href="jeweetzelf_2.html">
						<header>
							<h4>Astronaut: Kijk niet om, ga steeds naar Schotland</h4>
							<h2>Onverenigd Koninkrijk</h2>
						</header>
	
						<div class="ontwerp notitie">
							<p>2</p>
							<p>ankeiler denken 1</p>
						</div>
					</a>
				</div>
			
				<div class="blok doen plaatje" style="background-image: url(pulp/beeld/cameron.jpg);">
					<a href="jeweetzelf_3.html">
						<header>
							<h4>Schotland</h4>
							<h2>Onverenigd Koninkrijk</h2>
						</header>
	
						<div class="ontwerp notitie">
							<p>3</p>
							<p>ankeiler doen 1</p>
						</div>
					</a>
				</div>
			</div>


			<div class="rij met grote">
				<div class="blok column marcel">
					<a href="jeweetzelf_4.html">
						<header>
							<h4>Marcel</h4>
							<h2>Lachen met visueel gehandicapten</h2>
						</header>
						
						<div class="ontwerp notitie">
							<p>4</p>
							<p>column marcel/simone</p>
						</div>
					</a>
				</div>
				
				<div class="blok weten plaatje" style="background-image: url(pulp/beeld/corbijn.jpg);">
					<a href="jeweetzelf_5.html">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
						
						<div class="ontwerp notitie">
							<p>5</p>
							<p>ankeiler weten 1</p>
						</div>
					</a>
				</div>
			</div>


			<div class="rij binnenkant">
				<div class="blok weten plaatje" style="background-image: url(pulp/beeld/elf.jpg);">
					<a href="jeweetzelf_6.html">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
						
						<div class="ontwerp notitie">
							<p>6</p>
							<p>weten 2</p>
						</div>
					</a>
				</div>
				
				<div class="blok nextcheckt">
					<a href="jeweetzelf_7.html">
						<header>
							<h4>Next Checkt</h4>
							<h2>Er sterven meer vrouwen door huiselijk geweld dan door oorlog</h2>
							<p>Dat stond 9 oktober in <i>nrc.next</i>
						</header>
						
						<!--
						<div class="formulier">
							<ul>
								<li>Waar</li>
								<li>Grotendeels waar</li>
								<li>Grotendeels onwaar</li>
								<li>Onwaar</li>
								<li class="niettechecken oordeel">Niet te checken</li>
								<li class="ongefundeerd">Ongefundeerd</li>
							</ul>
						</div>
						-->
						
						<div class="ontwerp notitie">
							<p>7</p>
							<p>next checkt</p>
						</div>
					<a href="jeweetzelf.html">
				</div>
				
				<div class="blok weten">
					<a href="jeweetzelf_8.html">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
	
						<div class="ontwerp notitie">
							<p>8</p>
							<p>weten 3</p>
						</div>
					</a>
				</div>
				
				<div class="blok weten plaatje" style="background-image: url(pulp/beeld/onderweg.jpg);">
					<a href="jeweetzelf_9.html">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
						
						<div class="ontwerp notitie">
							<p>9</p>
							<p>weten 4</p>
						</div>
					</a>
				</div>
			</div>


			<div class="rij met doos">
				<div class="doos">			
					<div class="half blok weten">
						<a href="jeweetzelf_10.html">
							<header>
								<h4>Ruimte</h4>
								<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
							</header>
						
							<div class="ontwerp notitie">
								<p>10</p>
								<p>weten 5</p>
							</div>
						</a>
					</div>
					
					<div class="half blok weten">
						<a href="jeweetzelf_11.html">
							<header>
								<h4>Ruimte</h4>
								<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
							</header>
							
							<div class="ontwerp notitie">
								<p>11</p>
								<p>weten 6</p>
							</div>
						</a>
					</div>				
				</div>
				
				<div class="blok weten plaatje" style="background-image: url(pulp/beeld/tonylittle.jpg);">
					<a href="jeweetzelf_12.html">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
							
						<div class="ontwerp notitie">
							<p>12</p>
							<p>weten 7</p>
						</div>
					</a>
				</div>
				
				<div class="blok weten plaatje" style="background-image: url(pulp/beeld/zee.jpg);">
					<a href="jeweetzelf_13.html">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
						
						<div class="ontwerp notitie">
							<p>13</p>
							<p>weten 8</p>
						</div>
					</a>
				</div>
			</div>


			<div class="rij">
				<div class="blok weten plaatje" style="background-image: url(pulp/beeld/schot.jpg);">			
					<a href="jeweetzelf_14.html">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
	
						<div class="ontwerp notitie">
							<p>14</p>
							<p>weten 9</p>
						</div>
					</a>
				</div>			
				
				<div class="blok weten plaatje" style="background-image: url(pulp/beeld/corbijn.jpg);">
					<a href="jeweetzelf_15.html">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
	
						<div class="ontwerp notitie">
							<p>15</p>
							<p>weten 10</p>
						</div>
					</a>
				</div>

				<div class="blok weten plaatje" style="background-image: url(pulp/beeld/elf.jpg);">
					<a href="jeweetzelf_16.html">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
	
						<div class="ontwerp notitie">
							<p>16</p>
							<p>weten 11</p>
						</div>
					</a>
				</div>
			</div>

	
			<div class="rij in-beeld">
				<div class="blok in-beeld plaatje" style="background-image: url(pulp/beeld/wad.jpg);">
					<a href="jeweetzelf_inbeeld.html">
						<header>
							<h4>De Waddenzee</h4>
							<h2>Waar zijn de zeehondjes?</h2>
						</header>	
						
						<div class="ontwerp notitie">
							<p>&nbsp;</p>
							<p>inbeeld</p>
						</div>
					</a>
				</div>
			</div>
	
	
			<div class="rij met grote">
				<div class="blok tech plaatje" style="background-image: url(pulp/beeld/yosemite.jpg);">
					<a href="jeweetzelf_17.html">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
						
						<div class="ontwerp notitie">
							<p>17</p>
							<p>tech 1</p>
						</div>
					</a>
				</div>
				
				<div class="blok tech plaatje" style="background-image: url(pulp/beeld/stuur.jpg);">
					<a href="jeweetzelf_18.html">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
	
						<div class="ontwerp notitie">
							<p>18</p>
							<p>tech 2</p>
						</div>
					</a>
				</div>
			</div>


			<div class="rij met grote">
				<div class="blok tech plaatje" style="background-image: url(pulp/auteurs/mvanroosmalen.jpg);">
					<a href="jeweetzelf.html">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
						
						<div class="ontwerp notitie">
							<p>17</p>
							<p>denken 1</p>
						</div>
					</a>
				</div>
				
				<div class="blok tech plaatje" style="background-image: url(pulp/beeld/boerenbont.jpg);">
					<a href="jeweetzelf.html">
					<header>
						<h4>Ruimte</h4>
						<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
					</header>

					<div class="ontwerp notitie">
						<p>18</p>
						<p>denken 2</p>
					</div>
					</a>
				</div>
			</div>


<!--	
			<div class="rij met grote doos">
				<div class="blok denken" style="background-image: url(pulp/beeld/boerenbont.jpg);">
					<header>
						<h4>Ruimte</h4>
						<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
					</header>

					<div class="ontwerp notitie">
						<p>19</p>
						<p>denken 2</p>
					</div>
				</div>
				
				<div class="doos">			
					<div class="half blok denken column" style="background-image: url(pulp/auteurs/mvanroosmalen.jpg);">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
	
						<div class="ontwerp notitie">
							<p>20</p>
							<p>denken column 1</p>
						</div>
					</div>
					
					<div class="half blok denken column" style="background-image: url(pulp/auteurs/mvanroosmalen.jpg);">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
						
						<div class="ontwerp notitie">
							<p>21</p>
							<p>denken column 2</p>
						</div>
					</div>				
				</div>
			</div>
			

			<div class="rij met grote doos">
				<div class="blok denken" style="background-image: url(pulp/beeld/boerenbont.jpg);">
					<header>
						<h4>Ruimte</h4>
						<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
					</header>

					<div class="ontwerp notitie">
						<p>19</p>
						<p>denken 2</p>
					</div>
				</div>
				
				<div class="doos">			
					<div class="half blok denken column" style="background-image: url(pulp/auteurs/mvanroosmalen.jpg);">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
	
						<div class="ontwerp notitie">
							<p>20</p>
							<p>denken column 1</p>
						</div>
					</div>
					
					<div class="half blok denken column" style="background-image: url(pulp/auteurs/mvanroosmalen.jpg);">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
						
						<div class="ontwerp notitie">
							<p>21</p>
							<p>denken column 2</p>
						</div>
					</div>				
				</div>
			</div>
-->
			
			<div class="rij met grote">				
				<div class="blok doen plaatje" style="background-image: url(pulp/beeld/zwanger.jpg);">
					<a href="jeweetzelf.html">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
	
						<div class="ontwerp notitie">
							<p>22</p>
							<p>doen 2</p>
						</div>
					</a>
				</div>
				
				<div class="blok doen plaatje" style="background-image: url(pulp/beeld/koerden.jpg);">
					<a href="jeweetzelf.html">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
	
						<div class="ontwerp notitie">
							<p>23</p>
							<p>doen 3</p>
						</div>
					</a>
				</div>
			</div>
	
			<div class="halve rij">
				<div class="half blok doen recensie">
					<a href="jeweetzelf.html">
						<figure>
							<img src="pulp/beeld/foxygen.jpg" alt="Foxygen">
						</figure>
	
						<header>
							<h4 class="score"><b>●●</b>●●●</h4>
							<h2>Talent, maar het ontspoort</h2>
						</header>
					</a>
				</div>
				
				<div class="half blok doen recensie">
					<a href="jeweetzelf.html">
						<figure>
							<img src="pulp/beeld/aretha.jpg" alt="Aretha Franklin">
						</figure>
	
						<header>
							<h4 class="score"><b>●●</b>●●●</h4>
							<h2>Waar is Aretha's kracht?</h2>
						</header>
					</a>
				</div>
				
				<div class="half blok doen recensie">
					<a href="jeweetzelf.html">
						<figure>
							<img src="pulp/beeld/nilza" alt="Nilza Costa">
						</figure>
	
						<header>
							<h4 class="score"><b>●●●●</b>●</h4>
							<h2>Dans als een Afro-Braziliaan</h2>
						</header>
					</a>
				</div>
			</div>

			<div class="rij met grote">				
				<div class="blok vandaag koken plaatje" style="background-image: url(pulp/beeld/tosti.png);">
					<a href="jeweetzelf.html">
						<header>
							<h4>Ruimte</h4>
							<h2>Astronaut: Kijk niet om, ga steeds vooruit</h2>
						</header>
	
						<div class="ontwerp notitie">
							<p>27</p>
							<p>koken</p>
						</div>
					</a>
				</div>
				
				<div class="blok vandaag ns-hartkloppingen">
					<a href="jeweetzelf.html">
						<header>
							<h4>NS Hartkloppingen</h4>
							<h2>Jij met je iPad</h2>
						</header>
	
						<div class="ontwerp notitie">
							<p>29</p>
							<p>rubriek</p>
						</div>
					</a>
				</div>
			</div>
			
			
			<div class="rij carriere">
				<div class="blok kolom carriere plaatje" style="background-image: url(http://static.nrc.nl/images/w640/2910nncar%20ca4-5_final.jpg|http://static.nrc.nl/images/w1280/2910nncar%20ca4-5_final.jpg)">
					<a href="/next/van/2014/oktober/29/ik-schaamde-me-ik-deed-niet-mee-aan-de-maatschapp-1433259">
						<header>
							<h2>Geen werk? Niet jouw schuld </h2>
						</header>
					</a>
				</div>
				
				<div class="blok kolom carriere japke-d.">
					<a href="/next/van/2014/oktober/29/japke-d-een-dag-niet-ontslagen-is-een-dag-niet-1433256">
						<header>
							<h4>Japke-d.</h4>
							<h2>Een dag niet ontslagen, is een dag niet geleefd </h2>
						</header>
					</a>
				</div>
				
				<div class="blok kolom carriere online-winkels plaatje" style="background-image: url(http://static.nrc.nl/images/w640/2910nncartomass.jpg|http://static.nrc.nl/images/w1280/2910nncartomass.jpg)">
					<a href="/next/van/2014/oktober/29/webshop-leuk-nou-niet-echt-dus-1433258">
						<header>
							<h4>Online winkels </h4>
							<h2>Webshop, leuk! Nou niet echt dus </h2>
						</header>
					</a>
				</div>
			</div>
			
			<div class="rij met grote">
				<div class="blok kolom carriere falen-op-de-arbeidsmarkt-">
					<a href="/next/van/2014/oktober/29/renzo-verwer-stelt-je-gerust-1434275">
						<header>
							<h4>Falen op de arbeidsmarkt </h4>
							<h2>Renzo Verwer stelt je gerust </h2>
						</header>
					</a>
				</div>
				
				<div class="blok kolom carriere verdienen-&amp;-uitgeven plaatje" style="background-image: url(http://static.nrc.nl/images/w640/2910nncarverdienen1.jpg|http://static.nrc.nl/images/w1280/2910nncarverdienen1.jpg)">
					<a href="/next/van/2014/oktober/29/ik-leen-maandelijks-800-euro-van-mijn-ouders-1433261">
						<header>
							<h4>Verdienen &amp; Uitgeven</h4>
							<h2>Ik leen maandelijks 800 euro van mijn ouders </h2>
						</header>
					</a>
				</div>
			</div>
			
			<div class="rij carriere">
				<div class="blok kolom carriere leermeester">
					<a href="/next/van/2014/oktober/29/ik-hoef-geen-carriere-ik-wil-elke-dag-buiten-zijn-1433260">
						<header>
							<h4>Leermeester</h4>
							<h2>Ik hoef geen carriere, ik wil elke dag buiten zijn </h2>
						</header>
					</a>
				</div>
				
				<div class="blok kolom carriere overlevingtruc">
					<a href="/next/van/2014/oktober/29/last-van-faalangst-zo-praat-je-jezelf-eruit-1433263">
						<header>
							<h4>Overlevingtruc</h4>
							<h2>Last van faalangst? Zo praat je jezelf eruit </h2>
						</header>
					</a>
				</div>
				
				<div class="blok kolom carriere voor-de-rechter">
					<a href="/next/van/2014/oktober/29/geen-kantinekroket-voor-deurwaarder-1433264">
						<header>
							<h4>voor de rechter</h4>
							<h2>Geen kantinekroket voor deurwaarder </h2>
						</header>
					</a>
				</div>
			</div>
			
			<div class="rij met grote carriere">
				<div class="blok kolom carriere pretendstudent plaatje" style="background-image: url(http://static.nrc.nl/images/w640/2910nncarpretendstudent.jpg|http://static.nrc.nl/images/w1280/2910nncarpretendstudent.jpg)">
					<a href="/next/van/2014/oktober/29/iedereen-dacht-dat-ik-studeerde-1433266">
						<header>
							<h4>Pretendstudent </h4>
							<h2>Iedereen dacht dat ik studeerde </h2>
						</header>
					</a>
				</div>
				
				<div class="blok kolom carriere ondernemen plaatje"
				style="background-image: url(http://static.nrc.nl/images/w640/2910nncaralexandra.jpg|http://static.nrc.nl/images/w1280/2910nncaralexandra.jpg)">
					<a href="/next/van/2014/oktober/29/missie-gefaald-maar-ik-blijf-positief-1433272">
						<header>
							<h4>Ondernemen </h4>
							<h2>Missie gefaald, maar ik blijf positief</h2>
						</header>
					</a>
				</div>
			</div>
			
			<div class="rij carriere">
				<div class="blok kolom carriere start-up">
					<a href="/next/van/2014/oktober/29/niemand-wilde-de-zonnepanelen-1433265">
						<header>
							<h4>start up</h4>
							<h2>Niemand wilde de zonnepanelen </h2>
						</header>
					</a>
				</div>
				
				<div class="blok kolom">
				<a href="">
				<header>
				<h2> </h2>
				</header>
				</a>
				</div>
				
				<div class="blok kolom">
				<a href="">
				<header>
				<h2> </h2>
				</header>
				</a>
				</div>
			</div>

		</main>
		
		<script src="http://www.nrc.nl/js/nmt.head.min.js?v=20141028 "></script>
		<script src="js/nmt.bak.doen.js?v=20141028"></script>	
	</body>
</html>


