
// - - breakpoints  - - - - - - - - - - - - - - - - - - - - - - - - - - - */




// helpt met apparaat-specifieke media-queries
// @import '_media-queries.scss';



// ---------------------------------------------------------------------- */



$mobile: 					320px;
$mobile-landscape: 			480px;

$iphone-zes: 				375px;
$iphone-zes-landscape: 		667px;

$iphone-zesplus:			414px;
$iphone-zesplus-landscape: 	736px;

$tablet: 					767px;
$tablet-landscape: 			1024px;

$desktop: 					1280px;
$desktop-wide: 				1500px;



// ---------------------------------------------------------------------- */



@mixin between-breakpoints($min, $max) {
	@media (min-width: $min) and (max-width: $max) {
		@content;
	}
}


@mixin breakpoint($point, $value: 0) {
	@if $point == mobile {
		@media (min-width: $mobile) { @content; }
	}

	@else if $point == mobile-landscape {
		@media (min-width: $mobile-landscape) { @content; }
	}


	@else if $point == iphone-zes {
		@media (min-width: $iphone-zes) { @content; }
	}

	@else if $point == iphone-zesplus {
		@media (min-width: $iphone-zesplus) { @content; }
	}


	@else if $point == tablet {
		@media (min-width: $tablet) { @content; }
	}

	@else if $point == tablet-landscape {
		@media (min-width: $tablet-landscape) { @content; }
	}


	@else if $point == desktop {
		@media (min-width: $desktop) { @content; }
	}

	@else if $point == desktop-wide {
		@media (min-width: $desktop-wide) { @content; }
	}

	@else {
		@media ($point: $value) { @content; }
	}
}



