﻿
/* - - typografie - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

$font-headline: 		$geh_semibold, Georgia, "Times New Roman", serif;

/*
$font-title:	 		$geh_light, Georgia, "Times New Roman", serif;

$font-headline-sans: 	$geh_medium, Georgia, "Times New Roman", serif;

$font-serif: 			$geh_regular, Georgia, "Times New Roman", serif;

$font-sans: 			$etica_book, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$font-sans-headline:	$etica_semibold, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$font-sans-alt: 		"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;

$font-fixed: 			Courier, monospace;
*/




// $font-headline: 	$geh_semibold, Georgia, serif;
@mixin font-headline() {
	font-family: "Guardian Egyptian Web";
	font-weight: 600;
	font-style: normal;
}

//$font-serif: 	$geh_regular, Georgia, serif;
@mixin font-serif() {
	font-family: "Guardian Text Egyptian Web";
	font-weight: 400;
	font-style: normal;
}

$font-sans: $etica_book, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;


// -------------------------------------------------------------------------

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}


/* links */
a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&:link {
		border-bottom: 1px solid lighten($link-blauw, 50);
		color: $link-blauw; 
	}
	&:visited {
		border-bottom: 1px solid lighten($link-blauw, 50);
		color: $link-bezocht-blauw; 
	}
	&:hover {
		border-bottom: 1px solid lighten($link-blauw, 30);
	}
	&:active {
		border-bottom: 1px solid lighten($nrc-rood, 50);
		color: $nrc-rood;
	}
}


