
/* - - kleuren  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */




// - - - - - - - - twelve shades of grey
$wit: 						rgb(255, 255, 255); 	// 	#fff    	   0%
$bijnawit: 					rgb(242, 242, 242); 	// 	#f2f2f2 	   5%
$donkerwit: 				rgb(237, 237, 237); 	// 	#eee    	   7%
$lichtergrijs:				rgb(220, 220, 220);		// 	#dcdcdc   	  10%
$lichtgrijs:				rgb(204, 204, 204);		// 	#ccc    	  20%
$bijnagrijs: 				rgb(153, 153, 153); 	// 	#999    	  40%
$grijs: 					rgb(127, 127, 127); 	// 	#777    	  50%
$grijzer: 					rgb(102, 102, 102); 	// 	#666    	  60%
$donkergrijs: 				rgb( 76,  76,  76); 	// 	#4c4c4c    	  70%
$lichtzwart: 				rgb( 51,  51,  51); 	// 	#333    	  80%
$bijnazwart: 				rgb( 25,  25,  25); 	// 	#191919 	  90%
$zwart: 					rgb(  0,   0,   0); 	// 	#000    	 100%



// - - - - - - - - systeemkleuren
$knal-geel:					yellow;
$ins-geel:					rgb(255, 255, 153); 	// 	#ff9    	gelig

$link-blauw:				rgb(  0,   0, 204); 	// 	#0000cc		blauw
$link-over-blauw:   		rgb( 51,  51, 255);		//	#3333ff		helder blauw
$link-bezocht-blauw: 		rgb(  0,   0, 102);     //  #000066     donker blauw

$fout-kleur:				rgb(255, 223, 191); 	// 	#ffdfbf 	licht oranje
$fout-lichter:				rgb(255, 128,   0);		// 	#ff8000 	oranje



// - - - - - - - - huiskleuren
$nrc-rood: 					rgb(211,   9,  16); 	// 	#d30910
$nrc-rood-donker:			rgb(175,   7,  13); 	//  #af070d
$nrc-rood-licht:			rgb(211,  68,  73); 	//  #d34449

$nrc-groen:					rgb(  0, 153,   0); 	// 	#009900 	bijv. In Beeld



// - - - - - - - - huiskleuren nrc.next
$next-rood: 				#ed1d24;
$next-grijs: 				#d2d1c5;
$next-donkergrijs: 			#b4b3a4; // toegevoegd
$next-geelgroen: 			#cdcf19;
$next-lichtgroen: 			#63c8d5;
$next-groen: 				#00abb2;
$next-donkergroen: 			#00746b;
$next-paars: 				#ba1c8e;
$next-donkerpaars: 			#774387;


$next-weten-rood:			$next-rood;
$next-weten-geelgroen:		$next-geelgroen;
$next-weten-grijs:			$next-grijs;
$next-weten-donkergrijs:	$next-donkergrijs;

$next-denken-lichtgroen:	$next-lichtgroen;
$next-denken-groen:			$next-groen;
$next-denken-donkergroen:	$next-donkergroen;

$next-doen-geelgroen:		$next-geelgroen;
$next-doen-paars:			$next-paars;
$next-doen-donkerpaars:		$next-donkerpaars;

$next-carriere-paars:		$next-paars;
$next-carriere-donkerpaars:	$next-donkerpaars;
$next-carriere-grijs:		$next-grijs;



// - - - - - - - - introductiebalk .alphabeta
$alpha-kleur: 				#0274a8;
$alpha-donker: 				#1196c2;
$alpha-fout:				#fbcdcf;



// - - - - - - - - paywall kleuren
$paywall-body:				rgb(234, 226, 206); 	// 	#eae2ce		lichthuid
$paywall-body-alt:			rgb(233, 226, 207); 	// 	#e9e2cf		lichthuid-alt



// - - - - - - - - advertorial kleuren
$adv-body: 					rgb(218, 237, 244); 	//	#daedf4 	45% lightblue
$adv-donker:				rgb( 60, 152, 179); 	//	#3c98b3		teskstkleur
$adv-kleur: 				rgb(173, 216, 230); 	// 	#add8e6		lightblue
$adv-licht: 				rgb(238, 234, 249); 	//	#eef4f9



// - - - - - - - - de kleuren van de liefde
$email-donker: 				#888;
$email-kleur: 				#dedede;
$email-licht: 				#efefef;

$facebook-donker: 			#104d89;
$facebook-kleur: 			#07549f;
$facebook-licht: 			#5d8fc0;

$googleplus-donker: 		#c63421;
$googleplus-kleur: 			#dd4c39;
$googleplus-licht: 			#f36d5b;

$linkedin-donker: 			#104d89;
$linkedin-kleur: 			#007bb6;
$linkedin-licht: 			#5d8fc0;

$twitter-donker: 			#148bb2;
$twitter-kleur: 			#42c8f4;
$twitter-licht: 			#81daf8;
$twitter-lichter: 			#e1f7ff;

$whatsapp-donker: 			#58ad15; // ehm?
$whatsapp-kleur: 			#58ad15;
$whatsapp-licht: 			#58ad15; // ehm?

// TBD
$favoriet-donker: 			#148bb2;
$favoriet-kleur: 			gold;
$favoriet-licht: 			lighten(gold, 20%);
$favoriet-lichter: 			lighten(gold, 30%);

$sms-lichter: 				#c2ee64;



// - - - - - - - - toet-toet boing-boing
$groen-lichtst: 			#ecf0bf;
$groen-lichter: 			#79aa52;
$groen-licht: 				#62a441;
$groen: 					#4c8033;
$groen-donker: 				#28441b;

// nieuw, als op rs3:
// $groen-donker: 			rgb( 83, 138,  55); 	//	#538a37;	button:hover
// $groen: 					rgb( 87, 146,  58); 	//	#57923a; 	button
// $groen-licht: 			rgb( 98, 164,  65); 	//	#62a441;
// $groen-lichter: 			rgb(121, 170,  82); 	//	#79aa52;



// - - - - - - - - hulpfuncties

@function inverse-side($side) {
	@if      $side == top    { @return bottom; }
	@else if $side == bottom { @return top; }
	@else if $side == left   { @return right; }
	@else if $side == right  { @return left; }
}




// - - - - - - - - kleurverlopen

@mixin gradient($from, $to) {
	background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background: -moz-linear-gradient(top,  $from, $to);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}


// met een beetje hulp van http://www.colorzilla.com/gradient-editor/
@mixin black-gradient() {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 35%, rgba(0,0,0,0.7) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(35%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
}


@mixin green-gradient() {
	background: $groen; // old browsers
	// IE9 SVG, needs conditional override of 'filter' to 'none'
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNGM4MDMzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNjJhNDQxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc5YWE1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(45deg,  $groen 0%, $groen-licht 50%, $groen-lichter 100%); // FF3.6+
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, $groen), color-stop(50%, $groen-licht), color-stop(100%, $groen-lichter)); // Chrome,Safari4+
	background: -webkit-linear-gradient(45deg,  $groen 0%, $groen-licht 50%, $groen-lichter 100%); // Chrome10+,Safari5.1+
	background: -o-linear-gradient(45deg, $groen 0%, $groen-licht 50%, $groen-lichter 100%); // Opera 11.10+
	background: -ms-linear-gradient(45deg, $groen 0%, $groen-licht 50%, $groen-lichter 100%); // IE10+
	background: linear-gradient(45deg, $groen 0%, $groen-licht 50%, $groen-lichter 100%); // W3C
	// IE6-8 fallback on horizontal gradient:
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$groen', endColorstr='$groen-lichter', GradientType=1); // IE6-8 fallback on horizontal gradient
}


