
/* - - Guardian Egyptian  - - - - - - - - - - - - - - - - - - - - - - - - */




// Guardian Egyptian Headline
$geh_black: 			'GuardianEgyp-Black-Web';
$geh_blackit: 			'GuardianEgyp-BlackIt-Web';
			
$geh_bold: 				'GuardianEgyp-Bold-Web';
$geh_boldit: 			'GuardianEgyp-BoldIt-Web';

$geh_semibold: 			'GuardianEgyp-Semibold-Web';
$geh_semiboldit: 		'GuardianEgyp-SemiboldIt-Web';

$geh_medium: 			'GuardianEgyp-Medium-Web';
$geh_mediumit: 			'GuardianEgyp-MediumIt-Web';

$geh_regular: 			'GuardianEgyp-Regular-Web';
$geh_regularit: 		'GuardianEgyp-RegularIt-Web';

$geh_light: 			'GuardianEgyp-Light-Web';
$geh_lightit: 			'GuardianEgyp-LightIt-Web';

$geh_thin: 				'GuardianEgyp-Thin-Web';
$geh_thinit: 			'GuardianEgyp-ThinIt-Web';

$geh_hairline: 			'GuardianEgyp-Hairline-Web';
$geh_hairlineit: 		'GuardianEgyp-HairlineIt-Web';


// Guardian Egyptian Text
$get_black: 			'GuardianTextEgyp-Black-Web';
$get_blackit: 			'GuardianTextEgyp-BlackIt-Web';
			
$get_bold: 				'GuardianTextEgyp-Bold-Web';
$get_boldit: 			'GuardianTextEgyp-BoldIt-Web';

$get_medium: 			'GuardianTextEgyp-Medium-Web';
$get_mediumit: 			'GuardianTextEgyp-MediumIt-Web';

$get_regular: 			'GuardianTextEgyp-Regular-Web';
$get_regularit: 		'GuardianTextEgyp-RegularIt-Web';


// Waar staan de bestanden?
$guardian_path: 		'../fonts/guardian/';




// Fonts declareren, makkelijker kunnen we het niet maken
// 	- forceer ook svg voor betere rendering/layout in Chrome op Windows
// 	  zie http://stackoverflow.com/questions/15422770/font-face-svg-not-working-properly-in-chrome
@each $font-face in $geh_black, $geh_bold, $geh_semibold, $geh_regular, $geh_light, $geh_thin, $geh_hairline,
					$geh_semiboldit,
					$get_black, $get_bold, $get_medium, $get_regular {
	@font-face {
		font-family: $font-face;
		font-stretch: normal;
		src: url(#{$guardian-path}#{$font-face}.eot);
		src: url(#{$guardian-path}#{$font-face}.eot#iefix) format('embedded-opentype'),
		     url(#{$guardian-path}#{$font-face}.svg##{$font-face}) format('svg'),
		     url(#{$guardian-path}#{$font-face}.woff) format('woff'),
		     url(#{$guardian-path}#{$font-face}.ttf) format('truetype');
	}
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		@font-face {
			font-family: $font-face;
			src: url(#{$guardian-path}#{$font-face}.svg##{$font-face}) format('svg');
		}
	}
}


/* uitzondering voor de veelgebruikte GuardianEgyp-Medium-Web, laden via combined.svg zodat minder requests in Chrome */
@each $font-face in $geh_medium {
	@font-face {
		font-family: $font-face;
		font-stretch: normal;
		src: url(#{$guardian-path}#{$font-face}.eot);
		src: url(#{$guardian-path}#{$font-face}.eot#iefix) format('embedded-opentype'),
		     url(../fonts/combined.svg##{$font-face}) format('svg'),
		     url(#{$guardian-path}#{$font-face}.woff) format('woff'),
		     url(#{$guardian-path}#{$font-face}.ttf) format('truetype');
	}
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		@font-face {
			font-family: $font-face;
			src: url(../fonts/combined.svg##{$font-face}) format('svg');
		}
	}
}


