/* - - optimum.post.scss - - - - - - - - - - - - - - - - - - - - - - - - - -


	Met dit stylesheet worden de beelden die gebruikt zijn voor het maken
	van de commercial geframed.
	
	.post.foto { width: 100%; height: auto; top: 0; left: 0; } // default


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



.post.foto.cameron {
	img {
		width: 150%;
		height: auto;
		top: 0;
		left: -5%;
	}
}


.post.foto.corbijn {
	img {
		width: 260%;
		height: auto;
		top: -56%;
		left: -48%;
	}
}


.post.foto.elf {
	img {
		width: 180%;
		height: auto;
		top: 0;
		left: 0;
	}
}


.post.foto.koerden {
	img {
		width: 159%;
		height: auto;
		top: -6%;
		left: -17%;
	}
}


.post.foto.obama {
	img {
		width: 220%;
		height: auto;
		top: -40%;
		left: -40%;
	}
}


// animated gif
.post.video.ruimte {
	video {
		width: auto;
		height: 100%;
	}
}
// still
.post.foto.ruimte {
	img {
		width: 180%;
		height: auto;
		top: 0;
		left: 0;
	}
	
	// nodig voor woordafbreking op iPhone 6
	@include breakpoint(iphone-zes) {
		header {
			margin: 0 36px 0 18px;
		}
	}
}


// animated gif
.post.video.taxiwereld {
	video {
		width: auto;
		height: 100%;
		top: -120%;
		left: -24%;
	}
}
// still
.post.foto.taxiwereld {
	img {
		width: 180%;
		height: auto;
		top: 0;
		left: -10%;
	}
}


.post.video.wad {
	video {
		width: auto;
		height: 110%;
		top: -60%;
		left: -40%;
	}
}


.post.foto.zwanger {
	img {
		width: auto;
		height: 105%;
		top: 0%;
		left: -27%;
	}
}


