/* - - optimum.post.scss - - - - - - - - - - - - - - - - - - - - - - - - - -


   Premium, maar dan beter uitgevoerd!


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - kleuren  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*
// nieuw, als op rs3:
$groen-donker: 		rgb( 83, 138,  55); 	//	#538a37;	button:hover
$groen: 			rgb( 87, 146,  58); 	//	#57923a; 	button
$groen-licht: 		rgb( 98, 164,  65); 	//	#62a441;
$groen-lichter: 	rgb(121, 170,  82); 	//	#79aa52;
*/
/* - - LFT Etica  - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: "LFT_Etica_Extrabold";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Extrabold.eot);
  src: url(../../../fonts/etica/LFT_Etica_Extrabold.eot#iefix) format("embedded-opentype"), url(../../../fonts/etica/LFT_Etica_Extrabold.svg#LFT_Etica_Extrabold) format("svg"), url(../../../fonts/etica/LFT_Etica_Extrabold.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Extrabold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Extrabold";
    src: url(../../../fonts/etica/LFT_Etica_Extrabold.svg#LFT_Etica_Extrabold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Bold";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Bold.eot);
  src: url(../../../fonts/etica/LFT_Etica_Bold.eot#iefix) format("embedded-opentype"), url(../../../fonts/etica/LFT_Etica_Bold.svg#LFT_Etica_Bold) format("svg"), url(../../../fonts/etica/LFT_Etica_Bold.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Bold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Bold";
    src: url(../../../fonts/etica/LFT_Etica_Bold.svg#LFT_Etica_Bold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Reg";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Reg.eot);
  src: url(../../../fonts/etica/LFT_Etica_Reg.eot#iefix) format("embedded-opentype"), url(../../../fonts/etica/LFT_Etica_Reg.svg#LFT_Etica_Reg) format("svg"), url(../../../fonts/etica/LFT_Etica_Reg.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Reg.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Reg";
    src: url(../../../fonts/etica/LFT_Etica_Reg.svg#LFT_Etica_Reg) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Light";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Light.eot);
  src: url(../../../fonts/etica/LFT_Etica_Light.eot#iefix) format("embedded-opentype"), url(../../../fonts/etica/LFT_Etica_Light.svg#LFT_Etica_Light) format("svg"), url(../../../fonts/etica/LFT_Etica_Light.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Light.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Light";
    src: url(../../../fonts/etica/LFT_Etica_Light.svg#LFT_Etica_Light) format("svg"); } }
/* uitzondering voor de veelgebruikte Semibold en Book, laden via combined.svg zodat minder requests in Chrome */
@font-face {
  font-family: "LFT_Etica_Semibold";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Semibold.eot);
  src: url(../../../fonts/etica/LFT_Etica_Semibold.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#LFT_Etica_Semibold) format("svg"), url(../../../fonts/etica/LFT_Etica_Semibold.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Semibold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Semibold";
    src: url(../fonts/combined.svg#LFT_Etica_Semibold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Book";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Book.eot);
  src: url(../../../fonts/etica/LFT_Etica_Book.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#LFT_Etica_Book) format("svg"), url(../../../fonts/etica/LFT_Etica_Book.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Book.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Book";
    src: url(../fonts/combined.svg#LFT_Etica_Book) format("svg"); } }
/* - - Guardian Egyptian  - - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: "GuardianEgyp-Black-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Black-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Black-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Black-Web.svg#GuardianEgyp-Black-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Black-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Black-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Black-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Black-Web.svg#GuardianEgyp-Black-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Bold-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Bold-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Bold-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Bold-Web.svg#GuardianEgyp-Bold-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Bold-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Bold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Bold-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Bold-Web.svg#GuardianEgyp-Bold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Semibold-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.svg#GuardianEgyp-Semibold-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Semibold-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.svg#GuardianEgyp-Semibold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Regular-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Regular-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Regular-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Regular-Web.svg#GuardianEgyp-Regular-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Regular-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Regular-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Regular-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Regular-Web.svg#GuardianEgyp-Regular-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Light-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Light-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Light-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Light-Web.svg#GuardianEgyp-Light-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Light-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Light-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Light-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Light-Web.svg#GuardianEgyp-Light-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Thin-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Thin-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Thin-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Thin-Web.svg#GuardianEgyp-Thin-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Thin-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Thin-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Thin-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Thin-Web.svg#GuardianEgyp-Thin-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Hairline-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.svg#GuardianEgyp-Hairline-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Hairline-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.svg#GuardianEgyp-Hairline-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-SemiboldIt-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.svg#GuardianEgyp-SemiboldIt-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-SemiboldIt-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.svg#GuardianEgyp-SemiboldIt-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Black-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.eot);
  src: url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.svg#GuardianTextEgyp-Black-Web) format("svg"), url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Black-Web";
    src: url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.svg#GuardianTextEgyp-Black-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Bold-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.eot);
  src: url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.svg#GuardianTextEgyp-Bold-Web) format("svg"), url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Bold-Web";
    src: url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.svg#GuardianTextEgyp-Bold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Medium-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.eot);
  src: url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.svg#GuardianTextEgyp-Medium-Web) format("svg"), url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Medium-Web";
    src: url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.svg#GuardianTextEgyp-Medium-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Regular-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.eot);
  src: url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.svg#GuardianTextEgyp-Regular-Web) format("svg"), url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Regular-Web";
    src: url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.svg#GuardianTextEgyp-Regular-Web) format("svg"); } }
/* uitzondering voor de veelgebruikte GuardianEgyp-Medium-Web, laden via combined.svg zodat minder requests in Chrome */
@font-face {
  font-family: "GuardianEgyp-Medium-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Medium-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Medium-Web.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#GuardianEgyp-Medium-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Medium-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Medium-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Medium-Web";
    src: url(../fonts/combined.svg#GuardianEgyp-Medium-Web) format("svg"); } }
/* - - typografie - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*
$font-title:	 		$geh_light, Georgia, "Times New Roman", serif;

$font-headline-sans: 	$geh_medium, Georgia, "Times New Roman", serif;

$font-serif: 			$geh_regular, Georgia, "Times New Roman", serif;

$font-sans: 			$etica_book, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$font-sans-headline:	$etica_semibold, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$font-sans-alt: 		"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;

$font-fixed: 			Courier, monospace;
*/
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

/* links */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
  a:link {
    border-bottom: 1px solid #ccccff;
    color: #0000cc; }
  a:visited {
    border-bottom: 1px solid #ccccff;
    color: #000066; }
  a:hover {
    border-bottom: 1px solid #6666ff; }
  a:active {
    border-bottom: 1px solid #fedddf;
    color: #d30910; }

article {
  position: relative;
  width: 308px;
  margin: 0 auto 6px;
  background: white; }
  @media (min-width: 375px) {
    article {
      width: 363px; } }
  @media (min-width: 414px) {
    article {
      width: 402px; } }
  @media (min-width: 767px) {
    article {
      width: 756px; } }
  article header {
    position: relative; }
    article header div {
      position: absolute;
      z-index: 10;
      bottom: 12px;
      margin: 0 18px;
      color: white; }
      @media (min-width: 767px) {
        article header div {
          bottom: 24px;
          margin: 0 48px 0 81px; } }

.tekst {
  margin: 24px 15px 0 18px;
  padding: 0 0 120px; }
  @media (min-width: 767px) {
    .tekst {
      margin: 24px 56px 0 72px; } }

h3 {
  margin: 27px 0 0;
  font-family: "LFT_Etica_Reg";
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.15em;
  color: #d30910; }
  @media (min-width: 375px) {
    h3 {
      margin: 30px 0 0;
      font-size: 15px; } }
  @media (min-width: 414px) {
    h3 {
      margin: 32px 0 0;
      font-size: 15px; } }
  @media (min-width: 767px) {
    h3 {
      margin: 36px 0 6px;
      font-size: 16px; } }

h3 + p {
  margin: 6px 0 0; }

p {
  margin: 12px 0;
  font-size: 15px;
  line-height: 1.6em; }
  @media (min-width: 767px) {
    p {
      font-size: 18px;
      line-height: 1.5em; } }

p.intro {
  margin: 0 0 18px;
  font-size: 18px;
  line-height: 1.45em; }
  @media (min-width: 767px) {
    p.intro {
      margin: 36px 0 18px;
      font-size: 22px;
      line-height: 1.5em; } }

p.noot {
  margin: 32px 0 0;
  font-family: "LFT_Etica_Book";
  font-size: 11px;
  line-height: 1.2em;
  color: #999999; }
  @media (min-width: 767px) {
    p.noot {
      margin: 36px 0 18px;
      font-size: 13px;
      line-height: 1.4em; } }
  p.noot br {
    display: none; }
    @media (min-width: 767px) {
      p.noot br {
        display: block; } }

.byline {
  position: relative;
  height: 24px;
  margin: 21px 0 30px;
  font-family: "LFT_Etica_Book"; }
  @media (min-width: 767px) {
    .byline {
      height: 48px;
      margin: 24px 0 36px; } }
  .byline img {
    display: inline-table;
    width: 24px;
    height: 24px;
    margin: 0 0 0 -3px;
    border-radius: 24px; }
    @media (min-width: 767px) {
      .byline img {
        width: 48px;
        height: 48px;
        margin: 0 0 0 -6px;
        border-radius: 48px; } }
  .byline p {
    position: absolute;
    display: inline-table;
    top: -6px;
    left: 30px;
    font-size: 13px;
    line-height: 1em; }
    @media (min-width: 375px) {
      .byline p {
        font-size: 14px; } }
    @media (min-width: 414px) {
      .byline p {
        font-size: 15px; } }
    @media (min-width: 767px) {
      .byline p {
        top: 4px;
        left: 52px;
        font-size: 16px; } }

.streamer {
  display: block;
  margin: 24px 24px;
  font-size: 16px;
  line-height: 1.5em;
  color: #666666; }
  @media (min-width: 375px) {
    .streamer {
      font-size: 17px; } }
  @media (min-width: 414px) {
    .streamer {
      font-size: 18px; } }
  @media (min-width: 767px) {
    .streamer {
      float: right;
      width: 280px;
      margin: 4px 0 24px 30px;
      font-family: "GuardianEgyp-Thin-Web";
      text-align: right;
      font-size: 23px;
      line-height: 1.7em; } }

.inzet {
  margin: 32px 0;
  padding: 24px 24px 18px;
  background-color: #ededed;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box; }
  @media (min-width: 767px) {
    .inzet {
      margin: 36px 0;
      padding: 32px 36px 24px; } }
  .inzet h3 {
    margin: 0 0 7px;
    color: #4c4c4c; }
  .inzet p {
    font-size: 13px;
    line-height: 1.65em; }
    @media (min-width: 767px) {
      .inzet p {
        font-size: 16px; } }
  .inzet p:last-child {
    margin-bottom: 0; }

article figure {
  width: 320px;
  height: 228px; }
  article figure img {
    top: 0;
    left: 0; }
  @media (min-width: 375px) {
    article figure {
      width: 363px;
      height: 363px; } }
  @media (min-width: 414px) {
    article figure {
      width: 402px;
      height: 402px; } }
  @media (min-width: 767px) {
    article figure {
      margin-top: -60px;
      width: 756px;
      height: 756px; }
      article figure img {
        width: 100%;
        height: auto; } }

@media (min-width: 375px) {
  article.foto figure {
    width: 363px;
    height: 252px; }
    article.foto figure img {
      top: -20%;
      left: 0; } }
@media (min-width: 414px) {
  article.foto figure {
    width: 402px;
    height: 274px; }
    article.foto figure img {
      top: -20%;
      left: 0; } }
@media (min-width: 767px) {
  article.foto figure {
    width: 756px;
    height: 425px; } }
