/* - - optimum.scss - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


	Premium, maar dan beter uitgevoerd!


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - kleuren  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*
// nieuw, als op rs3:
$groen-donker: 		rgb( 83, 138,  55); 	//	#538a37;	button:hover
$groen: 			rgb( 87, 146,  58); 	//	#57923a; 	button
$groen-licht: 		rgb( 98, 164,  65); 	//	#62a441;
$groen-lichter: 	rgb(121, 170,  82); 	//	#79aa52;
*/
/* - - resets en defaults - - - - - - - - - - - - - - - - - - - - - - - - */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section, img {
  display: block; }

nav ul {
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 100%;
  background: transparent; }

a:hover, a:active {
  outline: none; }

ins {
  color: black;
  text-decoration: none;
  background-color: #ffff99; }

mark {
  color: black;
  font-weight: 700;
  font-style: italic;
  background-color: #ffff99; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-spacing: 0;
  border-collapse: collapse; }

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ededed; }

input, select {
  vertical-align: middle; }

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* - - LFT Etica  - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: "LFT_Etica_Extrabold";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Extrabold.eot);
  src: url(../../../fonts/etica/LFT_Etica_Extrabold.eot#iefix) format("embedded-opentype"), url(../../../fonts/etica/LFT_Etica_Extrabold.svg#LFT_Etica_Extrabold) format("svg"), url(../../../fonts/etica/LFT_Etica_Extrabold.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Extrabold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Extrabold";
    src: url(../../../fonts/etica/LFT_Etica_Extrabold.svg#LFT_Etica_Extrabold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Bold";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Bold.eot);
  src: url(../../../fonts/etica/LFT_Etica_Bold.eot#iefix) format("embedded-opentype"), url(../../../fonts/etica/LFT_Etica_Bold.svg#LFT_Etica_Bold) format("svg"), url(../../../fonts/etica/LFT_Etica_Bold.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Bold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Bold";
    src: url(../../../fonts/etica/LFT_Etica_Bold.svg#LFT_Etica_Bold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Reg";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Reg.eot);
  src: url(../../../fonts/etica/LFT_Etica_Reg.eot#iefix) format("embedded-opentype"), url(../../../fonts/etica/LFT_Etica_Reg.svg#LFT_Etica_Reg) format("svg"), url(../../../fonts/etica/LFT_Etica_Reg.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Reg.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Reg";
    src: url(../../../fonts/etica/LFT_Etica_Reg.svg#LFT_Etica_Reg) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Light";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Light.eot);
  src: url(../../../fonts/etica/LFT_Etica_Light.eot#iefix) format("embedded-opentype"), url(../../../fonts/etica/LFT_Etica_Light.svg#LFT_Etica_Light) format("svg"), url(../../../fonts/etica/LFT_Etica_Light.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Light.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Light";
    src: url(../../../fonts/etica/LFT_Etica_Light.svg#LFT_Etica_Light) format("svg"); } }
/* uitzondering voor de veelgebruikte Semibold en Book, laden via combined.svg zodat minder requests in Chrome */
@font-face {
  font-family: "LFT_Etica_Semibold";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Semibold.eot);
  src: url(../../../fonts/etica/LFT_Etica_Semibold.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#LFT_Etica_Semibold) format("svg"), url(../../../fonts/etica/LFT_Etica_Semibold.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Semibold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Semibold";
    src: url(../fonts/combined.svg#LFT_Etica_Semibold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Book";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Book.eot);
  src: url(../../../fonts/etica/LFT_Etica_Book.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#LFT_Etica_Book) format("svg"), url(../../../fonts/etica/LFT_Etica_Book.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Book.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Book";
    src: url(../fonts/combined.svg#LFT_Etica_Book) format("svg"); } }
/* - - Guardian Egyptian  - - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: "GuardianEgyp-Black-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Black-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Black-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Black-Web.svg#GuardianEgyp-Black-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Black-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Black-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Black-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Black-Web.svg#GuardianEgyp-Black-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Bold-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Bold-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Bold-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Bold-Web.svg#GuardianEgyp-Bold-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Bold-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Bold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Bold-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Bold-Web.svg#GuardianEgyp-Bold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Semibold-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.svg#GuardianEgyp-Semibold-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Semibold-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.svg#GuardianEgyp-Semibold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Regular-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Regular-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Regular-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Regular-Web.svg#GuardianEgyp-Regular-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Regular-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Regular-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Regular-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Regular-Web.svg#GuardianEgyp-Regular-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Light-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Light-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Light-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Light-Web.svg#GuardianEgyp-Light-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Light-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Light-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Light-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Light-Web.svg#GuardianEgyp-Light-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Thin-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Thin-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Thin-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Thin-Web.svg#GuardianEgyp-Thin-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Thin-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Thin-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Thin-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Thin-Web.svg#GuardianEgyp-Thin-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Hairline-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.svg#GuardianEgyp-Hairline-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Hairline-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.svg#GuardianEgyp-Hairline-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-SemiboldIt-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.svg#GuardianEgyp-SemiboldIt-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-SemiboldIt-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.svg#GuardianEgyp-SemiboldIt-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Black-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.eot);
  src: url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.svg#GuardianTextEgyp-Black-Web) format("svg"), url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Black-Web";
    src: url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.svg#GuardianTextEgyp-Black-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Bold-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.eot);
  src: url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.svg#GuardianTextEgyp-Bold-Web) format("svg"), url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Bold-Web";
    src: url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.svg#GuardianTextEgyp-Bold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Medium-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.eot);
  src: url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.svg#GuardianTextEgyp-Medium-Web) format("svg"), url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Medium-Web";
    src: url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.svg#GuardianTextEgyp-Medium-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Regular-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.eot);
  src: url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.svg#GuardianTextEgyp-Regular-Web) format("svg"), url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Regular-Web";
    src: url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.svg#GuardianTextEgyp-Regular-Web) format("svg"); } }
/* uitzondering voor de veelgebruikte GuardianEgyp-Medium-Web, laden via combined.svg zodat minder requests in Chrome */
@font-face {
  font-family: "GuardianEgyp-Medium-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Medium-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Medium-Web.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#GuardianEgyp-Medium-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Medium-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Medium-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Medium-Web";
    src: url(../fonts/combined.svg#GuardianEgyp-Medium-Web) format("svg"); } }
/* - - American Typewriter  - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: "AmericanTypewriter-Bold";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter-Bold.eot);
  src: url(../fonts/typewriter/AmericanTypewriter-Bold.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter-Bold.svg#AmericanTypewriter-Bold) format("svg"), url(../fonts/typewriter/AmericanTypewriter-Bold.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter-Bold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter-Bold";
    src: url(../fonts/typewriter/AmericanTypewriter-Bold.svg#AmericanTypewriter-Bold) format("svg"); } }
@font-face {
  font-family: "AmericanTypewriter";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter.eot);
  src: url(../fonts/typewriter/AmericanTypewriter.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter.svg#AmericanTypewriter) format("svg"), url(../fonts/typewriter/AmericanTypewriter.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter";
    src: url(../fonts/typewriter/AmericanTypewriter.svg#AmericanTypewriter) format("svg"); } }
@font-face {
  font-family: "AmericanTypewriter-Light";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter-Light.eot);
  src: url(../fonts/typewriter/AmericanTypewriter-Light.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter-Light.svg#AmericanTypewriter-Light) format("svg"), url(../fonts/typewriter/AmericanTypewriter-Light.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter-Light.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter-Light";
    src: url(../fonts/typewriter/AmericanTypewriter-Light.svg#AmericanTypewriter-Light) format("svg"); } }
@font-face {
  font-family: "AmericanTypewriter-CondensedBold";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter-CondensedBold.eot);
  src: url(../fonts/typewriter/AmericanTypewriter-CondensedBold.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter-CondensedBold.svg#AmericanTypewriter-CondensedBold) format("svg"), url(../fonts/typewriter/AmericanTypewriter-CondensedBold.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter-CondensedBold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter-CondensedBold";
    src: url(../fonts/typewriter/AmericanTypewriter-CondensedBold.svg#AmericanTypewriter-CondensedBold) format("svg"); } }
@font-face {
  font-family: "AmericanTypewriter-Condensed";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter-Condensed.eot);
  src: url(../fonts/typewriter/AmericanTypewriter-Condensed.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter-Condensed.svg#AmericanTypewriter-Condensed) format("svg"), url(../fonts/typewriter/AmericanTypewriter-Condensed.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter-Condensed.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter-Condensed";
    src: url(../fonts/typewriter/AmericanTypewriter-Condensed.svg#AmericanTypewriter-Condensed) format("svg"); } }
@font-face {
  font-family: "AmericanTypewriter-CondensedLight";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter-CondensedLight.eot);
  src: url(../fonts/typewriter/AmericanTypewriter-CondensedLight.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter-CondensedLight.svg#AmericanTypewriter-CondensedLight) format("svg"), url(../fonts/typewriter/AmericanTypewriter-CondensedLight.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter-CondensedLight.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter-CondensedLight";
    src: url(../fonts/typewriter/AmericanTypewriter-CondensedLight.svg#AmericanTypewriter-CondensedLight) format("svg"); } }
/* - - typografie - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*
$font-title:	 		$geh_light, Georgia, "Times New Roman", serif;

$font-headline-sans: 	$geh_medium, Georgia, "Times New Roman", serif;

$font-serif: 			$geh_regular, Georgia, "Times New Roman", serif;

$font-sans: 			$etica_book, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$font-sans-headline:	$etica_semibold, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$font-sans-alt: 		"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;

$font-fixed: 			Courier, monospace;
*/
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

/* links */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
  a:link {
    border-bottom: 1px solid #ccccff;
    color: #0000cc; }
  a:visited {
    border-bottom: 1px solid #ccccff;
    color: #000066; }
  a:hover {
    border-bottom: 1px solid #6666ff; }
  a:active {
    border-bottom: 1px solid #fedddf;
    color: #d30910; }

.liefde.is.delen {
  margin: 0 3px;
  padding: 12px 0 0;
  white-space: nowrap;
  font-family: "LFT_Etica_Book", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 14px; }
  @media (min-width: 767px) {
    .liefde.is.delen {
      margin: 0 24px 0 0; } }
  .liefde.is.delen ul {
    overflow: hidden;
    margin: 0;
    text-align: right; }
  .liefde.is.delen li {
    list-style-type: none;
    display: inline-block;
    overflow: hidden;
    width: 42px;
    margin: 0 18px 0 0;
    font-size: 13px;
    line-height: 27px; }
    @media (min-width: 767px) {
      .liefde.is.delen li {
        width: 60px;
        margin: 0 24px 0 0;
        font-size: 15px;
        line-height: 30px; } }
    .liefde.is.delen li a {
      cursor: pointer;
      border: none;
      color: #7f7f7f; }
    .liefde.is.delen li svg {
      position: relative;
      display: inline-table;
      width: 18px;
      height: 18px;
      fill: #7f7f7f; }
      @media (min-width: 767px) {
        .liefde.is.delen li svg {
          width: 24px;
          height: 24px; } }
    .liefde.is.delen li.facebook a {
      color: #07549f; }
      .liefde.is.delen li.facebook a svg {
        margin: 0 -1px -4px 0;
        fill: #07549f; }
        @media (min-width: 767px) {
          .liefde.is.delen li.facebook a svg {
            margin: 0 -1px -6px 0; } }
      .liefde.is.delen li.facebook a:hover {
        color: #104d89; }
        .liefde.is.delen li.facebook a:hover svg {
          fill: #104d89; }
    .liefde.is.delen li.googleplus a {
      color: #dd4c39; }
      .liefde.is.delen li.googleplus a svg {
        margin: 0 2px -4px 0;
        fill: #dd4c39; }
        @media (min-width: 767px) {
          .liefde.is.delen li.googleplus a svg {
            margin: 0 2px -11px 0; } }
      .liefde.is.delen li.googleplus a:hover {
        color: #c63421; }
        .liefde.is.delen li.googleplus a:hover svg {
          fill: #c63421; }
    .liefde.is.delen li.whatsapp a {
      color: #58AD15; }
      .liefde.is.delen li.whatsapp a svg {
        margin: 0 3px -4px 0;
        fill: #58AD15; }
        @media (min-width: 767px) {
          .liefde.is.delen li.whatsapp a svg {
            margin: 0 2px -6px 0; } }
      .liefde.is.delen li.whatsapp a:hover {
        color: #58AD15; }
        .liefde.is.delen li.whatsapp a:hover svg {
          fill: #58AD15; }
    .liefde.is.delen li.twitter a {
      color: #42c8f4; }
      .liefde.is.delen li.twitter a svg {
        margin: 0 2px -4px 0;
        fill: #42c8f4; }
        @media (min-width: 767px) {
          .liefde.is.delen li.twitter a svg {
            margin: 0 2px -6px 0; } }
      .liefde.is.delen li.twitter a:hover {
        color: #148bb2; }
        .liefde.is.delen li.twitter a:hover svg {
          fill: #148bb2; }

/* - - optimum.header.scss - - - - - - - - - - - - - - - - - - - - - - - - */
article header.etiket {
  width: 308px; }
  @media (min-width: 375px) {
    article header.etiket {
      width: 363px; } }
  @media (min-width: 414px) {
    article header.etiket {
      width: 402px; } }
  @media (min-width: 767px) {
    article header.etiket {
      width: 756px; } }

header.etiket {
  position: fixed;
  z-index: 200;
  top: 0;
  width: 100%;
  height: 48px; }
  @media (min-width: 767px) {
    header.etiket {
      height: 60px; } }
  header.etiket .kast,
  header.etiket .plank {
    position: relative;
    width: 308px;
    margin: 0 auto; }
    @media (min-width: 375px) {
      header.etiket .kast,
      header.etiket .plank {
        width: 363px; } }
    @media (min-width: 414px) {
      header.etiket .kast,
      header.etiket .plank {
        width: 402px; } }
    @media (min-width: 767px) {
      header.etiket .kast,
      header.etiket .plank {
        width: 756px; } }
  header.etiket .kast {
    height: 32px;
    background-color: rgba(0, 0, 0, 0.92); }
    @media (min-width: 767px) {
      header.etiket .kast {
        height: 45px; } }
    header.etiket .kast .logo img {
      position: absolute;
      z-index: 10;
      width: 107px;
      height: 20px;
      bottom: 5px;
      left: -15px; }
      @media (min-width: 767px) {
        header.etiket .kast .logo img {
          width: 134px;
          height: 24px;
          bottom: 9px;
          left: -21px; } }
  header.etiket .plank {
    position: relative;
    height: 48px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    background-color: rgba(0, 0, 0, 0.7); }
    @media (min-width: 767px) {
      header.etiket .plank {
        height: 60px; } }
    header.etiket .plank .logo img {
      position: absolute;
      z-index: 10;
      width: 107px;
      height: 22px;
      top: 13px;
      left: 12px; }
      @media (min-width: 767px) {
        header.etiket .plank .logo img {
          width: 134px;
          height: 26px;
          top: 18px;
          left: 12px; } }
    header.etiket .plank time {
      position: absolute;
      display: block;
      top: 17px;
      left: 12px;
      font-family: "GuardianEgyp-Thin-Web";
      font-size: 18px;
      color: #fff; }
      @media (min-width: 767px) {
        header.etiket .plank time {
          position: relative;
          top: 20px;
          left: auto;
          font-size: 21px;
          text-align: center; } }
      header.etiket .plank time a {
        color: #fff;
        border: none; }
    header.etiket .plank .jaartal {
      display: none; }
      @media (min-width: 375px) {
        header.etiket .plank .jaartal {
          display: inline; } }
    header.etiket .plank .dagnaam {
      display: none; }
      @media (min-width: 767px) {
        header.etiket .plank .dagnaam {
          display: inline; } }

nav {
  position: absolute;
  width: 96px;
  height: 48px;
  right: 0;
  top: 0; }
  @media (min-width: 767px) {
    nav {
      width: 120px;
      height: 60px; } }

.a.hamburger {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 8px;
  right: 12px; }
  .a.hamburger img {
    width: 15px;
    height: 15px; }
  @media (min-width: 767px) {
    .a.hamburger {
      top: 12px;
      right: 24px; }
      .a.hamburger img {
        width: 18px;
        height: 18px; } }

.is.a.person {
  display: none;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 10px;
  right: 54px; }
  @media (min-width: 767px) {
    .is.a.person {
      top: 15px;
      right: 72px; } }
  .is.a.person img {
    width: 100%;
    height: 100%; }

/* - - optimum.post.scss - - - - - - - - - - - - - - - - - - - - - - - - - -


	Met dit stylesheet worden de beelden die gebruikt zijn voor het maken
	van de commercial geframed.
	
	.post.foto { width: 100%; height: auto; top: 0; left: 0; } // default


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.post.foto.cameron img {
  width: 150%;
  height: auto;
  top: 0;
  left: -5%; }

.post.foto.corbijn img {
  width: 260%;
  height: auto;
  top: -56%;
  left: -48%; }

.post.foto.elf img {
  width: 180%;
  height: auto;
  top: 0;
  left: 0; }

.post.foto.koerden img {
  width: 159%;
  height: auto;
  top: -6%;
  left: -17%; }

.post.foto.obama img {
  width: 220%;
  height: auto;
  top: -40%;
  left: -40%; }

.post.video.ruimte video {
  width: auto;
  height: 100%; }

.post.foto.ruimte img {
  width: 180%;
  height: auto;
  top: 0;
  left: 0; }
@media (min-width: 375px) {
  .post.foto.ruimte header {
    margin: 0 36px 0 18px; } }

.post.video.taxiwereld video {
  width: auto;
  height: 100%;
  top: -120%;
  left: -24%; }

.post.foto.taxiwereld img {
  width: 180%;
  height: auto;
  top: 0;
  left: -10%; }

.post.video.wad video {
  width: auto;
  height: 110%;
  top: -60%;
  left: -40%; }

.post.foto.zwanger img {
  width: auto;
  height: 105%;
  top: 0%;
  left: -27%; }

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: "Guardian Text Egyptian Web";
  font-weight: 400;
  font-style: normal;
  background: white; }

main {
  max-width: 320px;
  margin: 47px auto 0;
  padding: 0; }
  @media (min-width: 375px) {
    main {
      max-width: 375px; } }
  @media (min-width: 414px) {
    main {
      max-width: 414px; } }
  @media (min-width: 767px) {
    main {
      max-width: 756px;
      margin: 59px auto 0; } }

.post {
  position: relative;
  display: inline-table;
  min-height: 150px;
  height: auto;
  width: 308px;
  margin: 3px 6px;
  background: white; }
  @media (min-width: 375px) {
    .post {
      width: 363px; } }
  @media (min-width: 414px) {
    .post {
      width: 402px; } }
  @media (min-width: 767px) {
    .post {
      margin: 3px 0;
      width: 756px; } }
  .post header {
    position: absolute;
    z-index: 10;
    bottom: 18px;
    margin: 0 18px;
    color: white; }
    @media (min-width: 767px) {
      .post header {
        bottom: 24px;
        margin: 0 48px 0 81px; } }

h1 {
  font-family: "Guardian Egyptian Web";
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  line-height: 1.15em;
  text-shadow: 2px 2px 4px rgba(25, 25, 25, 0.5); }
  @media (min-width: 375px) {
    h1 {
      font-size: 32px; } }
  @media (min-width: 414px) {
    h1 {
      font-size: 36px; } }
  @media (min-width: 767px) {
    h1 {
      font-size: 52px;
      line-height: 1.07em; } }

h2 {
  font-family: "Guardian Egyptian Web";
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 1.15em;
  text-shadow: 2px 2px 3px rgba(25, 25, 25, 0.6); }
  @media (min-width: 375px) {
    h2 {
      font-size: 27px; } }
  @media (min-width: 414px) {
    h2 {
      font-size: 32px; } }
  @media (min-width: 767px) {
    h2 {
      font-size: 36px; } }

@media (min-width: 767px) {
  .groot h2 {
    font-size: 52px; } }

h4 {
  display: block;
  font-size: 13px;
  line-height: 1.15em;
  font-family: "LFT_Etica_Book";
  text-transform: uppercase;
  text-shadow: 2px 2px 3px rgba(25, 25, 25, 0.6); }
  @media (min-width: 375px) {
    h4 {
      font-size: 14px;
      line-height: 1.65em; } }
  @media (min-width: 414px) {
    h4 {
      font-size: 15px;
      line-height: 1.8em; } }
  @media (min-width: 767px) {
    h4 {
      font-size: 15px;
      line-height: 2.4em; } }

figure {
  position: relative;
  width: 308px;
  height: 308px;
  overflow: hidden;
  background: #ddd; }
  @media (min-width: 375px) {
    figure {
      width: 363px;
      height: 363px; } }
  @media (min-width: 414px) {
    figure {
      width: 402px;
      height: 402px; } }
  @media (min-width: 767px) {
    figure {
      width: 756px;
      height: 756px; } }
  figure img,
  figure video {
    position: absolute;
    width: 308px;
    height: 308px;
    right: 0; }
    @media (min-width: 375px) {
      figure img,
      figure video {
        width: 363px;
        height: 363px; } }
    @media (min-width: 414px) {
      figure img,
      figure video {
        width: 402px;
        height: 402px; } }
    @media (min-width: 767px) {
      figure img,
      figure video {
        width: 756px;
        height: 756px; } }

@media (min-width: 767px) {
  .home .post {
    display: inline-table;
    float: left;
    width: 369px;
    height: 369px;
    margin: 3px 0; }
    .home .post header {
      width: 320px;
      margin: 0 18px; }
      .home .post header h4 {
        line-height: 2.1em; }
    .home .post figure,
    .home .post video,
    .home .post img {
      width: 375px;
      height: 375px; } }
.home .post:nth-child(odd) {
  margin: 3px -6px 3px 6px; }
.home .post:first-child {
  margin-top: 1px; }
.home .post:last-child {
  margin-bottom: 6px; }

@media (min-width: 767px) {
  .home .post.groot {
    width: 756px;
    height: 756px;
    margin: -60px 0 3px; }
    .home .post.groot header {
      width: 640px; }
    .home .post.groot figure,
    .home .post.groot video,
    .home .post.groot img {
      width: 756px;
      height: 756px; } }
.home .post.groot img {
  width: 180%;
  height: auto;
  top: 0%;
  left: -10%; }

.post.foto img {
  width: 100%;
  height: auto;
  top: 0;
  left: 0; }

/* pop-up - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#popup {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 5000px;
  top: 0;
  right: 0;
  background: rgba(7, 84, 159, 0.6); }
  #popup .bedankje {
    position: absolute;
    overflow: hidden;
    width: 260px;
    height: 210px;
    top: 120px;
    left: 50%;
    margin: 0 0 0 -136px;
    border: 6px solid #0d4072;
    background: #104d89;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box; }
    @media (min-width: 375px) {
      #popup .bedankje {
        width: 272px;
        margin-left: -145px;
        border: 8px solid #0d4072;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background-clip: padding-box; } }
    @media (min-width: 414px) {
      #popup .bedankje {
        width: 300px;
        margin-left: -160px;
        border: 9px solid #0d4072;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        background-clip: padding-box; } }
    @media (min-width: 767px) {
      #popup .bedankje {
        width: 480px;
        top: 360px;
        border: 12px solid #0d4072;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        background-clip: padding-box; } }
    #popup .bedankje p {
      position: absolute;
      top: 32px;
      font-size: 48px;
      line-height: 1.1em;
      color: white;
      text-align: center;
      text-shadow: 0px 0px 32px rgba(255, 255, 255, 0.2); }
      @media (min-width: 767px) {
        #popup .bedankje p {
          top: 45px;
          font-size: 60px;
          text-shadow: 0px 0px 32px rgba(255, 255, 255, 0.3); } }
