/* - - optimum.index.scss  - - - - - - - - - - - - - - - - - - - - - - - - -


	Premium, maar dan beter uitgevoerd!


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - kleuren  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*
// nieuw, als op rs3:
$groen-donker: 		rgb( 83, 138,  55); 	//	#538a37;	button:hover
$groen: 			rgb( 87, 146,  58); 	//	#57923a; 	button
$groen-licht: 		rgb( 98, 164,  65); 	//	#62a441;
$groen-lichter: 	rgb(121, 170,  82); 	//	#79aa52;
*/
/* - - resets en defaults - - - - - - - - - - - - - - - - - - - - - - - - */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section, img {
  display: block; }

nav ul {
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 100%;
  background: transparent; }

a:hover, a:active {
  outline: none; }

ins {
  color: black;
  text-decoration: none;
  background-color: #ffff99; }

mark {
  color: black;
  font-weight: 700;
  font-style: italic;
  background-color: #ffff99; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-spacing: 0;
  border-collapse: collapse; }

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ededed; }

input, select {
  vertical-align: middle; }

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* - - LFT Etica  - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: "LFT_Etica_Extrabold";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Extrabold.eot);
  src: url(../../../fonts/etica/LFT_Etica_Extrabold.eot#iefix) format("embedded-opentype"), url(../../../fonts/etica/LFT_Etica_Extrabold.svg#LFT_Etica_Extrabold) format("svg"), url(../../../fonts/etica/LFT_Etica_Extrabold.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Extrabold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Extrabold";
    src: url(../../../fonts/etica/LFT_Etica_Extrabold.svg#LFT_Etica_Extrabold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Bold";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Bold.eot);
  src: url(../../../fonts/etica/LFT_Etica_Bold.eot#iefix) format("embedded-opentype"), url(../../../fonts/etica/LFT_Etica_Bold.svg#LFT_Etica_Bold) format("svg"), url(../../../fonts/etica/LFT_Etica_Bold.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Bold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Bold";
    src: url(../../../fonts/etica/LFT_Etica_Bold.svg#LFT_Etica_Bold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Reg";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Reg.eot);
  src: url(../../../fonts/etica/LFT_Etica_Reg.eot#iefix) format("embedded-opentype"), url(../../../fonts/etica/LFT_Etica_Reg.svg#LFT_Etica_Reg) format("svg"), url(../../../fonts/etica/LFT_Etica_Reg.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Reg.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Reg";
    src: url(../../../fonts/etica/LFT_Etica_Reg.svg#LFT_Etica_Reg) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Light";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Light.eot);
  src: url(../../../fonts/etica/LFT_Etica_Light.eot#iefix) format("embedded-opentype"), url(../../../fonts/etica/LFT_Etica_Light.svg#LFT_Etica_Light) format("svg"), url(../../../fonts/etica/LFT_Etica_Light.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Light.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Light";
    src: url(../../../fonts/etica/LFT_Etica_Light.svg#LFT_Etica_Light) format("svg"); } }
/* uitzondering voor de veelgebruikte Semibold en Book, laden via combined.svg zodat minder requests in Chrome */
@font-face {
  font-family: "LFT_Etica_Semibold";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Semibold.eot);
  src: url(../../../fonts/etica/LFT_Etica_Semibold.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#LFT_Etica_Semibold) format("svg"), url(../../../fonts/etica/LFT_Etica_Semibold.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Semibold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Semibold";
    src: url(../fonts/combined.svg#LFT_Etica_Semibold) format("svg"); } }
@font-face {
  font-family: "LFT_Etica_Book";
  font-stretch: normal;
  src: url(../../../fonts/etica/LFT_Etica_Book.eot);
  src: url(../../../fonts/etica/LFT_Etica_Book.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#LFT_Etica_Book) format("svg"), url(../../../fonts/etica/LFT_Etica_Book.woff) format("woff"), url(../../../fonts/etica/LFT_Etica_Book.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "LFT_Etica_Book";
    src: url(../fonts/combined.svg#LFT_Etica_Book) format("svg"); } }
/* - - Guardian Egyptian  - - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: "GuardianEgyp-Black-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Black-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Black-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Black-Web.svg#GuardianEgyp-Black-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Black-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Black-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Black-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Black-Web.svg#GuardianEgyp-Black-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Bold-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Bold-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Bold-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Bold-Web.svg#GuardianEgyp-Bold-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Bold-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Bold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Bold-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Bold-Web.svg#GuardianEgyp-Bold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Semibold-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.svg#GuardianEgyp-Semibold-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Semibold-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Semibold-Web.svg#GuardianEgyp-Semibold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Regular-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Regular-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Regular-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Regular-Web.svg#GuardianEgyp-Regular-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Regular-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Regular-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Regular-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Regular-Web.svg#GuardianEgyp-Regular-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Light-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Light-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Light-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Light-Web.svg#GuardianEgyp-Light-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Light-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Light-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Light-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Light-Web.svg#GuardianEgyp-Light-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Thin-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Thin-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Thin-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Thin-Web.svg#GuardianEgyp-Thin-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Thin-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Thin-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Thin-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Thin-Web.svg#GuardianEgyp-Thin-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-Hairline-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.svg#GuardianEgyp-Hairline-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Hairline-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-Hairline-Web.svg#GuardianEgyp-Hairline-Web) format("svg"); } }
@font-face {
  font-family: "GuardianEgyp-SemiboldIt-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.svg#GuardianEgyp-SemiboldIt-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-SemiboldIt-Web";
    src: url(../../../fonts/guardian/GuardianEgyp-SemiboldIt-Web.svg#GuardianEgyp-SemiboldIt-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Black-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.eot);
  src: url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.svg#GuardianTextEgyp-Black-Web) format("svg"), url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Black-Web";
    src: url(../../../fonts/guardian/GuardianTextEgyp-Black-Web.svg#GuardianTextEgyp-Black-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Bold-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.eot);
  src: url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.svg#GuardianTextEgyp-Bold-Web) format("svg"), url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Bold-Web";
    src: url(../../../fonts/guardian/GuardianTextEgyp-Bold-Web.svg#GuardianTextEgyp-Bold-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Medium-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.eot);
  src: url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.svg#GuardianTextEgyp-Medium-Web) format("svg"), url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Medium-Web";
    src: url(../../../fonts/guardian/GuardianTextEgyp-Medium-Web.svg#GuardianTextEgyp-Medium-Web) format("svg"); } }
@font-face {
  font-family: "GuardianTextEgyp-Regular-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.eot);
  src: url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.eot#iefix) format("embedded-opentype"), url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.svg#GuardianTextEgyp-Regular-Web) format("svg"), url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianTextEgyp-Regular-Web";
    src: url(../../../fonts/guardian/GuardianTextEgyp-Regular-Web.svg#GuardianTextEgyp-Regular-Web) format("svg"); } }
/* uitzondering voor de veelgebruikte GuardianEgyp-Medium-Web, laden via combined.svg zodat minder requests in Chrome */
@font-face {
  font-family: "GuardianEgyp-Medium-Web";
  font-stretch: normal;
  src: url(../../../fonts/guardian/GuardianEgyp-Medium-Web.eot);
  src: url(../../../fonts/guardian/GuardianEgyp-Medium-Web.eot#iefix) format("embedded-opentype"), url(../fonts/combined.svg#GuardianEgyp-Medium-Web) format("svg"), url(../../../fonts/guardian/GuardianEgyp-Medium-Web.woff) format("woff"), url(../../../fonts/guardian/GuardianEgyp-Medium-Web.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "GuardianEgyp-Medium-Web";
    src: url(../fonts/combined.svg#GuardianEgyp-Medium-Web) format("svg"); } }
/* - - American Typewriter  - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: "AmericanTypewriter-Bold";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter-Bold.eot);
  src: url(../fonts/typewriter/AmericanTypewriter-Bold.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter-Bold.svg#AmericanTypewriter-Bold) format("svg"), url(../fonts/typewriter/AmericanTypewriter-Bold.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter-Bold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter-Bold";
    src: url(../fonts/typewriter/AmericanTypewriter-Bold.svg#AmericanTypewriter-Bold) format("svg"); } }
@font-face {
  font-family: "AmericanTypewriter";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter.eot);
  src: url(../fonts/typewriter/AmericanTypewriter.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter.svg#AmericanTypewriter) format("svg"), url(../fonts/typewriter/AmericanTypewriter.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter";
    src: url(../fonts/typewriter/AmericanTypewriter.svg#AmericanTypewriter) format("svg"); } }
@font-face {
  font-family: "AmericanTypewriter-Light";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter-Light.eot);
  src: url(../fonts/typewriter/AmericanTypewriter-Light.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter-Light.svg#AmericanTypewriter-Light) format("svg"), url(../fonts/typewriter/AmericanTypewriter-Light.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter-Light.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter-Light";
    src: url(../fonts/typewriter/AmericanTypewriter-Light.svg#AmericanTypewriter-Light) format("svg"); } }
@font-face {
  font-family: "AmericanTypewriter-CondensedBold";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter-CondensedBold.eot);
  src: url(../fonts/typewriter/AmericanTypewriter-CondensedBold.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter-CondensedBold.svg#AmericanTypewriter-CondensedBold) format("svg"), url(../fonts/typewriter/AmericanTypewriter-CondensedBold.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter-CondensedBold.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter-CondensedBold";
    src: url(../fonts/typewriter/AmericanTypewriter-CondensedBold.svg#AmericanTypewriter-CondensedBold) format("svg"); } }
@font-face {
  font-family: "AmericanTypewriter-Condensed";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter-Condensed.eot);
  src: url(../fonts/typewriter/AmericanTypewriter-Condensed.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter-Condensed.svg#AmericanTypewriter-Condensed) format("svg"), url(../fonts/typewriter/AmericanTypewriter-Condensed.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter-Condensed.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter-Condensed";
    src: url(../fonts/typewriter/AmericanTypewriter-Condensed.svg#AmericanTypewriter-Condensed) format("svg"); } }
@font-face {
  font-family: "AmericanTypewriter-CondensedLight";
  font-stretch: normal;
  src: url(../fonts/typewriter/AmericanTypewriter-CondensedLight.eot);
  src: url(../fonts/typewriter/AmericanTypewriter-CondensedLight.eot#iefix) format("embedded-opentype"), url(../fonts/typewriter/AmericanTypewriter-CondensedLight.svg#AmericanTypewriter-CondensedLight) format("svg"), url(../fonts/typewriter/AmericanTypewriter-CondensedLight.woff) format("woff"), url(../fonts/typewriter/AmericanTypewriter-CondensedLight.ttf) format("truetype"); }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "AmericanTypewriter-CondensedLight";
    src: url(../fonts/typewriter/AmericanTypewriter-CondensedLight.svg#AmericanTypewriter-CondensedLight) format("svg"); } }
/* - - typografie - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*
$font-title:	 		$geh_light, Georgia, "Times New Roman", serif;

$font-headline-sans: 	$geh_medium, Georgia, "Times New Roman", serif;

$font-serif: 			$geh_regular, Georgia, "Times New Roman", serif;

$font-sans: 			$etica_book, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$font-sans-headline:	$etica_semibold, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$font-sans-alt: 		"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;

$font-fixed: 			Courier, monospace;
*/
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

/* links */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
  a:link {
    border-bottom: 1px solid #ccccff;
    color: #0000cc; }
  a:visited {
    border-bottom: 1px solid #ccccff;
    color: #000066; }
  a:hover {
    border-bottom: 1px solid #6666ff; }
  a:active {
    border-bottom: 1px solid #fedddf;
    color: #d30910; }

.liefde.is.delen {
  margin: 0 3px;
  padding: 12px 0 0;
  white-space: nowrap;
  font-family: "LFT_Etica_Book", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 14px; }
  @media (min-width: 767px) {
    .liefde.is.delen {
      margin: 0 24px 0 0; } }
  .liefde.is.delen ul {
    overflow: hidden;
    margin: 0;
    text-align: right; }
  .liefde.is.delen li {
    list-style-type: none;
    display: inline-block;
    overflow: hidden;
    width: 42px;
    margin: 0 18px 0 0;
    font-size: 13px;
    line-height: 27px; }
    @media (min-width: 767px) {
      .liefde.is.delen li {
        width: 60px;
        margin: 0 24px 0 0;
        font-size: 15px;
        line-height: 30px; } }
    .liefde.is.delen li a {
      cursor: pointer;
      border: none;
      color: #7f7f7f; }
    .liefde.is.delen li svg {
      position: relative;
      display: inline-table;
      width: 18px;
      height: 18px;
      fill: #7f7f7f; }
      @media (min-width: 767px) {
        .liefde.is.delen li svg {
          width: 24px;
          height: 24px; } }
    .liefde.is.delen li.facebook a {
      color: #07549f; }
      .liefde.is.delen li.facebook a svg {
        margin: 0 -1px -4px 0;
        fill: #07549f; }
        @media (min-width: 767px) {
          .liefde.is.delen li.facebook a svg {
            margin: 0 -1px -6px 0; } }
      .liefde.is.delen li.facebook a:hover {
        color: #104d89; }
        .liefde.is.delen li.facebook a:hover svg {
          fill: #104d89; }
    .liefde.is.delen li.googleplus a {
      color: #dd4c39; }
      .liefde.is.delen li.googleplus a svg {
        margin: 0 2px -4px 0;
        fill: #dd4c39; }
        @media (min-width: 767px) {
          .liefde.is.delen li.googleplus a svg {
            margin: 0 2px -11px 0; } }
      .liefde.is.delen li.googleplus a:hover {
        color: #c63421; }
        .liefde.is.delen li.googleplus a:hover svg {
          fill: #c63421; }
    .liefde.is.delen li.whatsapp a {
      color: #58AD15; }
      .liefde.is.delen li.whatsapp a svg {
        margin: 0 3px -4px 0;
        fill: #58AD15; }
        @media (min-width: 767px) {
          .liefde.is.delen li.whatsapp a svg {
            margin: 0 2px -6px 0; } }
      .liefde.is.delen li.whatsapp a:hover {
        color: #58AD15; }
        .liefde.is.delen li.whatsapp a:hover svg {
          fill: #58AD15; }
    .liefde.is.delen li.twitter a {
      color: #42c8f4; }
      .liefde.is.delen li.twitter a svg {
        margin: 0 2px -4px 0;
        fill: #42c8f4; }
        @media (min-width: 767px) {
          .liefde.is.delen li.twitter a svg {
            margin: 0 2px -6px 0; } }
      .liefde.is.delen li.twitter a:hover {
        color: #148bb2; }
        .liefde.is.delen li.twitter a:hover svg {
          fill: #148bb2; }

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "Guardian Text Egyptian Web";
  font-weight: 400;
  font-style: normal;
  background: white; }

main {
  max-width: 320px;
  margin: 0 auto; }
  @media (min-width: 375px) {
    main {
      max-width: 375px; } }
  @media (min-width: 414px) {
    main {
      max-width: 414px; } }
  @media (min-width: 767px) {
    main {
      max-width: 756px; } }

h2 {
  margin: 1em 0 .2em;
  font-family: "Guardian Egyptian Web";
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 1.3em; }
  @media (min-width: 375px) {
    h2 {
      font-size: 30px; } }
  @media (min-width: 414px) {
    h2 {
      font-size: 32px; } }
  @media (min-width: 767px) {
    h2 {
      font-size: 36px; } }

h4 {
  display: block;
  margin: 2.4em 0 .3em;
  font-family: "Guardian Egyptian Web";
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2em; }
  @media (min-width: 375px) {
    h4 {
      font-size: 16px; } }
  @media (min-width: 414px) {
    h4 {
      font-size: 17px; } }
  @media (min-width: 767px) {
    h4 {
      font-size: 18px; } }

p {
  padding: .6em 0;
  border-bottom: 1px solid #57c7cf;
  font-family: "Guardian Text Egyptian Web";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.33em; }

h2 + p {
  border-top: 1px solid #57c7cf; }

dd + p {
  margin-left: 18px;
  border-bottom: none; }

dl {
  margin: 0;
  padding: .3em 1.8em 1.8em;
  font-family: "Guardian Text Egyptian Web";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 2em;
  background-color: #a1e9f1; }
  dl a {
    font-size: 16px; }
  dl p a {
    font-size: 14px; }
  @media (min-width: 767px) {
    dl {
      padding: .3em 6em 1.8em 3.2em; } }
  dl.twee {
    padding-bottom: 40px;
    background-color: #75e2ef; }
  dl.alt {
    padding-bottom: 40px;
    color: #666;
    background-color: #eee; }
    dl.alt p {
      font-size: 12px; }

dd {
  display: list-item;
  list-style-type: disc;
  margin: 0 0 0 18px; }

dl + p {
  padding: 1.5em 1.8em 1.8em 1.5em;
  font-size: 12px; }
  @media (min-width: 767px) {
    dl + p {
      padding: 1.5em 4em 1.8em 2.4em; } }
