/* - - optimum.index.scss  - - - - - - - - - - - - - - - - - - - - - - - - -


	Premium, maar dan beter uitgevoerd!


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

	@import 'partials/_screen.breakpoints.scss'; 			// vars en mixins
	@import 'partials/_screen.vormen.scss'; 				// vars
	@import 'partials/_screen.kleuren.scss';				// vars
	@import 'partials/_screen.reset.scss'; 					// declaraties

	@import 'partials/_screen.typografie.etica.scss'; 		// vars, mixins en declaraties
	@import 'partials/_screen.typografie.guardian.scss';	// vars, mixins en declaraties
	@import 'partials/_screen.typografie.typewriter.scss'; 	// vars, mixins en declaraties
	@import 'partials/_screen.typografie.scss'; 			// vars, mixins en declaraties

	@import 'partials/_screen.liefde.scss'; 				// declaraties

// -------------------------------------------------------------------------



html {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}


body {
	@include font-serif;
	background: $wit;
}


main {
	max-width: 320px;
	margin: 0 auto;

	@include breakpoint(iphone-zes) {
		max-width: 375px;
	}

	@include breakpoint(iphone-zesplus) {
		max-width: 414px;
	}

	@include breakpoint(tablet) {
		max-width: 756px; 
	}
}


h2 {
	margin: 1em 0 .2em;
	@include font-headline;
	font-size: 24px;
	line-height: 1.3em;

	@include breakpoint(iphone-zes) {
		font-size: 30px;
	}

	@include breakpoint(iphone-zesplus) {
		font-size: 32px;
	}

	@include breakpoint(tablet) {
		font-size: 36px; 
	}
}

h4 {
	display: block;
	margin: 2.4em 0 .3em;
	@include font-headline;
	font-size: 16px;
	line-height: 1.2em;

	@include breakpoint(iphone-zes) {
		font-size: 16px;
	}

	@include breakpoint(iphone-zesplus) {
		font-size: 17px;
	}

	@include breakpoint(tablet) {
		font-size: 18px; 
	}
}

p {
	padding: .6em 0;
	border-bottom: 1px solid #57c7cf;
	@include font-serif;
	font-size: 14px;
	line-height: 1.33em;	
}
h2 + p {
	border-top: 1px solid #57c7cf;
}
dd + p {
	margin-left: 18px;
	border-bottom: none;
}


dl {
	margin: 0;
	padding: .3em 1.8em 1.8em;
	@include font-serif;
	font-size: 12px;
	line-height: 2em;
	background-color: #a1e9f1;

	a {
		font-size: 16px;
	}

	p a {
		font-size: 14px;
	}

	@include breakpoint(tablet) {
		padding: .3em 6em 1.8em 3.2em;
	}

	&.twee {
		padding-bottom: 40px;
		background-color: #75e2ef;
	}

	&.alt {
		padding-bottom: 40px;
		color: #666;
		background-color: #eee;
	
		p {
			font-size: 12px;
		}
	}
}

dd {
	display: list-item;
	list-style-type: disc;
	margin: 0 0 0 18px;
}

dl + p {
	padding: 1.5em 1.8em 1.8em 1.5em;
	font-size: 12px;

	@include breakpoint(tablet) {
		padding: 1.5em 4em 1.8em 2.4em;
	}
}

