/* - - optimum.post.scss - - - - - - - - - - - - - - - - - - - - - - - - - -


   Premium, maar dan beter uitgevoerd!


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


	@import 'partials/_screen.breakpoints.scss'; 			// vars en mixins
	@import 'partials/_screen.kleuren.scss';				// vars
	@import 'partials/_screen.vormen.scss';					// vars

	@import 'partials/_screen.typografie.etica.scss'; 		// vars, mixins en declaraties
	@import 'partials/_screen.typografie.guardian.scss';	// vars, mixins en declaraties
	@import 'partials/_screen.typografie.scss'; 			// vars, mixins en declaraties


// -------------------------------------------------------------------------



article {
	position: relative;

	width: 308px;
	margin: 0 auto 6px;
	background: $wit;

	@include breakpoint(iphone-zes) {
		width: 363px;
	}

	@include breakpoint(iphone-zesplus) {
		width: 402px;
	}

	@include breakpoint(tablet) {
		width: 756px;
	}

	header {
		position: relative;

		div {
			position: absolute;
			z-index: 10;
			bottom: 12px;
			margin: 0 18px;
			color: $wit;
		
			@include breakpoint(tablet) {
				bottom: 24px;
				margin: 0 48px 0 81px;
			}
		}
	}
}


.tekst {
	margin: 24px 15px 0 18px;
	padding: 0 0 120px;

	@include breakpoint(tablet) {
		margin: 24px 56px 0 72px;
	}
}


// tussenkopjes op artikelpagina's
h3 {
	margin: 27px 0 0;
	font-family: $etica_regular;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 1.15em;
	color: $nrc-rood;

	@include breakpoint(iphone-zes) {
		margin: 30px 0 0;
		font-size: 15px;
	}

	@include breakpoint(iphone-zesplus) {
		margin: 32px 0 0;
		font-size: 15px;
	}

	@include breakpoint(tablet) {
		margin: 36px 0 6px;
		font-size: 16px;
	}
}

h3 + p {
	margin: 6px 0 0;
}

p {
	margin: 12px 0;
	font-size: 15px;
	line-height: 1.6em;

	@include breakpoint(tablet) {
		font-size: 18px;
		line-height: 1.5em;
	}
}


p.intro {
	margin: 0 0 18px;
	font-size: 18px;
	line-height: 1.45em;	

	@include breakpoint(tablet) {
		margin: 36px 0 18px;
		font-size: 22px;
		line-height: 1.5em;	
	}
}


p.noot {
	margin: 32px 0 0;
	font-family: $etica-book;
	font-size: 11px;
	line-height: 1.2em;
	color: $bijnagrijs;

	@include breakpoint(tablet) {
		margin: 36px 0 18px;
		font-size: 13px;
		line-height: 1.4em;
	}

	br {
		display: none;

		@include breakpoint(tablet) {
			display: block;
		}
	}
}


.byline {
	position: relative;
	height: 24px;
	margin: 21px 0 30px;
	font-family: $etica-book;

	@include breakpoint(tablet) {
		height: 48px;
		margin: 24px 0 36px;
	}

	img {
		display: inline-table;
		width: 24px;
		height: 24px;
		margin: 0 0 0 -3px;
		border-radius: 24px;

		@include breakpoint(tablet) {
			width: 48px;
			height: 48px;
			margin: 0 0 0 -6px;
			border-radius: 48px;
		}
	}

	p {
		position: absolute;
		display: inline-table;
		top: -6px;
		left: 30px;
		font-size: 13px;
		line-height: 1em;
	
		@include breakpoint(iphone-zes) {
			font-size: 14px;
		}
	
		@include breakpoint(iphone-zesplus) {
			font-size: 15px;
		}

		@include breakpoint(tablet) {
			top: 4px;
			left: 52px;
			font-size: 16px;
		}
	}
}


.streamer {
	display: block;
	margin: 24px 24px;
	font-size: 16px;
	line-height: 1.5em;
	color: $grijzer;

	@include breakpoint(iphone-zes) {
		font-size: 17px;
	}

	@include breakpoint(iphone-zesplus) {
		font-size: 18px;
	}

	@include breakpoint(tablet) {
		float: right;
		width: 280px;
		margin: 4px 0 24px 30px;
		font-family: $geh-thin;
		text-align: right;
		font-size: 23px;
		line-height: 1.7em;
	}
}


.inzet {
	margin: 32px 0;
	padding: 24px 24px 18px;
	background-color: $donkerwit;
	@include border-radius;

	@include breakpoint(tablet) {
		margin: 36px 0;
		padding: 32px 36px 24px;
	}

	h3 {
		margin: 0 0 7px;
		color: $donkergrijs;
	}
	
	p {
		font-size: 13px;
		line-height: 1.65em;

		@include breakpoint(tablet) {
			font-size: 16px;
		}
	}
	
	p:last-child {
		margin-bottom: 0;
	}
}


// standaard is een vierkante featured image
article {
	figure {
		width: 320px;
		height: 228px;
	
		img {
			top: 0;
			left: 0;
		}
	
		@include breakpoint(iphone-zes) {
			width: 363px;
			height: 363px;
		}
	
		@include breakpoint(iphone-zesplus) {
			width: 402px;
			height: 402px;
		}
	
		@include breakpoint(tablet) {
			margin-top: -60px;
			width: 756px;
			height: 756px;
	
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

// foto-artikelen hebben een liggende featured image
article.foto {
	figure {
		@include breakpoint(iphone-zes) {
			width: 363px;
			height: 252px;
			
			img {
				top: -20%;
				left: 0;
			}
		}
	
		@include breakpoint(iphone-zesplus) {
			width: 402px;
			height: 274px;
			
			img {
				top: -20%;
				left: 0;
			}
		}

		@include breakpoint(tablet) {
			width: 756px;
			height: 425px;
		}
	}
}


