
/* voorkom dat titeltjes over iframe heenzweven */
.post header { z-index: auto; }

/* iframe verborgen positioneren */
.article-overlay { 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 6000px;	/* 	dit moet hoog genoeg zijn om de volledige
						inhoud van de artikelpagina te tonen       */
	opacity: 0;
	display: none;
	-webkit-transition-property: opacity;
	transition-property: opacity;

	/* dit bepaalt de snelheid van het infaden: */
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}

.pre-fade-in-active .article-overlay {
	display: block; }
.fade-in-active .article-overlay {
	opacity: 1; }

/* fix iframe scrolling na infaden door alle inhoud van homepage te verbergen */
.post-fade-in main {
	display: none; }
.post-fade-in .article-overlay {
	position: static; }

