/* - - optimum.scss - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


	Premium, maar dan beter uitgevoerd!


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

	@import 'partials/_screen.breakpoints.scss'; 			// vars en mixins
	@import 'partials/_screen.vormen.scss'; 					// vars
	@import 'partials/_screen.kleuren.scss';					// vars
	@import 'partials/_screen.reset.scss'; 					// declaraties

	@import 'partials/_screen.typografie.etica.scss'; 		// vars, mixins en declaraties
	@import 'partials/_screen.typografie.guardian.scss';		// vars, mixins en declaraties
	@import 'partials/_screen.typografie.typewriter.scss'; 	// vars, mixins en declaraties
	@import 'partials/_screen.typografie.scss'; 				// vars, mixins en declaraties

	@import 'partials/_screen.liefde.scss'; 					// declaraties

	// speciaal geoptimummiseerd
	@import '_optimum.header.scss';
	@import '_optimum.beelden.scss';

// -------------------------------------------------------------------------




html {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}


body {
	@include font-serif;
	background: $wit;
}


main {
	max-width: 320px;
	margin: 47px auto 0;
	padding: 0;

	@include breakpoint(iphone-zes) {
		max-width: 375px;
	}

	@include breakpoint(iphone-zesplus) {
		max-width: 414px;
	}

	@include breakpoint(tablet) {
		max-width: 756px;
		margin: 59px auto 0;
	}
}


.post {
	position: relative;
	display: inline-table;
	min-height: 150px;
	height: auto;
	width: 308px;
	margin: 3px 6px;
	background: $wit;
	
	@include breakpoint(iphone-zes) {
		width: 363px;
	}

	@include breakpoint(iphone-zesplus) {
		width: 402px;
	}

	@include breakpoint(tablet) {
		margin: 3px 0;
		width: 756px; 
	}

	header {
		position: absolute;
		z-index: 10;
		bottom: 18px;
		margin: 0 18px;
		color: $wit;
	
		@include breakpoint(tablet) {
			bottom: 24px;
			margin: 0 48px 0 81px;
		}
	}
}


h1 { // titels bovenaan postpagina's
	@include font-headline;
	font-size: 30px;
	line-height: 1.15em;
	text-shadow: 2px 2px 4px rgba($bijnazwart, .5);

	@include breakpoint(iphone-zes) {
		font-size: 32px;
	}

	@include breakpoint(iphone-zesplus) {
		font-size: 36px;
	}

	@include breakpoint(tablet) {
		font-size: 52px;
		line-height: 1.07em;
	}
}


// titels op homepage
h2 {
	@include font-headline;
	font-size: 24px;
	line-height: 1.15em;
	text-shadow: 2px 2px 3px rgba($bijnazwart, .6);

	@include breakpoint(iphone-zes) {
		font-size: 27px;
	}

	@include breakpoint(iphone-zesplus) {
		font-size: 32px;
	}

	@include breakpoint(tablet) {
		font-size: 36px; 
	}
}

// in grote postjes op je tablet
.groot h2 {
	@include breakpoint(tablet) {
		font-size: 52px; 
	}
}


// rubriek of trefwoord
h4 {
	display: block;
	font-size: 13px;
	line-height: 1.15em;
	font-family: $etica_book;
	text-transform: uppercase;
	text-shadow: 2px 2px 3px rgba($bijnazwart, .6);

	@include breakpoint(iphone-zes) {
		font-size: 14px;
		line-height: 1.65em;
	}

	@include breakpoint(iphone-zesplus) {
		font-size: 15px;
		line-height: 1.8em;
	}

	@include breakpoint(tablet) {
		font-size: 15px; 
		line-height: 2.4em;
	}
}


// standaard maatvoering voor postjes met beeld
figure {
	position: relative;
	width: 308px;
	height: 308px;
	overflow: hidden;
	background: #ddd;

	@include breakpoint(iphone-zes) {
		width: 363px;
		height: 363px;
	}

	@include breakpoint(iphone-zesplus) {
		width: 402px;
		height: 402px;
	}

	@include breakpoint(tablet) {
		width: 756px; 
		height: 756px;
	}

	img,
	video {
		position: absolute;
		width: 308px;
		height: 308px;
		right: 0;

		@include breakpoint(iphone-zes) {
			width: 363px;
			height: 363px;
		}

		@include breakpoint(iphone-zesplus) {
			width: 402px;
			height: 402px;
		}

		@include breakpoint(tablet) {
			width: 756px; 
			height: 756px;
		}
	}
}


.home .post {
	@include breakpoint(tablet) {
		display: inline-table;
		float: left;
		width: 369px;
		height: 369px;
		margin: 3px 0;

		header {
			width: 320px;
			margin: 0 18px;
			
			h4 {
				line-height: 2.1em;
			}
		}
		
		figure,
		video,
		img {
			width: 375px;
			height: 375px;
		}
	}

	&:nth-child(odd) {
	    margin: 3px -6px 3px 6px;
	}

	&:first-child {
		margin-top: 1px;
	}
	&:last-child {
		margin-bottom: 6px;
	}
}

// meestal de bovenste beste, op je iPad
.home .post.groot {
	@include breakpoint(tablet) {
		width: 756px;
		height: 756px;
		margin: -60px 0 3px;
		
		header {
			width: 640px;
		}
		
		figure,
		video,
		img {
			width: 756px;
			height: 756px;
		}	
	}	

	img {
		width: 180%;
		height: auto;
		top: 0%;
		left: -10%;
	}
}

.post.foto {
	img {
		width: 100%;
		height: auto;
		top: 0;
		left: 0;
	}
}







/* pop-up - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#popup {
    display: none; // maak zichtbaar met een tap op het facebook-linkje
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 5000px;
    top: 0;
	right: 0;
    background: rgba($facebook-kleur, .6);

	.bedankje {
	    position: absolute;
	    overflow: hidden;
		width: 260px;
		height: 210px;
		top: 120px;
		left: 50%;
		margin: 0 0 0 -136px;
		border: 6px solid darken($facebook-donker, 5);
		background: rgba($facebook-donker, 1);
		@include border-radius(6px);

		@include breakpoint(iphone-zes) {
			width: 272px;
			margin-left: -145px;
			border: 8px solid darken($facebook-donker, 5);
			@include border-radius(8px);
		}

		@include breakpoint(iphone-zesplus) {
			width: 300px;
			margin-left: -160px;
			border: 9px solid darken($facebook-donker, 5);
			@include border-radius(9px);
		}

		@include breakpoint(tablet) {
			width: 480px;
			top: 360px;
			border: 12px solid darken($facebook-donker, 5);
			@include border-radius(12px);
		}
	
		p {
			position: absolute;
			top: 32px;
			font-size: 48px;
			line-height: 1.1em;
			color: $wit;
			text-align: center;
			text-shadow: 0px 0px 32px rgba($wit, .2);
	
			@include breakpoint(tablet) {
				top: 45px;
				font-size: 60px;
				text-shadow: 0px 0px 32px rgba($wit, .3);
			}
		}
	}
}


